
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!-- Item -->
<div class="cbp-item graphic">
  <div class="cbp-caption">
    <div class="cbp-caption-defaultWrap">
      <img src="../../assets/img/500x330/img15.jpg.html" alt="Image Description">
    </div>
    <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignCenter d-flex align-items-start">
        <div class="mb-auto p-3">
          <h4 class="h5 mb-0">Remind me more</h4>
          <p class="small mb-0">
            by Tiberiu Neamu
          </p>
        </div>

        <ul class="list-inline mt-auto ml-auto p-3 mb-0">
          <li class="list-inline-item">
            <a class="u-icon u-icon--primary rounded-circle" href="single-page-simple.html">
              <span class="fa fa-link u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="cbp-lightbox u-icon u-icon--primary rounded-circle" href="../../assets/img/1920x1080/img26.jpg.html">
              <span class="fa fa-images u-icon__inner"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Item -->

<!-- Item -->
<div class="cbp-item branding">
  <div class="cbp-caption">
    <div class="cbp-caption-defaultWrap">
      <img src="../../assets/img/500x330/img16.jpg.html" alt="Image Description">
    </div>
    <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignCenter d-flex align-items-start">
        <div class="mb-auto p-3">
          <h4 class="h5 mb-0">Workout buddy</h4>
          <p class="small mb-0">
            by Tiberiu Neamu
          </p>
        </div>

        <ul class="list-inline mt-auto ml-auto p-3 mb-0">
          <li class="list-inline-item">
            <a class="u-icon u-icon--primary rounded-circle" href="single-page-simple.html">
              <span class="fa fa-link u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="cbp-lightbox u-icon u-icon--primary rounded-circle" href="../../assets/img/1920x1080/img8.jpg.html">
              <span class="fa fa-images u-icon__inner"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Item -->

<!-- Item -->
<div class="cbp-item abstract">
  <div class="cbp-caption">
    <div class="cbp-caption-defaultWrap">
      <img src="../../assets/img/500x330/img17.jpg.html" alt="Image Description">
    </div>
    <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignCenter d-flex align-items-start">
        <div class="mb-auto p-3">
          <h4 class="h5 mb-0">Easy note</h4>
          <p class="small mb-0">
            by Cosmin Capitanu
          </p>
        </div>

        <ul class="list-inline mt-auto ml-auto p-3 mb-0">
          <li class="list-inline-item">
            <a class="u-icon u-icon--primary rounded-circle" href="single-page-simple.html">
              <span class="fa fa-link u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="cbp-lightbox u-icon u-icon--primary rounded-circle" href="../../assets/img/1920x1080/img28.jpg.html">
              <span class="fa fa-images u-icon__inner"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Item -->

<!-- Item -->
<div class="cbp-item graphic illustration">
  <div class="cbp-caption">
    <div class="cbp-caption-defaultWrap">
      <img src="../../assets/img/500x330/img18.jpg.html" alt="Image Description">
    </div>
    <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignCenter d-flex align-items-start">
        <div class="mb-auto p-3">
          <h4 class="h5 mb-0">Designing</h4>
          <p class="small mb-0">
            by Cosmin Capitanu
          </p>
        </div>

        <ul class="list-inline mt-auto ml-auto p-3 mb-0">
          <li class="list-inline-item">
            <a class="u-icon u-icon--primary rounded-circle" href="single-page-simple.html">
              <span class="fa fa-link u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="cbp-lightbox u-icon u-icon--primary rounded-circle" href="../../assets/img/1920x1080/img29.jpg.html">
              <span class="fa fa-images u-icon__inner"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Item -->

<!-- Item -->
<div class="cbp-item graphic illustration">
  <div class="cbp-caption">
    <div class="cbp-caption-defaultWrap">
      <img src="../../assets/img/500x330/img19.jpg.html" alt="Image Description">
    </div>
    <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignCenter d-flex align-items-start">
        <div class="mb-auto p-3">
          <h4 class="h5 mb-0">Designing</h4>
          <p class="small mb-0">
            by Cosmin Capitanu
          </p>
        </div>

        <ul class="list-inline mt-auto ml-auto p-3 mb-0">
          <li class="list-inline-item">
            <a class="u-icon u-icon--primary rounded-circle" href="single-page-simple.html">
              <span class="fa fa-link u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="cbp-lightbox u-icon u-icon--primary rounded-circle" href="../../assets/img/1920x1080/img27.jpg.html">
              <span class="fa fa-images u-icon__inner"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Item -->