﻿<!DOCTYPE html>
<html lang="tr">
<head>
    <title>TripAllMed</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/Content/assets/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/Content/assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="/Content/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="/Content/assets/vendor/custombox/dist/custombox.min.css">
    <link rel="stylesheet" href="/Content/assets/vendor/animate.css/animate.min.css">
    <link rel="stylesheet" href="/Content/assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/Content/assets/vendor/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="/Content/assets/vendor/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/Content/assets/css/style.css">
    <link href="/Content/assets/plugins/general/sweetalert2/dist/sweetalert2.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/plugins/general/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/plugins/general/select2/dist/css/select2.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <!-- Skippy -->
    <a id="skippy" class="sr-only sr-only-focusable u-skippy" href="#content">
        <div class="container">
            <span class="u-skiplink-text">Ana içeriğe git...</span>
        </div>
    </a>
    <!-- End Skippy -->
    <!-- ========== MAIN CONTENT ========== -->
    <main class="container-fluid" id="content">
        @RenderBody()
    </main>
    <!-- ========== ANA ICERIK SONU ========== -->
    <!-- ========== FOOTER ========== -->
    @Html.Partial("_Footer")
    <!-- ========== END FOOTER ========== -->
    <!-- YUKARI OK -->
    <a class="js-go-to u-go-to" href="javascript:;"
       data-position='{"bottom": 15, "right": 15 }'
       data-type="fixed"
       data-offset-top="400"
       data-compensation="#header"
       data-show-effect="slideInUp"
       data-hide-effect="slideOutDown">
        <span class="fa fa-arrow-up u-go-to__inner"></span>
    </a>
    <!-- YUKARI OK SONU -->

    <script src="/Content/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/Content/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="/Content/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="/Content/assets/vendor/bootstrap/bootstrap.min.js"></script>

    <script src="/Content/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script src="/Content/assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/Content/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/Content/assets/vendor/custombox/dist/custombox.min.js"></script>
    <script src="/Content/assets/vendor/custombox/dist/custombox.legacy.min.js"></script>
    <script src="/Content/assets/vendor/slick-carousel/slick/slick.js"></script>
    <script src="/Content/assets/vendor/fancybox/jquery.fancybox.min.js"></script>
    <script src="/Content/assets/vendor/typed.js/lib/typed.min.js"></script>

    <script src="/Content/assets/js/hs.core.js"></script>
    <script src="/Content/assets/js/components/hs.header.js"></script>
    <script src="/Content/assets/js/components/hs.unfold.js"></script>
    <script src="/Content/assets/js/components/hs.validation.js"></script>
    <script src="/Content/assets/js/helpers/hs.focus-state.js"></script>
    <script src="/Content/assets/js/components/hs.malihu-scrollbar.js"></script>
    <script src="/Content/assets/js/components/hs.modal-window.js"></script>
    <script src="/Content/assets/js/components/hs.show-animation.js"></script>
    <script src="/Content/assets/js/components/hs.slick-carousel.js"></script>
    <script src="/Content/assets/js/components/hs.fancybox.js"></script>
    <script src="/Content/assets/js/components/hs.go-to.js"></script>
    <script src="/Content/assets/js/components/hs.wizard.js"></script>
    <script src="/Content/assets/plugins/general/sweetalert2/dist/sweetalert2.min.js" type="text/javascript"></script>
    <script src="/Content/assets/plugins/general/js/global/integration/plugins/sweetalert2.init.js" type="text/javascript"></script>
    <script src="/Content/assets/js/core/alert.js"></script>
    <script src="/Content/assets/plugins/general/plugins/bootstrap-multiselectsplitter/bootstrap-multiselectsplitter.min.js" type="text/javascript"></script>
    <script src="/Content/assets/plugins/general/bootstrap-select/dist/js/bootstrap-select.js" type="text/javascript"></script>
    <script src="/Content/assets/plugins/general/select2/dist/js/select2.full.js" type="text/javascript"></script>



    <script>
        $(window).on('load', function () {
            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991,
                hideTimeOut: 0
            });
        });

        $(document).on('ready', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#header'));

            // initialization of unfold component
            $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
                afterOpen: function () {
                    if (!$('body').hasClass('IE11')) {
                        $(this).find('input[type="search"]').focus();
                    }
                }
            });

            // initialization of wizard
            $.HSCore.components.HSWizard.init('.js-wizard');

            // initialization of forms
            $.HSCore.helpers.HSFocusState.init();

            // initialization of malihu scrollbar
            $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

            // initialization of autonomous popups
            $.HSCore.components.HSModalWindow.init('[data-modal-target]', '.js-signup-modal', {
                autonomous: true
            });

            // initialization of show animations
            $.HSCore.components.HSShowAnimation.init('.js-animation-link');

            // initialization of slick carousel
            $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

            // initialization of fancybox
            $.HSCore.components.HSFancyBox.init('.js-fancybox');

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');
        });
    </script>

    <script>
        $(document).on('ready', function () {
            // initialization of text animation (typing)
            var typed = new Typed(".u-text-animation.u-text-animation--typing", {
                strings: ["Sağlık", "Turizm"],
                typeSpeed: 130,
                loop: true,
                backSpeed: 50,
                backDelay: 3000
            });
        });
    </script>
    @RenderSection("RegisterJs", false)
    @RenderSection("LoginJs", false)

</body>
</html>