﻿<footer class="bg-dark pt-9">
    <div class="container">
        <div class="row justify-content-md-between">
            <div class="col-6 col-md-3 col-lg-2 order-lg-3 mb-7 mb-lg-0">
                <h3 class="h6 text-white mb-3">Hakkımızda</h3>

                <div class="list-group list-group-flush list-group-transparent">
                    <a class="list-group-item list-group-item-action" href="#">Tarihçemiz</a>
                    <a class="list-group-item list-group-item-action" href="#">Misyonumuz</a>
                    <a class="list-group-item list-group-item-action" href="#">Vizyonumuz</a>
                    <a class="list-group-item list-group-item-action" href="#">Kalite Politikamız</a>
                </div>
            </div>

            <div class="col-6 col-md-3 col-lg-2 order-lg-4 mb-7 mb-lg-0">
                <h3 class="h6 text-white mb-3">Hizmetler</h3>

                <div class="list-group list-group-flush list-group-transparent">
                    <a class="list-group-item list-group-item-action" href="#">Sağlık</a>
                    <a class="list-group-item list-group-item-action" href="#">Turizm</a>
                    <a class="list-group-item list-group-item-action" href="#">Konaklama</a>
                    <a class="list-group-item list-group-item-action" href="#">Araç Kiralama</a>
                    <a class="list-group-item list-group-item-action" href="#">Çevirmen Hizmetleri</a>
                    <a class="list-group-item list-group-item-action" href="#">VIP Hizmetler</a>
                </div>
            </div>

            <div class="col-6 col-md-3 col-lg-2 order-lg-5 mb-7 mb-lg-0">
                <h3 class="h6 text-white mb-3">Çözüm Ortaklarımız</h3>

                <div class="list-group list-group-flush list-group-transparent">
                    <a class="list-group-item list-group-item-action" href="#">Ortağımız Olun</a>
                    <a class="list-group-item list-group-item-action" href="#">Hizmet Şartları</a>
                    <a class="list-group-item list-group-item-action" href="#">Yardım</a>
                </div>
            </div>

            <div class="col-6 col-md-3 col-lg-2 order-lg-6 mb-7 mb-lg-0">
                <h3 class="h6 text-white mb-3">Sosyal Medya</h3>

                <div class="list-group list-group-flush list-group-transparent">
                    <a class="list-group-item list-group-item-action" href="#">
                        <span class="fab fa-facebook-f min-width-3 text-center mr-2"></span>
                        Facebook
                    </a>
                    <a class="list-group-item list-group-item-action" href="#">
                        <span class="fab fa-twitter min-width-3 text-center mr-2"></span>
                        Twitter
                    </a>
                    <a class="list-group-item list-group-item-action" href="#">
                        <span class="fab fa-instagram min-width-3 text-center mr-2"></span>
                        Instagram
                    </a>
                    <a class="list-group-item list-group-item-action" href="#">
                        <span class="fab fa-linkedin min-width-3 text-center mr-2"></span>
                        Linkedin
                    </a>
                </div>
            </div>

            <div class="col-lg-4 order-lg-1 d-flex align-items-start flex-column">
                <!-- Logo -->
                <a class="d-inline-block mb-5" href="index.html" aria-label="Space">
                    <img src="/Content/assets/svg/logos/logo-white.svg" alt="Logo" style="width: 140px; max-width: 100%;">
                </a>
                <!-- End Logo -->

                <div class="btn-group d-block position-relative mb-4 mb-lg-auto">
                    <p class="small text-white"><strong>Sağlık ve Turizm Hizmetleri A.Ş.</strong></p>
                    <p class="small text-white">Esentepe Mh. Gündoğdu Cad. Manolya Sk. Garipler Apt. 12A/5 İstanbul / TÜRKİYE</p>
                    <p class="small text-white">+90 (212) 123 45 67</p>


                </div>

            </div>
        </div>
        <hr class="footer-separator">

        <div class="row py-2 d-flex justify-content-md-between">
            <div class="col">
                <p class="small text-muted">Her hakkı saklıdır. &copy; MedicaTour. 2019</p>
            </div>
            <div class="col">
                <p class="small text-muted text-md-right">Web Tasarım: <a href="https://www.zemedya.com">ZEMEDYA</a></p>
            </div>
        </div>
    </div>
</footer>
