﻿<html lang="tr">
<head>
    <title>TripAllMed</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/Content/assets/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/Content/assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="/Content/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="/Content/assets/vendor/custombox/dist/custombox.min.css">
    <link rel="stylesheet" href="/Content/assets/vendor/animate.css/animate.min.css">
    <link rel="stylesheet" href="/Content/assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/Content/assets/vendor/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="/Content/assets/vendor/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/Content/assets/vendor/simplebar/simplebar.css">
    <link rel="stylesheet" href="/Content/assets/css/style.css">

    <link href="/Content/assets/plugins/general/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/plugins/general/bootstrap-datetime-picker/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/plugins/general/bootstrap-timepicker/css/bootstrap-timepicker.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/plugins/general/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />


    @*<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>*@
</head>

<body>
    <!-- Skippy -->
    <a id="skippy" class="sr-only sr-only-focusable u-skippy" href="#content">
        <div class="container">
            <span class="u-skiplink-text">Ana içeriğe git...</span>
        </div>
    </a>
    <!-- End Skippy -->
    <!-- ========== HEADER ========== -->
    <header id="headerClassic" class="u-header u-header--bordered">
        <div class="u-header__section bg-dark">
            <div id="logoAndNavClassic" class="container-fluid">
                <!-- Nav -->
                <nav class="js-mega-menu navbar navbar-expand-lg u-header__navbar hs-menu-initialized hs-menu-horizontal">
                    <!-- Logo -->
                    <div class="u-header__navbar-brand-wrapper">
                        <a class="navbar-brand u-header__navbar-brand" href="/" aria-label="Space">
                            <img class="u-header__navbar-brand-default" src="/Content/assets/svg/logos/logo.svg" alt="Logo">
                            <img class="u-header__navbar-brand-mobile" src="/Content/assets/svg/logos/logo.svg" alt="Logo">
                        </a>
                    </div>
                    <!-- Logo -->
                    <!-- Mobil Menü Butonu -->
                    <button type="button" class="navbar-toggler btn u-hamburger u-header__hamburger" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBarClassic" data-toggle="collapse" data-target="#navBarClassic">
                        <span class="d-none d-sm-inline-block">Menü</span>
                        <span id="hamburgerTriggerClassic" class="u-hamburger__box ml-3">
                            <span class="u-hamburger__inner"></span>
                        </span>
                    </button>
                    <!-- Mobil Menü Butonu -->
                    <!-- Arama Kutusu -->
                    <div class="arama mx-auto tablette-gizle">
                        <div class="input-group rounded-pill bg-light overflow-hidden p-1">
                            <input type="search" class="form-control form-control-sm bg-light rounded-pill border-0" placeholder="Kelime, İlan No# veya İsmi ile Ara" aria-label="Kelime, İlan No# veya İsmi ile Ara">

                            <div class="input-group-append">
                                <button type="button" class="btn btn-sm btn-primary rounded-pill font-weight-medium px-4 py-2 mr-2">
                                    <span class="fa fa-search btn-icon__inner"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Arama Kutusu -->
                    <!-- Navigation -->
                    <div id="navBarClassic" class="collapse navbar-collapse u-header__navbar-collapse py-0" style="flex-grow:0;">
                        <ul class="navbar-nav u-header__navbar-nav navbar-sag">

                            <!-- Mobil Arama -->
                            <div class="mobil-arama masa-ustunde-gizle">
                                <div class="input-group rounded-pill bg-light overflow-hidden p-1">
                                    <input type="search" class="form-control form-control-sm bg-light rounded-pill border-0" placeholder="Kelime, İlan No# veya İsmi ile Ara" aria-label="Kelime, İlan No# veya İsmi ile Ara">

                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-sm btn-primary rounded-pill font-weight-medium px-4 py-2 mr-2">
                                            <span class="fa fa-search btn-icon__inner"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobil Arama -->
                            <!-- Giriş/Kayıt -->
                            <li class="nav-item u-header__nav-item-btn">
                                @Html.Action("_LoginButton", "Account")
                            </li>
                            <!-- Giriş/Kayıt -->
                            <!-- Dil Değiştirme -->
                            <li class="nav-item u-header__nav-item-btn tablette-gizle">
                                <div class="position-relative">
                                    <a id="dropdownBasicExampleInvoker" class="u-unfold-wrapper text-primary" href="javascript:;" role="button" aria-controls="dropdownBasicExample" aria-haspopup="true" aria-expanded="false" data-unfold-event="hover" data-unfold-target="#dropdownBasicExample" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300" data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp" data-unfold-animation-out="fadeOut">

                                        <i class="svg-icon svg-icon-xs text-primary">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <g id="Stockholm-icons-/-Home-/-Earth" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                                                    <circle id="Oval" fill="#000000" opacity="0.3" cx="12" cy="12" r="9"></circle>
                                                    <path d="M11.7357634,20.9961946 C6.88740052,20.8563914 3,16.8821712 3,12 C3,11.9168367 3.00112797,11.8339369 3.00336944,11.751315 C3.66233009,11.8143341 4.85636818,11.9573854 4.91262842,12.4204038 C4.9904938,13.0609191 4.91262842,13.8615942 5.45804656,14.101772 C6.00346469,14.3419498 6.15931561,13.1409372 6.6267482,13.4612567 C7.09418079,13.7815761 8.34086797,14.0899175 8.34086797,14.6562185 C8.34086797,15.222396 8.10715168,16.1034596 8.34086797,16.2636193 C8.57458427,16.423779 9.5089688,17.54465 9.50920913,17.7048097 C9.50956962,17.8649694 9.83857487,18.6793513 9.74040201,18.9906563 C9.65905192,19.2487394 9.24857641,20.0501554 8.85059781,20.4145589 C9.75315358,20.7620621 10.7235846,20.9657742 11.7357634,20.9960544 L11.7357634,20.9961946 Z M8.28272988,3.80112099 C9.4158415,3.28656421 10.6744554,3 12,3 C15.5114513,3 18.5532143,5.01097452 20.0364482,7.94408274 C20.069657,8.72412177 20.0638332,9.39135321 20.2361262,9.6327358 C21.1131932,10.8600506 18.0995147,11.7043158 18.5573343,13.5605384 C18.7589671,14.3794892 16.5527814,14.1196773 16.0139722,14.886394 C15.4748026,15.6527403 14.1574598,15.137809 13.8520064,14.9904917 C13.546553,14.8431744 12.3766497,15.3341497 12.4789081,14.4995164 C12.5805657,13.664636 13.2922889,13.6156126 14.0555619,13.2719546 C14.8184743,12.928667 15.9189236,11.7871741 15.3781918,11.6380045 C12.8323064,10.9362407 11.963771,8.47852395 11.963771,8.47852395 C11.8110443,8.44901109 11.8493762,6.74109366 11.1883616,6.69207022 C10.5267462,6.64279981 10.170464,6.88841096 9.20435656,6.69207022 C8.23764828,6.49572949 8.44144409,5.85743687 8.2887174,4.48255778 C8.25453994,4.17415686 8.25619136,3.95717082 8.28272988,3.80112099 Z M20.9991771,11.8770357 C20.9997251,11.9179585 21,11.9589471 21,12 C21,16.9406923 17.0188468,20.9515364 12.0895088,20.9995641 C16.970233,20.9503326 20.9337111,16.888438 20.9991771,11.8770357 Z" id="Combined-Shape" fill="#000000" opacity="0.3"></path>
                                                </g>
                                            </svg>
                                        </i>
                                        TR
                                        <span class="fa fa-angle-down u-unfold__icon-pointer"></span>
                                    </a>

                                    <div id="dropdownBasicExample" class="u-unfold list-group list-group-flush list-group-borderless mt-2 u-unfold--css-animation u-unfold--hidden fadeOut" aria-labelledby="dropdownBasicExampleInvoker" style="animation-duration: 300ms;">
                                        <a class="list-group-item list-group-item-action" href="#">TÜRKÇE</a>
                                        <a class="list-group-item list-group-item-action" href="#">ENGLISH</a>
                                        <a class="list-group-item list-group-item-action" href="#">العربية</a>
                                    </div>
                                </div>
                            </li>
                            <!-- Dil Değiştirme Sonu -->
                            <!-- Mobil Dil değiştirme -->
                            <li class="nav-item masa-ustunde-gizle">
                                <div class="mobil-dil">
                                    <a href="#"><img src="/Content/assets/vendor/flag-icon-css/flags/4x3/tr.svg" alt="English"></a>
                                    <a href="#"><img src="/Content/assets/vendor/flag-icon-css/flags/4x3/us.svg" alt="Türkçe"></a>
                                    <a href="#"><img src="/Content/assets/vendor/flag-icon-css/flags/4x3/sa.svg" alt="العربية"></a>
                                </div>
                            </li>
                            <!-- Mobil Dil değiştirme -->

                        </ul>
                    </div>
                    <!-- End Navigation -->
                </nav>
                <!-- End Nav -->
            </div>
        </div>
        <div class="alt-nav">
            <ul class="neredeyim">
                <li><a href="#">Ana Sayfa</a></li>
                <li><a href="#">Sağlık</a></li>
            </ul>
            <ul class="alt-nav__linkler">
                <li>
                    <a href="#"><span class="fa fa-heart text-secondary"></span> <span class="mobilde-gizle">Favorilerim</span></a>
                </li>
                <li>
                    <a href="#">
                        <button class="btn btn-xs btn-icon btn-text-secondary mx-2" type="button">
                            <span class="fa fa-envelope btn-icon__inner"></span>
                            <span class="badge-xs badge-warning badge-pos rounded-circle">7</span>
                        </button>
                        <span class="mobilde-gizle">Mesajlarım</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <button class="btn btn-xs btn-icon btn-text-secondary mx-2" type="button">
                            <span class="fa fa-shopping-cart btn-icon__inner"></span>
                            <span class="badge-xs badge-warning badge-pos rounded-circle">1</span>
                        </button>
                        <span class="mobilde-gizle">Sepetim</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <!-- ========== HEADER SONU ========== -->
    <!-- ========== ANA ICERIK ========== -->
    <main id="content" role="main">
        @RenderBody()
    </main>
    <!-- ========== ANA ICERIK SONU ========== -->
    <!-- ========== FOOTER ========== -->
    @Html.Partial("_Footer")
    <!-- ========== FOOTER SONU ========== -->
    <!-- YUKARI OK -->
    <a class="js-go-to u-go-to animated" href="javascript:;" data-position="{&quot;bottom&quot;: 15, &quot;right&quot;: 15 }" data-type="fixed" data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown" style="display: none; position: fixed; bottom: 15px; right: 15px; opacity: 0;">
        <span class="fa fa-arrow-up u-go-to__inner"></span>
    </a>
    <!-- YUKARI OK SONU -->

    <script src="/Content/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/Content/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="/Content/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="/Content/assets/vendor/bootstrap/bootstrap.min.js"></script>

    <script src="/Content/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script src="/Content/assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/Content/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/Content/assets/vendor/custombox/dist/custombox.min.js"></script>
    <script src="/Content/assets/vendor/custombox/dist/custombox.legacy.min.js"></script>
    <script src="/Content/assets/vendor/slick-carousel/slick/slick.js"></script>
    <script src="/Content/assets/vendor/fancybox/jquery.fancybox.min.js"></script>
    <script src="/Content/assets/vendor/typed.js/lib/typed.min.js"></script>
    <script src="/Content/assets/vendor/simplebar/simplebar.min.js"></script>

    <script src="/Content/assets/js/hs.core.js"></script>
    <script src="/Content/assets/js/components/hs.header.js"></script>
    <script src="/Content/assets/js/components/hs.unfold.js"></script>
    <script src="/Content/assets/js/components/hs.validation.js"></script>
    <script src="/Content/assets/js/helpers/hs.focus-state.js"></script>
    <script src="/Content/assets/js/components/hs.malihu-scrollbar.js"></script>
    <script src="/Content/assets/js/components/hs.modal-window.js"></script>
    <script src="/Content/assets/js/components/hs.show-animation.js"></script>
    <script src="/Content/assets/js/components/hs.slick-carousel.js"></script>
    <script src="/Content/assets/js/components/hs.fancybox.js"></script>
    <script src="/Content/assets/js/components/hs.go-to.js"></script>
    <script src="/Content/assets/js/components/hs.wizard.js"></script>


    <script src="/Content/assets/plugins/general/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="/Content/assets/plugins/general/js/global/integration/plugins/bootstrap-datepicker.init.js" type="text/javascript"></script>
    <script src="/Content/assets/plugins/general/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="/Content/assets/plugins/general/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <script src="/Content/assets/plugins/general/inputmask/dist/inputmask/inputmask.date.extensions.js" type="text/javascript"></script>
    <script src="/Content/assets/js/pages/crud/forms/widgets/bootstrap-datepicker.js" type="text/javascript"></script>


    <script>
        $(window).on('load', function () {
            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991,
                hideTimeOut: 0
            });
        });

        $(document).on('ready', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#header'));

            // initialization of unfold component
            $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
                afterOpen: function () {
                    if (!$('body').hasClass('IE11')) {
                        $(this).find('input[type="search"]').focus();
                    }
                }
            });

            // initialization of forms
            $.HSCore.helpers.HSFocusState.init();

            // initialization of malihu scrollbar
            $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

            // initialization of show animations
            $.HSCore.components.HSShowAnimation.init('.js-animation-link');

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');
        });
    </script>

    @RenderSection("HealthCategoryJs", false)
    @RenderSection("HealthDetailJs", false)

    <script>
        $(document).ready(function () {

            $("#_city_id").change(function () {
                var id = $("#_city_id").val();
                $.ajax({
                    type: "POST",
                    url: "/Home/GetCityTowns",
                    data: { id: id },
                    dataType: "json",
                    success: function (data) {
                        var city = $("#_town_id");
                        city.html("");
                        city.append('<option selected value="">İlçe Seçiniz</option>');
                        $.each(data, function (key, val) {
                            city.append('<option value="' + val.Id + '">' + val.TownName + '</option>');
                        });
                    }
                })
            })
        })
    </script>
</body>
</html>