﻿@if(ViewBag.UserName.Key == "health")
{
    <a class="nav-link u-header__nav-link" href="/HealthCompany/Panel/MyProfile">
        <span class="fa fa-user-circle mr-1"></span>@ViewBag.UserName.Value
    </a>
}
else if(ViewBag.UserName.Key == "tourism")
{
    <a class="nav-link u-header__nav-link" href="/TourismCompany/Panel/MyProfile">
        <span class="fa fa-user-circle mr-1"></span>@ViewBag.UserName.Value
    </a>
}
else
{
    <a class="nav-link u-header__nav-link" href="/Account/Login">
        <span class="fa fa-user-circle mr-1"></span>Giriş/Kayıt
    </a>
}

