﻿@model tripallmed.Models.DTO.LoginDTO
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<section class="uyelik-form py-auto">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 col-xl-4 mx-auto">
            <form class="js-validate form-signin p-4" action="/Account/Login" method="post">
                <!-- Logo -->
                <div class="text-center">
                    <a href="/Home/Index" aria-label="Space">
                        <img class="mb-3" src="/Content/assets/svg/logos/logo.svg" alt="TripallMedLogo" width="260">
                    </a>
                </div>
                <!-- End Logo -->
                <!-- Title -->
                <div class="text-center mb-4">
                    <h1 class="h3 mb-0">Lütfen giriş yapın</h1>
                </div>
                <!-- End Title -->
                <!-- Signin Social Buttons -->
                <div class="row mx-gutters-2 mb-4">
                    <div class="col-sm-6 mb-2 mb-sm-0">
                        <button type="button" class="btn btn-block btn-sm btn-facebook">
                            <span class="fab fa-facebook-f mr-2"></span>
                            Facebook ile giriş
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-block btn-sm btn-google">
                            <span class="fab fa-google mr-2"></span>
                            Google ile giriş
                        </button>
                    </div>
                </div>
                <!-- End Signin Social Buttons -->
                <!-- Divider -->
                <div class="text-center u-divider-wrapper my-3">
                    <span class="u-divider u-divider--xs u-divider--text">YA DA</span>
                </div>
                <!-- End Divider -->
                <!-- Input -->
                <div class="js-form-message mb-3">
                    <div class="js-focus-state input-group form">
                        <div class="input-group-prepend form__prepend">
                            <span class="input-group-text form__text">
                                <span class="fa fa-user form__text-inner"></span>
                            </span>
                        </div>
                        <input type="email" class="form-control form__input" name="Email" required placeholder="Eposta adresleri" value="@Model.Email" maxlength="100">
                    </div>
                    @Html.ValidationMessage("Email", new { @class = "small text-danger" })
                </div>
                <!-- End Input -->
                <!-- Input -->
                <div class="js-form-message mb-3">
                    <div class="js-focus-state input-group form">
                        <div class="input-group-prepend form__prepend">
                            <span class="input-group-text form__text">
                                <span class="fa fa-lock form__text-inner"></span>
                            </span>
                        </div>
                        <input type="password" maxlength="100" class="form-control form__input" name="Password" required placeholder="Parola">
                    </div>
                    @Html.ValidationMessage("Password", new { @class = "small text-danger" })
                </div>
                <!-- End Input -->

                <div class="row mb-3">
                    <div class="col-6">
                        <!-- Checkbox -->
                        <div class="custom-control custom-checkbox d-flex align-items-center text-muted">
                            <input type="checkbox" name="RememberMe" value="False" class="custom-control-input" id="rememberMeCheckbox">
                            <label id="rm" class="custom-control-label" for="rememberMeCheckbox">
                                Beni Hatırla
                            </label>
                        </div>
                        <!-- End Checkbox -->
                    </div>

                    <div class="col-6 text-right">
                        <a class="float-right text-danger" href="/Account/ResetPassword">Giriş Yapamıyorum</a>
                    </div>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-block btn-primary">Giriş Yap</button>
                </div>

                <div class="text-center mb-3">
                    <p class="text-muted">Hesabınız yok mu? <a href="/Account/Register">Kaydol</a></p>
                </div>

            </form>
        </div>
    </div>
</section>


@section LoginJs{
    <script>
        $(document).ready(function () {
            if (@ViewBag.LoginError == 1) {
                alertFail("Hatalı email veya şifre", "");
            }
        })

        $("#rememberMeCheckbox").change(function () {
            value = $("#rememberMeCheckbox").val()
            if (value == "true") {
                $("#rememberMeCheckbox").val(false)
            }
            else {
                $("#rememberMeCheckbox").val(true)
            }
        })

    </script>
}