﻿@model tripallmed.Models.DTO.RegisterDTO

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<section class="uyelik-form py-auto">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 col-xl-4 mx-auto">
            <form class="js-validate form-signin p-4" action="/Account/Register" method="post">
                <div class="text-center">
                    <a href="/Home/Index">
                        <img class="mb-3" src="/Content/assets/svg/logos/logo.svg" alt="TripallMed Logo" width="260">
                    </a>
                </div>
                <div class="text-center mb-4">
                    <h1 class="h3 mb-0">Kayıt tipi seçin</h1>
                </div>
                <div class="fd-example mb-4 d-flex justify-content-center">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">BİREYSEL KAYIT</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">KURUMSAL KAYIT</label>
                    </div>
                </div>

                <div class="row mx-gutters-2 mb-4">
                    <div class="col-sm-6 mb-2 mb-sm-0">
                        <button type="button" class="btn btn-block btn-sm btn-facebook">
                            <span class="fab fa-facebook-f mr-2"></span>
                            Facebook ile kayıt
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-block btn-sm btn-google">
                            <span class="fab fa-google mr-2"></span>
                            Google ile kayıt
                        </button>
                    </div>
                </div>

                <div class="text-center u-divider-wrapper my-3">
                    <span class="u-divider u-divider--xs u-divider--text">YA DA</span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="js-form-message mb-3">
                            <div class="js-focus-state input-group form">
                                <input type="text" class="form-control form__input" name="Name" maxlength="50" required="" placeholder="Adınız" value="@Model.Name">
                            </div>
                            @Html.ValidationMessage("Name", new { @class = "small text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="js-form-message mb-3">
                            <div class="js-focus-state input-group form">
                                <input type="text" class="form-control form__input" name="Surname" maxlength="50" required="" placeholder="Soyadınız" value="@Model.Surname">
                            </div>
                            @Html.ValidationMessage("Surname", new { @class = "small text-danger" })
                        </div>
                    </div>
                </div>

                <!-- Input -->
                <div class="js-form-message mb-3">
                    <div class="js-focus-state input-group form">
                        <input type="email" class="form-control form__input" name="Email" required="" maxlength="100" placeholder="E-posta adresiniz" value="@Model.Email">
                    </div>
                    @Html.ValidationMessage("Email", new { @class = "small text-danger" })

                </div>
                <!-- End Input -->
                <div class="js-form-message mb-3">
                    <div class="js-focus-state input-group form">
                        <input id="phone" class="form-control form__input" name="Phone" required="" maxlength="15" placeholder="Cep Telefonunuz" value="@Model.Phone">
                        @Html.ValidationMessage("Phone", new { @class = "small text-danger" })
                    </div>
                </div>
                <div class="js-form-message mb-3">
                    <div class="js-form-message mb-3">
                        <select name="Sector" class="form-control kt-selectpicker" required>
                            <option value="" selected="">Sektörünüzü seçiniz.</option>
                            <option value="health">Sağlık</option>
                            <option value="tourism">Turizm</option>
                        </select>
                        @Html.ValidationMessage("Sector", new { @class = "small text-danger" })
                    </div>
                </div>
                <!-- Input -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="js-form-message mb-3">
                            <div class="js-focus-state input-group form">
                                <input type="password" minlength="6" maxlength="100" class="form-control form__input" name="Password" required="" placeholder="Parola">
                            </div>
                            @Html.ValidationMessage("Password", new { @class = "small text-danger" })
                        </div>
                    </div>
                </div>
                <!-- End Input -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="sozlesme" name="MembershipAgreement" required>
                    <label class="form-check-label" for="sozlesme">
                        <a href="#">Üyelik Sözleşmesi</a>ni okudum, kabul ediyorum.
                    </label>
                </div>
                @Html.ValidationMessage("MembershipAgreement", new { @class = "small text-danger" })
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" name="ShareInformation" id="kampanya-izin">
                    <label class="form-check-label" for="kampanya-izin">
                        İletişim bilgilerime kampanya, tanıtım ve reklam içerikli ticari elektronik ileti gönderilmesine, bu amaçla kişisel verilerimin işlenmesine ve tedarikçilerinizle paylaşılmasına izin veriyorum.
                    </label>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-block btn-primary">Kayıt ol</button>
                </div>


                <div class="text-center mb-3">
                    <p class="text-muted">Zaten hesabınız var mı? <a href="/Account/Login">Giriş yap</a></p>
                </div>

            </form>
        </div>
    </div>
</section>

@section RegisterJs{
    <script>
        $(document).ready(function () {

            $("[name='Sector']").val("@Model.Sector")

            $("#sozlesme").change(function () {
                value = $("#sozlesme").val()
                if (value == "true") {
                    $("#sozlesme").val(false)
                }
                else {
                    $("#sozlesme").val(true)
                }
            })

            $("#kampanya-izin").change(function () {
                value = $("#kampanya-izin").val()
                if (value == "true") {
                    $("#kampanya-izin").val(false)
                }
                else {
                    $("#kampanya-izin").val(true)
                }
            })

            $("#phone").inputFilter(function(value) {
                return /^-?\d*$/.test(value);
            });

            $("[name='Sector']").selectpicker("refresh");
        })

        (function($) {
              $.fn.inputFilter = function(inputFilter) {
                    return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
                          if (inputFilter(this.value)) {
                            this.oldValue = this.value;
                            this.oldSelectionStart = this.selectionStart;
                            this.oldSelectionEnd = this.selectionEnd;
                          }
                          else if (this.hasOwnProperty("oldValue")) {
                            this.value = this.oldValue;
                            this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                          }
                          else {
                            this.value = "";
                          }
                    });
              };
        }(jQuery));
    </script>
}