﻿
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<section class="uyelik-form py-auto">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 col-xl-4 mx-auto">
            <form class="js-validate form-signin p-4">
                <!-- Logo -->
                <div class="text-center">
                    <a href="/Home/Index">
                        <img class="mb-3" src="/Content/assets/svg/logos/logo.svg" alt="TripallMed Logo" width="260">
                    </a>
                </div>
                <!-- End Logo -->
                <!-- Title -->
                <div class="text-center mb-4">
                    <h1 class="h3 mb-0">Parolamı unuttum</h1>
                    <p>Hesabınızla ilgili e-posta adresinizi girin. E-posta adresinize parolanızı sıfırlamanız için bir link yollanacak.</p>
                </div>
                <!-- End Title -->
                <!-- Input -->
                <div class="js-form-message mb-3">
                    <div class="js-focus-state input-group form">
                        <div class="input-group-prepend form__prepend">
                            <span class="input-group-text form__text">
                                <span class="fa fa-user form__text-inner"></span>
                            </span>
                        </div>
                        <input type="email" class="form-control form__input" name="email" required="" placeholder="E-posta">
                    </div>
                </div>
                <!-- End Input -->

                <div class="mb-3">
                    <button type="submit" class="btn btn-block btn-primary">Link gönder</button>
                </div>

                <div class="text-center mb-3">
                    <p class="text-muted">Hesabınız var mı? <a href="/Account/Login">Giriş sayfasına dön</a></p>
                </div>

            </form>
        </div>
    </div>
</section>

