﻿@{
    ViewBag.Title = "AdvertisementAdd";
    Layout = "~/Areas/TourismCompany/Views/Shared/_TourismLayout.cshtml";
}

<div class="kt-portlet">
    <div class="kt-portlet__body kt-portlet__body--fit">
        <div class="kt-grid  kt-wizard-v1 kt-wizard-v1--white" id="kt_contacts_add" data-ktwizard-state="first">
            <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v1__wrapper">
                <!--begin: Form Wizard Form-->
                <Form class="kt-form pt-3" id="kt_contacts_add_form" action="/TourismCompany/Panel/AdvertisementAdd" novalidate="novalidate" method="post">
                    <!--begin: Form Wizard Step 1-->
                    <div class="kt-wizard-v1__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                        <div class="kt-heading kt-heading--md">İlan Bilgileri</div>
                        <div class="kt-section kt-section--first">
                            <div class="kt-wizard-v1__form">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="kt-section__body">

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">İlan Başlığı</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <input id="_header" class="form-control" maxlength="100" type="text" name="AdvertTitle" placeholder="İlan Başlığı">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">İlan Başlığı(Eng)</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <input id="_header_eng" class="form-control" maxlength="100" type="text" name="AdvertTitle_Eng" placeholder="İlan Başlığı (Eng)">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">İlan Başlığı(Other)</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <input id="_header_other" class="form-control" maxlength="100" type="text" name="AdvertTitle_Oth" placeholder="İlan Başlığı (Other)">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Konaklama Tipi</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    @Html.DropDownList("Accommodation_Type", ViewBag.AccommodationType as SelectList, "Seçiniz", new { @id = "Accommodation", @onchange = "AccommodationChange()", @class = "form-control kt-selectpicker" })
                                                    <div id="_rooms" style="display:none">
                                                        <button id="_add_room" onclick="addRoom()" type="button" class="btn btn-primary btn-block mt-2">Oda Ekle</button>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-lg-3 col-sm-12">Öğün Tipi</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    @Html.DropDownList("TourismMealTypeId", ViewBag.MealTypes as SelectList, "Seçiniz", new { @class = "form-control kt-selectpicker" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-lg-3 col-sm-12">Kolaylıklar</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    @Html.DropDownList("TourismAmenitiesIds", ViewBag.Amenities as MultiSelectList, new { @class = "form-control kt-selectpicker", @multiple = "true", @title = "Seçiniz" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-lg-3 col-sm-12">Güvenlik</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    @Html.DropDownList("TourismSecuritiesIds", ViewBag.Security as MultiSelectList, new { @class = "form-control kt-selectpicker", @multiple = "true", @title = "Seçiniz" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Kapak Görseli</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    <div class="kt-avatar kt-avatar--outline" id="_image">
                                                        <div class="kt-avatar__holder"></div>
                                                        <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-i18n="[data-original-title]FORM_PRODUCTINSERT_image1" data-original-title="">
                                                            <i class="fa fa-pen"></i>
                                                            <input id="_image_val" type="file" name="profile_avatar">
                                                            <input type="hidden" id="_coverImageName" name="CoverImage" />
                                                        </label>
                                                        <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel">
                                                            <i class="fa fa-times"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Fiyatlandırma Türü/Para Birimi</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    @Html.DropDownList("TourismPriceTypeId", ViewBag.PriceType as SelectList, "Seçiniz", new { @class = "form-control kt-selectpicker" })
                                                </div>
                                                <div class="col-lg-3 col-xl-3">
                                                    @Html.DropDownList("CurrencyUnitId", ViewBag.CurrentUnit as SelectList, "Seçiniz", new { @class = "form-control kt-selectpicker" })
                                                </div>
                                            </div>
                                            <div id="priceFormat">
                                            </div>
                                            <div class="form-group row">
                                                <input type="hidden" id="_bahtroom" name="Bathroom" />
                                                <label class="col-xl-3 col-lg-3 col-form-label">Banyo Sayısı</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    <select class="form-control kt-selectpicker" id="_bathroomCount" name="BathroomCount">
                                                        <option value="0">Banyo Yok</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div id="bathroomType">
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Kampanya İndirimi %</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    <input id="_discount" class="form-control" name="CampaignDiscount" type="text" value="0">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Kampanya Oluştur</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    <div class="input-group date">
                                                        <input type="text" name="CampaignStart" class="form-control datepickerFormat" readonly="" placeholder="Başlangıç Tarihi" id="_discount_start_date">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="la la-calendar-check-o"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-xl-3">
                                                    <div class="input-group date">
                                                        <input type="text" name="CampaignEnd" class="form-control datepickerFormat" readonly="" placeholder="Bitiş Tarihi" id="_discount_end_date">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="la la-calendar-check-o"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Depozit</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    <input type="text" id="_depozit" oninput='moneyFormat(this)' onkeydown='moneyFormat(this)' onkeyup='moneyFormat(this)' onmousedown='moneyFormat(this)' onmouseup='moneyFormat(this)' onselect='moneyFormat(this)' oncontextmenu='moneyFormat(this)' ondrop='moneyFormat(this)' maxlength="10" class="form-control" placeholder="Depozit Ücreti" name="Deposit" value="0">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Temizlik Ücreti</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    <input type="text" oninput='moneyFormat(this)' onkeydown='moneyFormat(this)' onkeyup='moneyFormat(this)' onmousedown='moneyFormat(this)' onmouseup='moneyFormat(this)' onselect='moneyFormat(this)' oncontextmenu='moneyFormat(this)' ondrop='moneyFormat(this)' maxlength="10" class="form-control" id="_temizlik" placeholder="Temizlik Ücreti" , name="CleaningFee" value="0">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Anında Rezarvasyon Sayısı</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    <select class="form-control kt-selectpicker" name="InstantReservation">
                                                        <option value="0">İptal</option>
                                                        <option value="1">1 Oda</option>
                                                        <option value="2">2 Oda</option>
                                                        <option value="3">3 Oda</option>
                                                        <option value="4">4 Oda</option>
                                                        <option value="5">5 Oda</option>
                                                        <option value="6">6 Oda</option>
                                                        <option value="7">7 Oda</option>
                                                        <option value="8">8 Oda</option>
                                                        <option value="9">9 Oda</option>
                                                        <option value="10">10 Oda</option>
                                                        <option value="11">11 Oda</option>
                                                        <option value="12">12 Oda</option>
                                                        <option value="13">13 Oda</option>
                                                        <option value="14">14 Oda</option>
                                                        <option value="15">15 Oda</option>
                                                        <option value="16">16 Oda</option>
                                                        <option value="17">17 Oda</option>
                                                        <option value="18">18 Oda</option>
                                                        <option value="19">19 Oda</option>
                                                        <option value="20">20 Oda</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-lg-3 col-sm-12">Ön Ödeme Tutarı %</label>
                                                <div class="col-lg-9 col-md-9 col-sm-12">
                                                    <input id="_prepaid" name="Prepayment" class="form-control" type="text" value="0">
                                                    <span class="form-text text-muted">Ön ödeme tutarı müşteriden alınacak minmum tutardır.</span>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">İptal İade Şartları</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    <select name="CancellationPolicy" id="_cancel_type" class="form-control kt-selectpicker">
                                                        <option value="Esnek">Esnek</option>
                                                        <option value="Yarı Esnek">Yarı Esnek</option>
                                                        <option value="Katı">Katı</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="btnSubmit" type="submit" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                            KAYDET
                        </button>
                    </div>
                    <!--end: Form Actions -->
                </Form>
                <!--end: Form Wizard Form-->
            </div>
        </div>
    </div>
</div>


@section AdvertisementAddJs{
    <script>


        $(document).ready(function () {

            $('.datepickerFormat').datepicker({
                format: 'dd.mm.yyyy',
                language: 'tr'
            });

            $("#btnSubmit").click(function () {

                var extension = $("#_image_val").val().substring($("#_image_val").val().lastIndexOf('.') + 1).toLowerCase();
                switch (extension) {
                    case 'jpg': case 'jpeg': case 'gif': case 'png': case "":
                        $("#_coverImageName").val(uploadImage("_image_val"))
                        submitPost()
                        return true;
                        break;
                    case "":
                        submitPost()
                        return true;
                        break;
                    default:
                        alertFail("Resim kaydedilemedi", "Yüklemek istediğiniz resmin uzantısı 'jpeg, jpg, png, gif' olmalıdır. ")
                        return false;
                }
            });

            $("#TourismPriceTypeId").change(function () {
                val = $("#TourismPriceTypeId").val();
                $("#priceFormat").html("");
                $("#_guestCountPrice").html("");
                if (val == 1) {
                    $("#priceFormat").append("<div class='form-group row'><label class='col-xl-3 col-lg-3 col-form-label'>Konaklayacak Misafir Sayısı</label><div class='col-lg-3 col-xl-3'><select  onchange='guestPrice()'  class='form-control kt-selectpicker' name='GuestCount'  id='guestcount'><option value='1'>1 Kişi</option><option value='2'>2 Kişi</option><option value='3'>3 Kişi</option><option value='4'>4 Kişi</option><option value='5'>5 Kişi</option><option value='6'>6 Kişi</option><option value='7'>7 Kişi</option><option value='8'>8 Kişi</option><option value='9'>9 Kişi</option><option value='10'>10 Kişi</option></select></div></div>")
                    $("#priceFormat").append("<div id='_guestCountPrice'></div>")
                    guestPrice()

                }
                else if (val == 2) {
                    $("#priceFormat").append("<div class='form-group row'><label class='col-xl-3 col-lg-3 col-form-label'>Konaklayacak Misafir Sayısı</label><div class='col-lg-3 col-xl-3'><select  class='form-control kt-selectpicker' name='GuestCount'  id='guestcount'><option value='1'>1 Kişi</option><option value='2'>2 Kişi</option><option value='3'>3 Kişi</option><option value='4'>4 Kişi</option><option value='5'>5 Kişi</option><option value='6'>6 Kişi</option><option value='7'>7 Kişi</option><option value='8'>8 Kişi</option><option value='9'>9 Kişi</option><option value='10'>10 Kişi</option></select></div></div><div class='form-group row'><label class='col-xl-3 col-lg-3 col-form-label'>Gecelik Oda Fiyatı</label><div class='col-lg-3 col-xl-3'><input oninput='moneyFormat(this)' onkeydown='moneyFormat(this)' onkeyup='moneyFormat(this)' onmousedown='moneyFormat(this)' onmouseup='moneyFormat(this)' name='NightPrice' onselect='moneyFormat(this)' oncontextmenu='moneyFormat(this)' ondrop='moneyFormat(this)' type='text' class='form-control priceFormat'  value='0'></div></div>")
                }
                $(".kt-selectpicker").selectpicker("refresh");
            })

            $("#_bathroomCount").change(function () {
                $("#bathroomType").html("")
                var bathroomCount = $("#_bathroomCount").val();
                for (var i = 0; i < bathroomCount; i++) {
                    $("#bathroomType").append("<div class='form-group row'><label class='col-xl-3 col-lg-3 col-form-label'>" + (i + 1) + ". Banyo Tipi</label><div class='col-lg-3 col-xl-3'><select onchange='bathroomTypeChange()'  class='form-control kt-selectpicker bathroomTypeChange'><option value='Özel,'>Özel</option><option value='Ortak,'>Ortak</option></select></div></div>")
                }
                $(".kt-selectpicker").selectpicker("refresh");
                $("#_bahtroom").val("");
                bathroomTypeChange();
            });

            new KTAvatar("_image");

            $(".priceFormat").inputFilter(function (value) {
                return /^[0-9,]+$/.test(value);
            });

            $("#_discount").inputFilter(function (value) {
                return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 100);
            });

            $("#_prepaid").inputFilter(function (value) {
                return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 100);
            });


        });

        function bathroomTypeChange() {
            $("#_bahtroom").val("");
            var bothchan = $("select.bathroomTypeChange");
            $.each(bothchan, function (key, val) {
                $("#_bahtroom").val($("#_bahtroom").val() + val.value);
            })
        }

        function submitPost() {
            $("Form").append("<input type='hidden' name='TourismAdvertisedAccommodation.TourismAccommodationTypeId' value='" + $("#Accommodation").val() + "' />");

            var rooms = $("._roomItem");

            $.each(rooms, function (key, value) {

                $("Form").append("<input type='hidden' name='TourismAdvertisedAccommodation.TourismAdvertisedRoomProperties[" + key + "].TourismRoomTypeId' value='" + $(value).find("select.roomVal").val() + "' />");

                var beds = $(value).find(".bedItem");
                $.each(beds, function (key2, value) {

                    $("Form").append("<input type='hidden' name='TourismAdvertisedAccommodation.TourismAdvertisedRoomProperties[" + key + "].TourismAdvertisedBed[" + key2 + "].Quantity' value='" + $(value).find("select.bedQuantity").val() + "' />");

                    $("Form").append("<input type='hidden' name='TourismAdvertisedAccommodation.TourismAdvertisedRoomProperties[" + key + "].TourismAdvertisedBed[" + key2 + "].TourismBedTypeId' value='" + $(value).find("select.bedTypeVal").val() + "' />");

                })
            })

            var PersonPrices = $(".persPrice");

            $.each(PersonPrices, function (key, value) {
                $("Form").append("<input type='hidden' name='TourismAdvertisedPersonPrices[" + key + "].Key' value='" + (key + 1) + "' />");
                $("Form").append("<input type='hidden' name='TourismAdvertisedPersonPrices[" + key + "].Price' value='" + $(value).val() + "' />");
            })

            //$("#_coverImageName").val(uploadImage("_image_val"));
        }


        function priceDisabled(e) {
            if (e.checked) {
                $(e).parent().parent().next().removeAttr("disabled")
                $(e).parent().parent().next().removeAttr("placeholder")
                $(e).parent().parent().next().val("0")
            }
            else {
                $(e).parent().parent().next().attr("disabled", "")
                $(e).parent().parent().next().attr("placeholder", "Uygun değil")
                $(e).parent().parent().next().val("")
            }
        }


        function guestPrice() {
            val = $("#guestcount").val();
            $("#_guestCountPrice").html("");
            for (var i = 0; i < val; i++) {
                $("#_guestCountPrice").append("<div class='form-group row'><label class='col-xl-3 col-lg-3 col-form-label'>" + (i + 1) + " Kişi Fiyatı</label><div class='col-lg-3 col-xl-3'><div class='input-group'><div class='input-group-prepend'><div class='input-group-text'><input type='checkbox' onchange='priceDisabled(this)' aria-label='Checkbox for following text input'></div></div><input oninput='moneyFormat(this)' onkeydown='moneyFormat(this)' onkeyup='moneyFormat(this)' onmousedown='moneyFormat(this)' onmouseup='moneyFormat(this)' onselect='moneyFormat(this)' oncontextmenu='moneyFormat(this)' ondrop='moneyFormat(this)'  maxlength='10'  type='text' class='form-control persPrice' placeholder='Uygun değil' disabled aria-label='Text input with checkbox'></div></div></div>")
            }
            $("#_guestCountPrice").append("<div class='form-group row'><label class='col-xl-3 col-lg-3 col-form-label'>0-6 Yaş</label><div class='col-lg-3 col-xl-3'><select name='BabyDiscount' class='form-control kt-selectpicker'><option value='true'>Ücretsiz</option><option value='false'>Ücretli</option></select></div></div><div class='form-group row'><label class='col-xl-3 col-lg-3 col-form-label'>7-12 Yaş</label><div class='col-lg-3 col-xl-3'><select name='ChildDiscount' class='form-control kt-selectpicker'><option value='true'>%50 İndirim</option><option value='false'>İndirim Yok</option></select></div></div>");
            $(".kt-selectpicker").selectpicker("refresh");
        }


        function AccommodationChange() {
            $("._roomItem").remove();
            if ($("#Accommodation").val() != "") {
                $("#_rooms").css("display", "block");
                addRoom();
            }
            else {
                $("#_rooms").css("display", "none");
            }
        }


        function addBed(e) {
            var chVal = $(e).parent().parent().next().find("select.roomVal").val()
            if (chVal != "Seçiniz") {
                $(e).parent().parent().next().find("button").removeClass("border-danger");
                var count = $(e).parent().parent().next().find(".bedItem").length
                if (count < 10) {
                    var option = "";
                    $.ajax({
                        type: "GET",
                        url: "/TourismCompany/Panel/GetAllBedTypes",
                        dataType: "json",
                        success: function (data) {
                            $.each(data, function (key, val) {
                                option += '<option value="' + val.Id + '">' + val.Type + '</option>';
                            });
                            $(e).parent().parent().next().append("<div class='form-group row mb-0 mt-2 bedItem'><label class='col-form-label col-2'>Yatak</label><div class='col-2'><select class='form-control kt-selectpicker bedQuantity'><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option></select></div><label class='col-form-label form-control col-2'>Adet</label><div class='col-4'><select class='form-control kt-selectpicker bedTypeVal'>" + option + "</select></div><div class='col-2 pl-0'><button type='button' onclick='deleteBed(this)' class='btn btn-danger btn-block'>Yatağı Sil</button></div></div>");
                            $(".kt-selectpicker").selectpicker("refresh");
                        }
                    })
                }
            }
            else {
                $(e).parent().parent().next().find("button").addClass("border-danger");
            }
        }


        function deleteBed(e) {
            $(e).parent().parent().remove();
        }


        function addRoom() {
            var count = $("._roomItem").length
            if (count < 10) {
                var Id = $("#Accommodation").val();
                if (Id != "") {
                    var option = "";
                    $.ajax({
                        type: "GET",
                        url: "/TourismCompany/Panel/GetRoomTypes",
                        dataType: "json",
                        data: { id: Id },
                        success: function (data) {
                            $.each(data, function (key, val) {
                                option += '<option value="' + val.Id + '">' + val.Type + '</option>';
                            });
                            $("#_add_room").before("<div class='_roomItem'><div class='card mt-2'><div class='card-header d-flex justify-content-between'><h6 class='card-title m-0' style='line-height: 37px;'>Oda Özellikleri</h6><div><button type='button' onclick='addBed(this)' class='btn btn-info mr-2'>Yatak Ekle</button><button onclick='deleteRoom(this)' type='button' class='btn btn-danger '>Odayı Sil</button></div></div><div class='card-body'><div class='form-group row mb-0'><label class='col-form-label col-2'>Oda</label><div class='col-10'><select onchange='roomChange(this)' class='form-control kt-selectpicker roomVal'><option selected>Seçiniz</option>" + option + "</select></div></div></div></div></div>");
                            $(".kt-selectpicker").selectpicker("refresh");
                        }
                    })
                }
            }
        }


        function roomChange(e) {
            if ($(e).val() == "Seçiniz") {
                $(e).parents(".card-body").find(".bedItem").remove();
            }
        }


        function deleteRoom(e) {
            $(e).parents("._roomItem").remove();
            var count = $("._roomItem").length
            if (count == 0) {
                $("#Accommodation").val("");
                $(".kt-selectpicker").selectpicker("refresh");
                $("#_rooms").css("display", "none");
            }
        }


        function uploadImage(inputName) {
            var image = "";
            try {
                if ($('#' + inputName)[0].files && $('#' + inputName)[0].files[0]) {
                    image = uploadImageToServer($('#' + inputName)[0].files[0]);
                } else {
                    var bg = $('#' + inputName).parent().parent().find("div").css('background-image');
                    bg = bg.replace('url(', '').replace(')', '').replace(/\"/gi, "");
                    var res = bg.split("Data/");
                    bg = res[1];

                    image = bg;
                    if (image == undefined) {
                        image = "";
                    }
                }
            } catch (ex) {
                image = "";
            }

            return image;
        }


        function uploadImageToServer(input) {
            var formData = new FormData();
            formData.append('file1', input);
            var savedFileName = "";
            $.ajax({
                type: 'POST',
                url: '/Business/ImageUploadHandler.ashx',
                data: formData,
                success: function (fileName) {
                    savedFileName = fileName;
                },
                processData: false,
                contentType: false,
                error: function (error) {
                    savedFileName = "";
                },
                async: false
            });
            return savedFileName;
        }


        (function ($) {
            $.fn.inputFilter = function (inputFilter) {
                return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
                    if (inputFilter(this.value)) {
                        this.oldValue = this.value;
                        this.oldSelectionStart = this.selectionStart;
                        this.oldSelectionEnd = this.selectionEnd;
                    }
                    else if (this.hasOwnProperty("oldValue")) {
                        this.value = this.oldValue;
                        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                    }
                    else {
                        this.value = "";
                    }
                });
            };
        }(jQuery));


        function moneyFormat(e) {
            e.value = e.value.split(/[^0-9,]/).join("");
            if (e.value.includes(",")) {
                if ((e.value.match(new RegExp(",", "g")) || []).length > 1) {
                    e.value = e.value.substring(0, e.value.length - 1)
                }
                e.value = e.value.substring(0, e.value.indexOf(",")) + e.value.substring(e.value.indexOf(","), e.value.indexOf(",") + 3)
            }
        }

    </script>
}
