﻿
@{
    ViewBag.Title = "AdvertisementList";
    Layout = "~/Areas/TourismCompany/Views/Shared/_TourismLayout.cshtml";
}

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container ">
            <div class="kt-subheader__main">
            </div>
            <div class="kt-subheader__toolbar">
                <a href="/TourismCompany/Panel/AdvertisementAdd" class="btn btn-label-brand btn-bold">İlan Ekle</a>
            </div>
        </div>
    </div>
    <!-- end:: Content Head -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-grid__item kt-grid__item--fluid">
        <!--begin::Portlet-->
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <!--begin: Datatable -->
                <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded" id="kt_apps_user_list_datatable" style="">
                    @if((ViewBag.AdvertisementList as List<tripallmed.Entity.TourismAdvertisement>).Count > 0)
                    {
                        <table class="kt-datatable__table" style="display: block;">
                            <thead class="kt-datatable__head">
                                <tr class="kt-datatable__row" style="left: 0px;">
                                    <th data-field="image" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 110px;">Kapak Resmi</span></th>
                                    <th data-field="advertisementName" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 450px;">İlan Adı</span></th>
                                    <th data-field="Status" data-autohide-disabled="false" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 90px;">Durum</span></th>
                                    <th data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 60px;">İşlemler</span></th>
                                </tr>
                            </thead>
                            <tbody class="kt-datatable__body" style="">
                                @foreach(var tourismAdvertisement in ViewBag.AdvertisementList as List
                                <tripallmed.Entity.TourismAdvertisement>)
                                {
                                    <tr data-row="1" class="kt-datatable__row" style="left: 0px;">
                                        <td data-field="AgentName" class="kt-datatable__cell">
                                            <span style="width: 110px;">
                                                <div class="kt-user-card-v2">
                                                    <div class="kt-widget__media">
                                                        <img style="height:100px;width:100px" alt="photo" src="~/Data/@tourismAdvertisement.CoverImage">
                                                    </div>

                                                </div>
                                            </span>
                                        </td>
                                        <td data-field="Country" class="kt-datatable__cell">
                                            <span style="width: 450px;font-weight:600;">@tourismAdvertisement.AdvertTitle</span>
                                            <br>
                                            <div class="kt-widget__progress">
                                                @if(tourismAdvertisement.CompletionRate != 100)
                                                {
                                                    <div class="kt-widget__text text-danger">
                                                        İlanınız %@tourismAdvertisement.CompletionRate tamamlandı, eksikleri tamamlayınız.
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="kt-widget__text">
                                                        İlanınız %@tourismAdvertisement.CompletionRate tamamlandı
                                                    </div>
                                                }
                                                <div class="progress" style="height: 5px;width: @(tourismAdvertisement.CompletionRate+"%") ;">
                                                    <div class="progress-bar kt-bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <div class="kt-widget__stats">
                                                    @tourismAdvertisement.CompletionRate %

                                                </div>

                                            </div>


                                        </td>
                                        <td data-field="Status" class="kt-datatable__cell">
                                            <span style="width: 90px;">
                                                @if(tourismAdvertisement.AdvertisementStatusId == 1)
                                                {
                                                    <span class="btn btn-bold btn-sm btn-font-sm  btn-label-success">
                                                        Aktif
                                                    </span>
                                                }
                                                else if(tourismAdvertisement.AdvertisementStatusId == 2)
                                                {
                                                    <span class="btn btn-bold btn-sm btn-font-sm  btn-label-danger">
                                                        Pasif
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="btn btn-bold btn-sm btn-font-sm  btn-label-warning">
                                                        Beklemede
                                                    </span>
                                                }
                                            </span>
                                        </td>
                                        <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                                            <div style="overflow: visible; position: relative; width: 60px;">
                                                <div class="dropdown">
                                                    <a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md"><i class="flaticon-more-1"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <ul class="kt-nav">
                                                            <li class="kt-nav__item"><a class="kt-nav__link" href="/TourismCompany/Panel/AdvertisementUpdate/@tourismAdvertisement.Id"><i class="kt-nav__link-icon flaticon2-contract"></i><span class="kt-nav__link-text">Düzenle</span></a></li>
                                                            <li class="kt-nav__item"><a class="kt-nav__link" href="/TourismCompany/Panel/DeleteAdvertisement/@tourismAdvertisement.Id"><i class="kt-nav__link-icon flaticon2-trash"></i><span class="kt-nav__link-text">Sil</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                }
                            </tbody>

                        </table>


                    }
                    else
                    {
                        <div class="alert alert-info m-3">
                            İlan yok
                        </div>
                    }

                </div>
                <!--end: Datatable -->
            </div>
        </div>
        <!--end::Portlet-->

    </div>
    <!-- end:: Content -->
</div>

@section TourismAdverlistJs{
    <script>
        $(document).ready(function () {
            if ("@TempData["AdverNo"]" != "") {
                alertFail("Eksik Bilgi","@TempData["AdverNo"]")
            }
        })
    </script>
}
