﻿@model tripallmed.Areas.TourismCompany.Models.MyProfileDTO
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Areas/TourismCompany/Views/Shared/_TourismLayout.cshtml";
}

<div class="kt-portlet">

    <div class="kt-portlet__body kt-portlet__body--fit">
        <div class="kt-grid  kt-wizard-v1 kt-wizard-v1--white" id="kt_contacts_add" data-ktwizard-state="step-first">
            <div class="kt-grid__item">
                <!--begin: Form Wizard Nav -->
                <div class="kt-wizard-v1__nav">
                    <div class="kt-wizard-v1__nav-items">
                        <!--doc: Replace A tag with SPAN tag to disable the step link click -->
                        <div class="kt-wizard-v1__nav-item" data-ktwizard-type="step" data-ktwizard-state="current">
                            <div class="kt-wizard-v1__nav-body">
                                <div class="kt-wizard-v1__nav-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--xl">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24" />
                                            <path d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                            <path d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                                        </g>
                                    </svg>
                                </div>
                                <div class="kt-wizard-v1__nav-label">
                                    1. Kurumsal Tanımlar
                                </div>
                            </div>
                        </div>
                        <div class="kt-wizard-v1__nav-item" data-ktwizard-type="step">
                            <div class="kt-wizard-v1__nav-body">
                                <div class="kt-wizard-v1__nav-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--xl">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path d="M4.875,20.75 C4.63541667,20.75 4.39583333,20.6541667 4.20416667,20.4625 L2.2875,18.5458333 C1.90416667,18.1625 1.90416667,17.5875 2.2875,17.2041667 C2.67083333,16.8208333 3.29375,16.8208333 3.62916667,17.2041667 L4.875,18.45 L8.0375,15.2875 C8.42083333,14.9041667 8.99583333,14.9041667 9.37916667,15.2875 C9.7625,15.6708333 9.7625,16.2458333 9.37916667,16.6291667 L5.54583333,20.4625 C5.35416667,20.6541667 5.11458333,20.75 4.875,20.75 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                            <path d="M12.9835977,18 C12.7263047,14.0909841 9.47412135,11 5.5,11 C4.98630124,11 4.48466491,11.0516454 4,11.1500272 L4,7 C4,5.8954305 4.8954305,5 6,5 L20,5 C21.1045695,5 22,5.8954305 22,7 L22,16 C22,17.1045695 21.1045695,18 20,18 L12.9835977,18 Z M19.1444251,6.83964668 L13,10.1481833 L6.85557487,6.83964668 C6.4908718,6.6432681 6.03602525,6.77972206 5.83964668,7.14442513 C5.6432681,7.5091282 5.77972206,7.96397475 6.14442513,8.16035332 L12.6444251,11.6603533 C12.8664074,11.7798822 13.1335926,11.7798822 13.3555749,11.6603533 L19.8555749,8.16035332 C20.2202779,7.96397475 20.3567319,7.5091282 20.1603533,7.14442513 C19.9639747,6.77972206 19.5091282,6.6432681 19.1444251,6.83964668 Z" fill="#000000" />
                                        </g>
                                    </svg>
                                </div>
                                <div class="kt-wizard-v1__nav-label">
                                    2. Olanaklar
                                </div>
                            </div>
                        </div>
                        <div class="kt-wizard-v1__nav-item" data-ktwizard-type="step">
                            <div class="kt-wizard-v1__nav-body">
                                <div class="kt-wizard-v1__nav-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--xl">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <rect fill="#000000" opacity="0.3" x="2" y="2" width="10" height="12" rx="2" />
                                            <path d="M4,6 L20,6 C21.1045695,6 22,6.8954305 22,8 L22,20 C22,21.1045695 21.1045695,22 20,22 L4,22 C2.8954305,22 2,21.1045695 2,20 L2,8 C2,6.8954305 2.8954305,6 4,6 Z M18,16 C19.1045695,16 20,15.1045695 20,14 C20,12.8954305 19.1045695,12 18,12 C16.8954305,12 16,12.8954305 16,14 C16,15.1045695 16.8954305,16 18,16 Z" fill="#000000" />
                                        </g>
                                    </svg>
                                </div>
                                <div class="kt-wizard-v1__nav-label">
                                    4. Konum Bilgileri
                                </div>
                            </div>
                        </div>
                        <div class="kt-wizard-v1__nav-item" data-ktwizard-type="step">
                            <div class="kt-wizard-v1__nav-body">
                                <div class="kt-wizard-v1__nav-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--xl">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path d="M13.2070325,4 C13.0721672,4.47683179 13,4.97998812 13,5.5 C13,8.53756612 15.4624339,11 18.5,11 C19.0200119,11 19.5231682,10.9278328 20,10.7929675 L20,17 C20,18.6568542 18.6568542,20 17,20 L7,20 C5.34314575,20 4,18.6568542 4,17 L4,7 C4,5.34314575 5.34314575,4 7,4 L13.2070325,4 Z" fill="#000000" />
                                            <circle fill="#000000" opacity="0.3" cx="18.5" cy="5.5" r="2.5" />
                                        </g>
                                    </svg>
                                </div>
                                <div class="kt-wizard-v1__nav-label">
                                    5. Fotoğraflar
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end: Form Wizard Nav -->
            </div>
            <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v1__wrapper">
                <!--begin: Form Wizard Form-->
                <form class="kt-form" id="kt_contacts_add_form">
                    <!--begin: Form Wizard Step 1-->
                    <div class="kt-wizard-v1__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                        <div class="kt-heading kt-heading--md">Kurumsal Tanımlar</div>
                        <div id="validationCorporate"></div>
                        <div class="kt-section kt-section--first">
                            <div class="kt-wizard-v1__form">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="kt-section__body">
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Şirket Türü / Ünvanı</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    @Html.DropDownList("Company_Type", ViewBag.CompanyType as SelectList, "Seçiniz", new { @id = "_company_type_id", @onchange = "inputValid(this)", @class = "form-control kt-selectpicker validationCustom", @required = "true" })
                                                </div>
                                                <div class="col-lg-6 col-xl-6">
                                                    <input id="CompanyTitle" onkeyup="inputValid(this)" class="form-control validationCustom" maxlength="150" type="text" value="@Model.Title" required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Vergi Dairesi / No</label>
                                                <div class="col-lg-4 col-xl-4">
                                                    <input id="_tax_office" class="form-control validationCustom" maxlength="150" type="text" name="_tax_office" onkeyup="inputValid(this)" value="@Model.TaxAdministration">
                                                </div>
                                                <div class="col-lg-4 col-xl-4">
                                                    <input id="_tax_number" class="form-control validationCustom" maxlength="100" type="text" onkeyup="inputValid(this)" value="@Model.TaxNo">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Tesis Adı</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <input id="_facility_name" class="form-control validationCustom" maxlength="200" type="text" onkeyup="inputValid(this)" value="@Model.FacilityName">
                                                    <span class="form-text text-muted">Profilde görünecek isim Örnek: Acıbadem Hastanesi</span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Tesis Tipi / Statüsü</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    @Html.DropDownList("Facility_Type", ViewBag.FacilityType as SelectList, "Seçiniz", new { @id = "_facility_type_id", @onchange = "inputValid(this)", @class = "form-control validationCustom kt-selectpicker" })
                                                </div>
                                                <div class="col-lg-3 col-xl-3">
                                                    @Html.DropDownList("Tourism_Status", ViewBag.TourismStatus as SelectList, "Seçiniz", new { @id = "_tourism_status_id", @onchange = "inputValid(this)", @class = "form-control validationCustom kt-selectpicker" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Kuruluş / Renovasyon Tarihi</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    <div class="input-group date">
                                                        <input type="text" id="Establishment_Date" onchange="inputValid(this)" class="form-control validationCustom datepickerFormat" value="@(Model.EstablishmentDate==null?"":Model.EstablishmentDate.Value.ToShortDateString())" readonly placeholder="Tarih seçin" />
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="la la-calendar-check-o"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-xl-3">
                                                    <div class="input-group date">
                                                        <input type="text" id="Renovation_Date" onchange="inputValid(this)" class="form-control validationCustom datepickerFormat" value="@(Model.RenovationDate==null?"":Model.RenovationDate.Value.ToShortDateString())" readonly placeholder="Tarih seçin" />
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="la la-calendar-check-o"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">M2 Alan / Oda / Yatak Kapasite</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    <input id="_area" class="form-control validationCustom" onkeyup="inputValid(this)" placeholder="Alan M2" type="text" value="@Model.AreaM2">
                                                </div>
                                                <div class="col-lg-3 col-xl-3">
                                                    <input id="_room_capacity" class="form-control validationCustom" onkeyup="inputValid(this)" placeholder="Oda Sayısı" type="text" value="@Model.RoomCapacity">
                                                </div>
                                                <div class="col-lg-3 col-xl-3">
                                                    <input id="_bed_capacity" class="form-control validationCustom" onkeyup="inputValid(this)" placeholder="Yatak kapasitesi" type="text" value="@Model.BedCapacity">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Tema</label>
                                                <div class="col-lg-6 col-xl-6">
                                                    @Html.DropDownList("Tourism_Theme", ViewBag.TourismTheme as SelectList, "Seçiniz", new { @id = "_theme_id", @onchange = "inputValid(this)", @class = "form-control kt-selectpicker validationCustom", @required = "true" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-lg-3 col-sm-12">Geçerli Diller</label>
                                                <div class="col-lg-9 col-md-9 col-sm-12">
                                                    @Html.DropDownList("UsesLanguage", ViewBag.UsesLanguage as SelectList, new { @id = "_LanguagePreferences_id", @onchange = "inputValid(this)", @class = "form-control validationCustom kt-selectpicker", @multiple = "True", @title = "Seçiniz" })
                                                    <span class="form-text text-muted">Hastaneler farklı dillerde hizmet verebiliyor birkaç dil seçilebilir</span>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="exampleTextarea">Türkçe Açıklama</label>
                                                <textarea id="_detail" onkeyup="inputValid(this)" class="form-control validationCustom" maxlength="1500" rows="3" value="">@Model.DescriptionTurkish</textarea>
                                            </div>

                                            <div class="form-group row">
                                                <label for="exampleTextarea">İngilizce Açıklama</label>
                                                <textarea id="_detail_eng" class="form-control validationCustom" maxlength="1500" rows="3" value="">@Model.DescriptionEnglish</textarea>
                                            </div>

                                            <div class="form-group row">
                                                <label for="exampleTextarea">Arapça Açıklama</label>
                                                <textarea id="_detail_other" class="form-control validationCustom" maxlength="1500" rows="3" value="">@Model.DescriptionArabic</textarea>
                                            </div>


                                            <div class="form-group row">
                                                <button id="btnCorporateInformation" type="button" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u mr-3">
                                                    Kaydet
                                                </button>
                                                <div onclick="formNext()" class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                                                    İlerle
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Step 1-->
                    <!--begin: Form Wizard Step 2-->
                    <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                        <div class="kt-section kt-section--first">
                            <div class="kt-wizard-v1__form">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="kt-section__body">
                                            <div class="form-group row">
                                                <label class="col-form-label col-lg-3 col-sm-12">Olanaklar</label>
                                                <div class="col-lg-9 col-md-9 col-sm-12">
                                                    @Html.DropDownList("TourismScopes", ViewBag.TourismScopes as SelectList, new { @id = "_olanaklar", @class = "form-control validationCustom kt-selectpicker", @data_live_search = "true", @multiple = "true", @onchange = "inputValid(this)", @title = "Seçiniz" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-lg-3 col-sm-12">Kurallar</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    @Html.DropDownList("TourismRulesIds", ViewBag.Rule as MultiSelectList, new { @class = "form-control kt-selectpicker", @multiple = "true", @onchange = "inputValid(this)", @title = "Seçiniz" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Giriş/Çıkış Saati</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    <select id="CheckInTime" onchange="inputValid(this)" class="form-control kt-selectpicker">
                                                        <option value="">Seçiniz</option>
                                                        <option value="00:00">00:00</option>
                                                        <option value="00:30">00:30</option>
                                                        <option value="01:00">01:00</option>
                                                        <option value="01:30">01:30</option>
                                                        <option value="02:00">02:00</option>
                                                        <option value="02:30">02:30</option>
                                                        <option value="03:00">03:00</option>
                                                        <option value="03:30">03:30</option>
                                                        <option value="04:00">04:00</option>
                                                        <option value="04:30">04:30</option>
                                                        <option value="05:00">05:00</option>
                                                        <option value="05:30">05:30</option>
                                                        <option value="06:00">06:00</option>
                                                        <option value="06:30">06:30</option>
                                                        <option value="07:00">07:00</option>
                                                        <option value="07:30">07:30</option>
                                                        <option value="08:00">08:00</option>
                                                        <option value="08:30">08:30</option>
                                                        <option value="09:00">09:00</option>
                                                        <option value="09:30">09:30</option>
                                                        <option value="10:00">10:00</option>
                                                        <option value="10:30">10:30</option>
                                                        <option value="11:00">11:00</option>
                                                        <option value="11:30">11:30</option>
                                                        <option value="12:00">12:00</option>
                                                        <option value="12:30">12:30</option>
                                                        <option value="13:00">13:00</option>
                                                        <option value="13:30">13:30</option>
                                                        <option value="14:00">14:00</option>
                                                        <option value="14:30">14:30</option>
                                                        <option value="15:00">15:00</option>
                                                        <option value="15:30">15:30</option>
                                                        <option value="16:00">16:00</option>
                                                        <option value="16:30">16:30</option>
                                                        <option value="17:00">17:00</option>
                                                        <option value="17:30">17:30</option>
                                                        <option value="18:00">18:00</option>
                                                        <option value="18:30">18:30</option>
                                                        <option value="19:00">19:00</option>
                                                        <option value="19:30">19:30</option>
                                                        <option value="20:00">20:00</option>
                                                        <option value="20:30">20:30</option>
                                                        <option value="21:00">21:00</option>
                                                        <option value="21:30">21:30</option>
                                                        <option value="22:00">22:00</option>
                                                        <option value="22:30">22:30</option>
                                                        <option value="23:00">23:00</option>
                                                        <option value="23:30">23:30</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-3 col-xl-3">
                                                    <select id="CheckOutTime" onchange="inputValid(this)" class="form-control kt-selectpicker">
                                                        <option value="">Seçiniz</option>
                                                        <option value="00:00">00:00</option>
                                                        <option value="00:30">00:30</option>
                                                        <option value="01:00">01:00</option>
                                                        <option value="01:30">01:30</option>
                                                        <option value="02:00">02:00</option>
                                                        <option value="02:30">02:30</option>
                                                        <option value="03:00">03:00</option>
                                                        <option value="03:30">03:30</option>
                                                        <option value="04:00">04:00</option>
                                                        <option value="04:30">04:30</option>
                                                        <option value="05:00">05:00</option>
                                                        <option value="05:30">05:30</option>
                                                        <option value="06:00">06:00</option>
                                                        <option value="06:30">06:30</option>
                                                        <option value="07:00">07:00</option>
                                                        <option value="07:30">07:30</option>
                                                        <option value="08:00">08:00</option>
                                                        <option value="08:30">08:30</option>
                                                        <option value="09:00">09:00</option>
                                                        <option value="09:30">09:30</option>
                                                        <option value="10:00">10:00</option>
                                                        <option value="10:30">10:30</option>
                                                        <option value="11:00">11:00</option>
                                                        <option value="11:30">11:30</option>
                                                        <option value="12:00">12:00</option>
                                                        <option value="12:30">12:30</option>
                                                        <option value="13:00">13:00</option>
                                                        <option value="13:30">13:30</option>
                                                        <option value="14:00">14:00</option>
                                                        <option value="14:30">14:30</option>
                                                        <option value="15:00">15:00</option>
                                                        <option value="15:30">15:30</option>
                                                        <option value="16:00">16:00</option>
                                                        <option value="16:30">16:30</option>
                                                        <option value="17:00">17:00</option>
                                                        <option value="17:30">17:30</option>
                                                        <option value="18:00">18:00</option>
                                                        <option value="18:30">18:30</option>
                                                        <option value="19:00">19:00</option>
                                                        <option value="19:30">19:30</option>
                                                        <option value="20:00">20:00</option>
                                                        <option value="20:30">20:30</option>
                                                        <option value="21:00">21:00</option>
                                                        <option value="21:30">21:30</option>
                                                        <option value="22:00">22:00</option>
                                                        <option value="22:30">22:30</option>
                                                        <option value="23:00">23:00</option>
                                                        <option value="23:30">23:30</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <button id="scopesbtn" type="button" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u mr-3">
                                                    Kaydet
                                                </button>
                                                <div onclick="formNext()" class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                                                    İlerle
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Step 2-->
                    <!--begin: Form Wizard Step 4-->
                    <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                        <div class="kt-heading kt-heading--md">Konum Bilgileri</div>
                        <div class="kt-form__section kt-form__section--first">
                            <div class="kt-wizard-v1__form">
                                <div class="row">
                                    <div class="col-xl-3">
                                        <div class="form-group">
                                            <label>Ülke:</label>
                                            @Html.DropDownList("Select_Country", (SelectList)ViewBag.SelectCountry, "Seçiniz", new { @id = "_country_id", @onchange = "inputValid(this)", @class = "form-control validationCustom kt-selectpicker", @data_live_search = "true" })
                                        </div>
                                    </div>
                                    <div class="col-xl-3">
                                        <div class="form-group">
                                            <label>Şehir</label>
                                            @Html.DropDownList("Select_Cities", (SelectList)ViewBag.SelectCities, "Seçiniz", new { @id = "_city_id", @onchange = "inputValid(this)", @class = "form-control validationCustom kt-selectpicker", @data_live_search = "true" })
                                        </div>
                                    </div>
                                    <div class="col-xl-3">
                                        <div class="form-group">
                                            <label>İlçe</label>
                                            @Html.DropDownList("Select_Towns", (SelectList)ViewBag.SelectTowns, "Seçiniz", new { @id = "_town_id", @onchange = "inputValid(this)", @class = "form-control validationCustom kt-selectpicker", @data_live_search = "true" })
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xl-9">
                                        <div class="form-group">
                                            <label>Adres</label>
                                            <input id="_address" type="text" onkeyup="inputValid(this)" class="form-control" name="address" maxlength="200" placeholder="Mahalle, sokak, kapı no" value="@Model.Address">
                                            <span class="form-text text-muted">Açık adresinizi giriniz.</span>
                                        </div>
                                    </div>
                                    <div class="col-xl-3">
                                        <div class="form-group">
                                            <label>Posta Kodu</label>
                                            <input id="_zip_code" type="text" onkeyup="inputValid(this)" class="form-control" maxlength="50" name="postcode" placeholder="" value="@Model.ZipCode">
                                            <span class="form-text text-muted">km olarak giriniz</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            <label>Havalimanına Mesafesi</label>
                                            <input id="_distance_airplane" class="form-control" onkeyup="inputValid(this)" name="havaalani" type="text" value="@Model.AirportDistance">
                                            <span class="form-text text-muted">km olarak giriniz</span>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            <label>Şehir Merkezi Mesafesi</label>
                                            <input id="_distance_center" class="form-control" onkeyup="inputValid(this)" name="sehirmerkezi" type="text" value="@Model.CityCenterDistance">
                                            <span class="form-text text-muted">Lütfen şehir merkezine km olarak uzaklığınızı giriniz</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <input id="latitude" type="hidden" />
                                    <input id="longitude" type="hidden" />
                                    <div class="col-xl-9">
                                        <div class="form-group">
                                            <label>Konum</label>
                                            <div id="map" class="form-control" style="height:300px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <button id="Location" type="button" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u mr-3">
                                        Kaydet
                                    </button>
                                    <div onclick="formNext()" class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                                        İlerle
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Step 4-->
                    <!--begin: Form Wizard Step 5-->
                    <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                        <div class="kt-heading kt-heading--md">Fotoğraflar</div>
                        <div class="kt-section kt-section--first">
                            <div class="kt-wizard-v1__form">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="kt-section__body">
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Logo</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    <div class="kt-avatar kt-avatar--outline" id="_logo">
                                                        <div class="kt-avatar__holder"></div>
                                                        <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-i18n="[data-original-title]FORM_PRODUCTINSERT_image1">
                                                            <i class="fa fa-pen"></i>
                                                            <input id="_logo_val" type="file" name="profile_avatar">
                                                        </label>
                                                        <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel">
                                                            <i class="fa fa-times"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <label class="col-xl-3 col-lg-3 col-form-label">
                                                    <p class="m-0">Tesis Dış Cephe</p>
                                                    <small>Zorunlu</small>
                                                </label>
                                                <div class="col-lg-3 col-xl-3">
                                                    <div class="kt-avatar kt-avatar--outline" id="_image">
                                                        <div class="kt-avatar__holder"></div>
                                                        <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-i18n="[data-original-title]FORM_PRODUCTINSERT_image1">
                                                            <i class="fa fa-pen"></i>
                                                            <input id="_image_val" type="file" name="profile_avatar">
                                                        </label>
                                                        <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel">
                                                            <i class="fa fa-times"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <button type="button" onclick="saveImage()" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                                                    Kaydet
                                                </button>
                                            </div>

                                            <div class="kt-separator kt-separator--border-dashed kt-separator--portlet-fit kt-separator--space-lg"></div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Galeriye Fotoğraf Ekle</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    <div class="kt-avatar kt-avatar--outline" id="_galeri">
                                                        <div class="kt-avatar__holder"></div>
                                                        <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-i18n="[data-original-title]FORM_PRODUCTINSERT_image1">
                                                            <i class="fa fa-pen"></i>
                                                            <input id="_galeri_val" type="file" name="profile_avatar">
                                                        </label>
                                                        <span class="kt-avatar__cancel" id="galleyPictureCancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel">
                                                            <i class="fa fa-times"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-xl-3">
                                                    <button type="button" onclick="saveGalleryImage()" class="btn btn-label-brand btn-bold btn-sm kt-margin-t-5 kt-margin-b-5">Galeriye Ekle</button>
                                                </div>
                                            </div>
                                            <div id="galleyItems" class="row">
                                                @if(Model.PictureGalleries.Count() > 0)
                                                {
                                                    <span id="galleryValidation" style="display:none" class="text-danger">Galeride resim bulunmamaktadır. Galeriye en az bir adet resim yüklemelisiniz.</span>

                                                    foreach(var pictureGallery in Model.PictureGalleries)
                                                    {
                                                        <div class="d-inline imageItem mr-2 mb-2" style="position:relative">
                                                            <img src="/Data/@pictureGallery.Name" alt="@pictureGallery.Name" class="img-thumbnail" style="width:120px;height:120px">
                                                            <span class="badge badge-danger" onclick="deleteGalleryImage(@pictureGallery.Id, this)" style="position:absolute; top:7px; right:7px; cursor:pointer">X</span>
                                                        </div>
                                                    }

                                                }
                                                else
                                                {
                                                    <span id="galleryValidation" class="text-danger">Galeride resim bulunmamaktadır. Galeriye en az bir adet resim yüklemelisiniz.</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Step 5-->
                    <!--begin: Form Actions -->
                    <div class="kt-form__actions d-none">
                        <div class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-prev">
                            ÖNCEKİ
                        </div>

                        <div class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-next">
                            SONRAKİ
                        </div>
                    </div>
                    <!--end: Form Actions -->
                </form>
                <!--end: Form Wizard Form-->
            </div>
        </div>
    </div>
</div>


@section TourismProfileJs{
    <script>
        $(document).ready(function () {

            @if(Model.CheckInTime!=null)
            {
            <text>
            $("#CheckInTime").val("@Model.CheckInTime").change();
            </text>
            }
            @if(Model.CheckOutTime!=null)
            {
            <text>
            $("#CheckOutTime").val("@Model.CheckOutTime").change();
            </text>
            }
        
            $('.datepickerFormat').datepicker({
                format: 'dd.mm.yyyy',
                language: 'tr'
            });

            $("#btnCorporateInformation").click(function () {
                var CorporateInformation = {
                    Title: $("#CompanyTitle").val(),
                    CompanyTypeId: $("#_company_type_id").val(),
                    TaxAdministration: $("#_tax_office").val(),
                    TaxNo: $("#_tax_number").val(),
                    FacilityName: $("#_facility_name").val(),
                    FacilityTypeId: $("#_facility_type_id").val(),
                    TourismStatusId: $("#_tourism_status_id").val(),
                    ThemeId: $("#_theme_id").val(),
                    EstablishmentDate: $("#Establishment_Date").val(),
                    RenovationDate: $("#Renovation_Date").val(),
                    AreaM2: $("#_area").val(),
                    RoomCapacity: $("#_room_capacity").val(),
                    BedCapacity: $("#_bed_capacity").val(),
                    ValidLanguagesIds: $("#_LanguagePreferences_id").val(),
                    DescriptionTurkish: $("#_detail").val(),
                    DescriptionEnglish: $("#_detail_eng").val(),
                    DescriptionArabic: $("#_detail_other").val(),
                }

                $.ajax({
                    type: "POST",
                    url: "/TourismCompany/Panel/CorporateInformationUpdate",
                    data: CorporateInformation,
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        $("[data-id='_company_type_id']").removeClass("border border-danger");
                        $("#CompanyTitle").removeClass("border border-danger");
                        $("#_tax_office").removeClass("border border-danger");
                        $("#_tax_number").removeClass("border border-danger");
                        $("#_facility_name").removeClass("border border-danger");
                        $("[data-id='_facility_type_id']").removeClass("border border-danger");
                        $("[data-id='_tourism_status_id']").removeClass("border border-danger");
                        $("#Establishment_Date").removeClass("border border-danger");
                        $("#Renovation_Date").removeClass("border border-danger");
                        $("#_area").removeClass("border border-danger");
                        $("#_room_capacity").removeClass("border border-danger");
                        $("#_bed_capacity").removeClass("border border-danger");
                        $("#_detail").removeClass("border border-danger");
                        $("#_detail_eng").removeClass("border border-danger");
                        $("#_detail_other").removeClass("border border-danger");
                        $("[data-id='_theme_id']").removeClass("border border-danger");
                        $("[data-id='_LanguagePreferences_id']").removeClass("border border-danger");
                        if (data == "Kaydedildi") {
                            alertSuccess("Kaydedildi","")
                        }
                        else {
                            alertFail("Kaydedilemedi", data.Message)
                            $.each(data.Keys, function (key, value) {
                                if (value == "CompanyTypeId") { $("[data-id='_company_type_id']").addClass("border border-danger") }
                                if (value == "Title") { $("#CompanyTitle").addClass("border border-danger") }
                                if (value == "TaxAdministration") { $("#_tax_office").addClass("border border-danger") }
                                if (value == "TaxNo") { $("#_tax_number").addClass("border border-danger") }
                                if (value == "FacilityName") { $("#_facility_name").addClass("border border-danger") }
                                if (value == "FacilityTypeId") { $("[data-id='_facility_type_id']").addClass("border border-danger") }
                                if (value == "TourismStatusId") { $("[data-id='_tourism_status_id']").addClass("border border-danger") }
                                if (value == "EstablishmentDate") { $("#Establishment_Date").addClass("border border-danger") }
                                if (value == "RenovationDate") { $("#Renovation_Date").addClass("border border-danger") }
                                if (value == "AreaM2") { $("#_area").addClass("border border-danger") }
                                if (value == "BedCapacity") { $("#_bed_capacity").addClass("border border-danger") }
                                if (value == "RoomCapacity") { $("#_room_capacity").addClass("border border-danger") }
                                if (value == "DescriptionTurkish") { $("#_detail").addClass("border border-danger") }
                                if (value == "DescriptionEnglish") { $("#_detail_eng").addClass("border border-danger") }
                                if (value == "DescriptionArabic") { $("#_detail_other").addClass("border border-danger") }
                                if (value == "ThemeId") { $("[data-id='_theme_id']").addClass("border border-danger") }
                                if (value == "ValidLanguagesIds") { $("[data-id='_LanguagePreferences_id']").addClass("border border-danger") }

                            })
                        }
                    }
                });
            })

            $("#scopesbtn").click(function () {
                var scopes = {
                    ScopesIds: $("#_olanaklar").val(),
                    TourismRulesIds: $("#TourismRulesIds").val(),
                    CheckInTime: $("#CheckInTime").val(),
                    CheckOutTime: $("#CheckOutTime").val()
                }

                $.ajax({
                    type: "POST",
                    url: "/TourismCompany/Panel/ScopeUpdate",
                    data: scopes,
                    async: false,
                    dataType: "json",
                    success: function (data) {
                        $("[data-id='_olanaklar']").removeClass("border border-danger");
                        $("#TourismRulesIds").removeClass("border border-danger");
                        $("#CheckInTime").removeClass("border border-danger");
                        $("#CheckOutTime").removeClass("border border-danger");
                        if (data == "Kaydedildi") {
                            alertSuccess("Kaydedildi","")
                        }
                        else {
                            alertFail("Hata",data.Message)
                            $.each(data.Keys, function (key, value) {
                                if (value == "ScopesIds") { $("[data-id='_olanaklar']").addClass("border border-danger") }
                                if (value == "TourismRulesIds") { $("#TourismRulesIds").addClass("border border-danger") }
                                if (value == "CheckInTime") { $("#CheckInTime").addClass("border border-danger") }
                                if (value == "CheckOutTime") { $("#CheckOutTime").addClass("border border-danger") }
                            })
                        }
                    }
                })
            })

            $("#_country_id").change(function () {
                var id = $("#_country_id").val();
                $.ajax({
                    type: "POST",
                    url: "/TourismCompany/Panel/GetAllCountryCities",
                    data: { id: id },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        var city = $("#_city_id");
                        city.html("");
                        city.append('<option selected value="">Seçiniz</option>');
                        $.each(data, function (key, val) {
                            city.append('<option value="' + val.Id + '">' + val.CityName + '</option>');
                        });
                        $("#_city_id").trigger("change");
                        city.selectpicker("refresh");
                    }
                })
            })

            $("#_city_id").change(function () {
                var id = $("#_city_id").val();
                $.ajax({
                    type: "POST",
                    url: "/TourismCompany/Panel/GetAllCityesTown",
                    data: { id: id },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        var town = $("#_town_id");
                        town.html("");
                        town.append('<option selected value="">Seçiniz</option>');
                        $.each(data, function (key, val) {
                            town.append('<option value="' + val.Id + '">' + val.TownName + '</option>');
                        });
                        town.selectpicker("refresh");
                    },
                    error: function () {
                        var town = $("#_town_id");
                        town.html("");
                        town.append('<option selected value="">Seçiniz</option>');
                        town.selectpicker("refresh");
                    }
                })
            })

            $("#Location").click(function () {
                var location = {
                    CountryId: $("#_country_id").val(),
                    CityId: $("#_city_id").val(),
                    TownId: $("#_town_id").val(),
                    Address: $("#_address").val(),
                    ZipCode: $("#_zip_code").val(),
                    AirportDistance: $("#_distance_airplane").val(),
                    CityCenterDistance: $("#_distance_center").val(),
                    Latitude:$("#latitude").val(),
                    Longitude:$("#longitude").val(),
                }

                $.ajax({
                    type: "POST",
                    url: "/TourismCompany/Panel/LocationUpdate",
                    data: location,
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        $("[data-id ='_country_id']").removeClass("border border-danger");
                        $("[data-id ='_city_id']").removeClass("border border-danger");
                        $("[data-id ='_town_id']").removeClass("border border-danger");
                        $("#_address").removeClass("border border-danger");
                        $("#_zip_code").removeClass("border border-danger");
                        $("#_distance_airplane").removeClass("border border-danger");
                        $("#_distance_center").removeClass("border border-danger");


                        if (data == "Kaydedildi") {
                            alertSuccess("Kaydedildi", "");
                        }
                        else {
                            alertFail("Hata",data.Message)
                            $.each(data.Keys, function (key, value) {
                                if (value == "CountryId") { $("[data-id ='_country_id']").addClass("border border-danger") }
                                if (value == "CityId") { $("[data-id ='_city_id']").addClass("border border-danger") }
                                if (value == "TownId") { $("[data-id ='_town_id']").addClass("border border-danger") }
                                if (value == "Address") { $("#_address").addClass("border border-danger") }
                                if (value == "ZipCode") { $("#_zip_code").addClass("border border-danger") }
                                if (value == "AirportDistance") { $("#_distance_airplane").addClass("border border-danger") }
                                if (value == "CityCenterDistance") { $("#_distance_center").addClass("border border-danger") }
                            })
                        }
                    }
                })
            })

            @if(Model.Logo!=null)
            {
                <text>setImageSrc("_logo_val", "/Data/" + "@Model.Logo");</text>
            }
            @if(Model.CoverImage!=null)
            {
                <text>setImageSrc("_image_val", "/Data/" + "@Model.CoverImage");</text>
            }

            new KTAvatar("_logo");
            new KTAvatar("_image");
            new KTAvatar("_galeri");


            $("#_tax_number").inputFilter(function (value) {
                return /^-?\d*$/.test(value);
            });

            $("#_area").inputFilter(function(value) {
                return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 30000);
            });

            $("#_room_capacity").inputFilter(function(value) {
                return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 30000);
            });

            $("#_bed_capacity").inputFilter(function (value) {
                return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 30000);
            });

            $("#_zip_code").inputFilter(function (value) {
                return /^-?\d*$/.test(value);
            });

            $("#_distance_airplane").inputFilter(function (value) {
                return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 30000);
            });

            $("#_distance_center").inputFilter(function (value) {
                return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 30000);
            });
        })

        function saveGalleryImage() {
            var extension = $("#_galeri_val").val().substring($("#_galeri_val").val().lastIndexOf('.') + 1).toLowerCase();

            switch(extension) {
                case 'jpg': case 'jpeg': case 'gif': case 'png':
                    var model = {
                        galleryImage: uploadImage("_galeri_val"),
                    }

                    $.ajax({
                        type: 'POST',
                        url: "/TourismCompany/Panel/GalleyImageSave",
                        data: model,
                        success: function (data) {
                            if (data.Value == "Kaydedildi") {
                                alertSuccess("Kaydedildi", "");
                                $("#galleyPictureCancel").trigger("click")
                                addGalleryItem(model.galleryImage, data.Key)
                            }
                            else {
                                alertFail("Kaydedilemdi",data)
                            }
                        },
                    });
                    break;
                case "":
                    alertFail("Resim seçilmedi", "Lütfen resim seçiniz.")
                    break;
                default:
                    alertFail("Resim kaydedilemedi","Yüklemek istediğiniz resmin uzantısı 'jpeg, jpg, png, gif' olmalıdır. ")
            }
        }

        function deleteGalleryImage(Id, e) {
            var model = {
                Id: Id,
            }

            $.ajax({
                type: 'POST',
                url: "/TourismCompany/Panel/GalleyImageDelete",
                data: model,
                async: false,
                success: function (data) {
                    if (data == "Silindi") {
                        alertSuccess("Silindi", "");
                        $(e).parent().remove();
                        galleyValid();
                    }
                    else {
                        alertFail("Hata",data)
                    }
                },
            })
        };

        function addGalleryItem(imageName, id) {
            $("#galleyItems").append("<div class='d-inline imageItem mr-2 mb-2' style='position:relative'><img src='/Data/" + imageName + "' alt='" + imageName + "' class='img-thumbnail' style='width:120px;height:120px'><span class='badge badge-danger' onclick='deleteGalleryImage(" + id + ", this)' style='position:absolute; top:7px; right:7px; cursor:pointer'>X</span>")
            galleyValid();
        }

        function setImageSrc(input, src) {
            //$('#' + input).attr("src", src);
            $('#' + input).parent().parent().find("div").css("background-image", 'url("' + src + '")');
            $('#' + input).parent().next().css("display", "flex");
        }

        function saveImage() {

            var model = {
                construtor(logo, coverImage) {
                    this.logo = logo;
                    this.coverImage = coverImage;
                }
            }

            var message = "";

            var extensionLogo = $("#_logo_val").val().substring($("#_logo_val").val().lastIndexOf('.') + 1).toLowerCase();
            switch(extensionLogo) {
                case 'jpg': case 'jpeg': case 'gif': case 'png':
                    var logoCheck = $('#_logo_val').parent().parent().find("div").css("background-image").indexOf("@(Model.Logo==null?" ":Model.Logo)") > -1;
                    if (!logoCheck) {
                        model.logo = uploadImage("_logo_val");
                    }
                    message += "Logo kaydedildi. ";
                    break;
                case "":
                    break;
                default:
                    message += "Yüklemek istediğiniz logo resmin uzantısı 'jpeg, jpg, png, gif' olmalıdır. ";
            }

            var extensionCoverImage = $("#_image_val").val().substring($("#_image_val").val().lastIndexOf('.') + 1).toLowerCase();
            switch(extensionCoverImage) {
                case 'jpg': case 'jpeg': case 'gif': case 'png':
                    var coverImage = $('#_image_val').parent().parent().find("div").css("background-image").indexOf("@(Model.CoverImage==null?" ":Model.CoverImage)") > -1;
                    if (!coverImage) {
                        model.coverImage = uploadImage("_image_val");
                    }
                    message += "Tesis dış cephe resmi kaydedildi. ";
                    break;
                case "":
                    break;
                default:
                    message += "Yüklemek istediğiniz tesis dış cephe resmin uzantısı 'jpeg, jpg, png, gif' olmalıdır. ";
            }


            if (message != "") {
                Swal.fire("", message, "info");
            }

            if (model.logo != undefined || model.coverImage!=undefined) {
                $.ajax({
                    type: 'POST',
                    url: "/TourismCompany/Panel/ImageSave",
                    data: model,
                    success: function (data) {
                        if (data == "Kaydedildi") {
                            //alertSuccess("Kaydedildi", "");
                        }
                        else {
                            //alertFail("Kaydedilemedi", data)
                        }
                    },
                });
            }

        }

        function uploadImage(inputName) {
            var image = "";
            try {
                if ($('#' + inputName)[0].files && $('#' + inputName)[0].files[0]) {
                    image = uploadImageToServer($('#' + inputName)[0].files[0]);
                } else {
                    var bg = $('#' + inputName).parent().parent().find("div").css('background-image');
                    bg = bg.replace('url(', '').replace(')', '').replace(/\"/gi, "");
                    var res = bg.split("Data/");
                    bg = res[1];

                    image = bg;
                    if (image == undefined) {
                        image = "";
                    }
                }
            } catch (ex) {
                image = "";
            }

            return image;
        }

        function uploadImageToServer(input) {
            var formData = new FormData();
            formData.append('file1', input);
            var savedFileName = "";
            $.ajax({
                type: 'POST',
                url: '/Business/ImageUploadHandler.ashx',
                data: formData,
                success: function (fileName) {
                    savedFileName = fileName;
                },
                processData: false,
                contentType: false,
                error: function (error) {
                    savedFileName = "";
                },
                async: false
            });
            return savedFileName;
        }

        (function ($) {
              $.fn.inputFilter = function(inputFilter) {
                    return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
                          if (inputFilter(this.value)) {
                            this.oldValue = this.value;
                            this.oldSelectionStart = this.selectionStart;
                            this.oldSelectionEnd = this.selectionEnd;
                          }
                          else if (this.hasOwnProperty("oldValue")) {
                            this.value = this.oldValue;
                            this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                          }
                          else {
                            this.value = "";
                          }
                    });
              };
        }(jQuery));

        function formNext() {
            $("[data-ktwizard-type='action-next']").trigger("click");
        }

        function galleyValid() {
            var count = $(".imageItem").length
            $("#galleryValidation").removeAttr("style");
            if (count > 0) {
                $("#galleryValidation").css("display", "none");
            }
            else {
                $("#galleryValidation").css("display", "block");

            }
        }

        function inputValid(e) {
            var t = $(e).next().attr("type")
            if (t == "button") {
                var val = $(e).val();
                if (val == "") {
                    $(e).next().addClass("border border-danger");
                }
                else {
                    $(e).next().removeClass("border border-danger");
                }
            }
            else {
                var val = $(e).val();
                if (val == "") {
                    $(e).addClass("border border-danger");
                }
                else {
                    $(e).removeClass("border border-danger");
                }
            }
        }
    </script>

    <script>

        function initMap() {

            @if(Model.Latitude==null)
            {
                <text>

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 6.5,
                    center: { lat: 38.984387, lng: 34.334213 }
                    });

                var pt = new google.maps.LatLng(38.984387, 34.334213);
                map.setCenter(38.984387, 34.334213);

                var marker = new google.maps.Marker({
                    map: map,
                    position: pt,
                    draggable: true

                });

                google.maps.event.addListener(marker, 'dragend', function () {

                    document.getElementById('latitude').value = marker.getPosition().lat();
                    document.getElementById('longitude').value = marker.getPosition().lng();

                });

                </text>
            }
            else
            {
                <text>

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 12,
                    center: { lat: @Model.Latitude, lng: @Model.Longitude }
                    });

                var pt = new google.maps.LatLng(@Model.Latitude, @Model.Longitude);
                map.setCenter(@Model.Latitude, @Model.Longitude);

                var marker = new google.maps.Marker({
                    map: map,
                    position: pt,
                    draggable: true

                });

                     google.maps.event.addListener(marker, 'dragend', function () {

                        document.getElementById('latitude').value = marker.getPosition().lat();
                        document.getElementById('longitude').value = marker.getPosition().lng();

                    });

                </text>
            }

            var geocoder = new google.maps.Geocoder();
            // Event Listener (İlçe select değiştiğinde harita değişiyor)
            document.getElementById('_town_id').addEventListener('change', function () {
                var address = document.getElementById('_city_id').options[document.getElementById('_city_id').selectedIndex].text + "," + document.getElementById('_town_id').options[document.getElementById('_town_id').selectedIndex].text
                geocodeAddress(geocoder, map, address);
            });
        }


        function geocodeAddress(geocoder, resultsMap, address) {



            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status === 'OK') {
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 12
                    });

                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location,
                        draggable: true

                    });



                    // Add dragging event listeners.
                    google.maps.event.addListener(marker, 'dragend', function () {

                        document.getElementById('latitude').value = marker.getPosition().lat();
                        document.getElementById('longitude').value = marker.getPosition().lng();

                    });




                } else {
                    alert('Harita oluşmadı: ' + status);
                }
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTO41MtgDHhc5n5c5Ors50kElMkeYwLAQ&callback=initMap"></script>

}


