﻿
@{
    ViewBag.Title = "AdvertisementAdd";
    Layout = "~/Areas/HealthCompany/Views/Shared/_HealthLayout.cshtml";
}

<div class="kt-portlet">
    <div class="kt-portlet__body kt-portlet__body--fit">
        <div class="kt-grid  kt-wizard-v1 kt-wizard-v1--white" id="kt_contacts_add" data-ktwizard-state="first">
            <div class="kt-grid__item">
                <!--begin: Form Wizard Nav -->
                <div class="kt-wizard-v1__nav">
                    <div class="kt-wizard-v1__nav-items">
                        <!--doc: Replace A tag with SPAN tag to disable the step link click -->
                        <div class="kt-wizard-v1__nav-item" data-ktwizard-type="step" data-ktwizard-state="current">
                            <div class="kt-wizard-v1__nav-body">
                                <div class="kt-wizard-v1__nav-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--xl">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                            <path d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                            <path d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"></path>
                                        </g>
                                    </svg>
                                </div>
                                <div class="kt-wizard-v1__nav-label">
                                    1. Medikal Bilgiler
                                </div>
                            </div>
                        </div>

                        <div class="kt-wizard-v1__nav-item" data-ktwizard-type="step" data-ktwizard-state="pending">
                            <div class="kt-wizard-v1__nav-body">
                                <div class="kt-wizard-v1__nav-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--xl">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <path d="M13.2070325,4 C13.0721672,4.47683179 13,4.97998812 13,5.5 C13,8.53756612 15.4624339,11 18.5,11 C19.0200119,11 19.5231682,10.9278328 20,10.7929675 L20,17 C20,18.6568542 18.6568542,20 17,20 L7,20 C5.34314575,20 4,18.6568542 4,17 L4,7 C4,5.34314575 5.34314575,4 7,4 L13.2070325,4 Z" fill="#000000"></path>
                                            <circle fill="#000000" opacity="0.3" cx="18.5" cy="5.5" r="2.5"></circle>
                                        </g>
                                    </svg>
                                </div>
                                <div class="kt-wizard-v1__nav-label">
                                    2. Ayarlar
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end: Form Wizard Nav -->
            </div>
            <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v1__wrapper">
                <!--begin: Form Wizard Form-->
                <form class="kt-form" id="kt_contacts_add_form" action="/HealthCompany/Panel/AdvertisementAdd" novalidate="novalidate" method="post">
                    <!--begin: Form Wizard Step 1-->
                    <div class="kt-wizard-v1__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                        <div class="kt-heading kt-heading--md">Medikal Bilgiler</div>
                        <div class="kt-section kt-section--first">
                            <div class="kt-wizard-v1__form">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="kt-section__body">

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">İlan Başlığı</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <input id="_header" class="form-control" type="text" maxlength="100" name="AdvertTitle">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">İlan Başlığı(Eng)</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <input id="_header_eng" class="form-control" type="text" maxlength="100" name="AdvertTitle_Eng">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">İlan Başlığı(Other)</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <input id="_header_other" class="form-control" type="text" maxlength="100" name="AdvertTitle_Oth">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Tıbbi Merkez</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    @Html.DropDownList("MedicalCenterId", (SelectList)ViewBag.MedicalCenter, new { @id = "_tıbbi_merkez_id", @class = "form-control kt-selectpicker" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-lg-3 col-sm-12">İlgili Birim</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <select id="_birim_id" name="MedicalUnitId" class="form-control kt-selectpicker"></select>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-form-label col-lg-3 col-sm-12">İşlem Tipi</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <select id="_islem_id" name="OperationId" class="form-control kt-selectpicker"></select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <div class="kt-section__body">
                                                        <div class="form-group row">
                                                            <label for="exampleTextarea">Nedir ?</label>
                                                        </div>

                                                        <div class="form-group row">
                                                            <div class="col-lg-4 col-xl-4">
                                                                <textarea name="What" id="_detail" class="form-control" rows="3" maxlength="300" placeholder="Türkçe Nedir?"></textarea>
                                                            </div>
                                                            <div class="col-lg-4 col-xl-4">
                                                                <textarea name="What_Eng" id="_detail_eng" class="form-control" rows="3" maxlength="300" placeholder="İngilizce Nedir?"></textarea>
                                                            </div>
                                                            <div class="col-lg-4 col-xl-4">
                                                                <textarea name="What_Oth" id="_detail_other" class="form-control" rows="3" maxlength="300" placeholder="Arapça Nedir?"></textarea>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="exampleTextarea">Hazırlık</label>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-lg-4 col-xl-4">
                                                                <textarea name="Preparation" id="_prepare" class="form-control" rows="3" maxlength="300" placeholder="Türkçe Hazırlık"></textarea>
                                                            </div>
                                                            <div class="col-lg-4 col-xl-4">
                                                                <textarea name="Preparation_Eng" id="_prepare_eng" class="form-control" rows="3" maxlength="300" placeholder="İngilizce Hazırlık"></textarea>
                                                            </div>
                                                            <div class="col-lg-4 col-xl-4">
                                                                <textarea name="Preparation_Oth" id="_prepare_other" class="form-control" rows="3" maxlength="300" placeholder="Arapça Hazırlık"></textarea>
                                                            </div>
                                                        </div>


                                                        <div class="form-group row">
                                                            <label for="exampleTextarea">Süre</label>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-lg-4 col-xl-4">
                                                                <textarea name="Time" id="_time" class="form-control" rows="3" maxlength="300" placeholder="Türkçe Süre"></textarea>
                                                            </div>
                                                            <div class="col-lg-4 col-xl-4">
                                                                <textarea name="Time_Eng" id="_time_eng" class="form-control" rows="3" maxlength="300" placeholder="İngilizce Süre"></textarea>
                                                            </div>
                                                            <div class="col-lg-4 col-xl-4">
                                                                <textarea name="Time_Oth" id="_time_other" class="form-control" rows="3" maxlength="300" placeholder="Arapça Süre"></textarea>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="exampleTextarea">Sonrası</label>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-lg-4 col-xl-4">
                                                                <textarea name="Post" id="_later" class="form-control" rows="3" maxlength="300" placeholder="Türkçe Sonrası"></textarea>
                                                            </div>
                                                            <div class="col-lg-4 col-xl-4">
                                                                <textarea name="Post_Eng" id="_later_eng" class="form-control" rows="3" maxlength="300" placeholder="İngilizce Sonrası"></textarea>
                                                            </div>
                                                            <div class="col-lg-4 col-xl-4">
                                                                <textarea name="Post_Oth" id="_later_other" class="form-control" rows="3" maxlength="300" placeholder="Arapça Sonrası"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Step 1-->
                    <!--begin: Form Wizard Step 4-->
                    <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                        <div class="kt-heading kt-heading--md">Ayarlar</div>
                        <div class="kt-section kt-section--first">
                            <div class="kt-wizard-v1__form">

                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="kt-section__body">
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Kapak Görseli</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    <div class="kt-avatar kt-avatar--outline" id="_image">
                                                        <div class="kt-avatar__holder"></div>
                                                        <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-i18n="[data-original-title]FORM_PRODUCTINSERT_image1" data-original-title="">
                                                            <i class="fa fa-pen"></i>
                                                            <input id="_image_val" type="file" name="profile_avatar">
                                                            <input type="hidden" id="_coverImageName" name="CoverImage" />
                                                        </label>
                                                        <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel">
                                                            <i class="fa fa-times"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="kt-separator kt-separator--border-dashed kt-separator--portlet-fit kt-separator--space-lg"></div>


                                            <div class="form-group row">
                                                <label class="col-3 col-form-label">Fiyata Dahil Hizmetler</label>
                                                <div class="col-lg-9 col-md-9 col-sm-12">

                                                    @Html.DropDownList("IncludedPriceIds", (MultiSelectList)ViewBag.IncludePrice, new { @class = "form-control kt-selectpicker", @data_live_search = "true", @multiple = "true", @title = "Seçiniz" })
                                                    <span class="form-text text-muted"></span>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-form-label col-lg-3 col-sm-12">İşlem tarihi opsiyonu</label>
                                                <div class="col-lg-9 col-md-9 col-sm-12">
                                                    <input id="_date_option" name="OperationOption" class="form-control" type="text">
                                                    <span class="form-text text-muted">İşlem tarihi için hasta tercihinden en fazla kaç gün sonrasına randevu verebilirsiniz ?</span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-lg-3 col-sm-12">İşlem Ücreti / Para Birimi</label>
                                                <div class="col-lg-9 col-md-9 col-sm-12">
                                                    <div class="form-group row">
                                                        <div class="col">
                                                            <div class="input-group">
                                                                <input id="_price" type="text" oninput='moneyFormat(this)' onkeydown='moneyFormat(this)' onkeyup='moneyFormat(this)' onmousedown='moneyFormat(this)' onmouseup='moneyFormat(this)' onselect='moneyFormat(this)' oncontextmenu='moneyFormat(this)' ondrop='moneyFormat(this)' maxlength="10" class="form-control" name="ProcessingFee">
                                                                <div class="input-group-append"><span class="input-group-text">TRY</span></div>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            @Html.DropDownList("CurrencyUnitId", (SelectList)ViewBag.CurrnetUnit, new { @id = "_currency", @class = "form-control kt-selectpicker" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Kampanya İndirimi %</label>
                                                <div class="col-lg-4 col-xl-4">
                                                    <input id="_discount" class="form-control" name="CampaignDiscount" type="text" value="0">
                                                </div>
                                                <div class="col-lg-4 col-xl-4">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Kampanya Oluştur</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    <div class="input-group date">
                                                        <input type="text" name="CampaignStart" class="form-control datepickerFormat" readonly="" placeholder="Başlangıç Tarihi" id="_discount_start_date">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="la la-calendar-check-o"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-xl-3">
                                                    <div class="input-group date">
                                                        <input type="text" name="CampaignEnd" class="form-control datepickerFormat" readonly="" placeholder="Bitiş Tarihi" id="_discount_end_date">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="la la-calendar-check-o"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-form-label col-lg-3 col-sm-12">Ön Ödeme Tutarı %</label>
                                                <div class="col-lg-9 col-md-9 col-sm-12">
                                                    <input id="_prepaid" name="Prepayment" class="form-control" type="text" value="0">
                                                    <span class="form-text text-muted">Ön ödeme tutarı müşteriden alınacak minmum tutardır.</span>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">İptal İade Şartları</label>
                                                <div class="col-lg-2 col-xl-2">
                                                    <select name="CancellationPolicy" id="_cancel_type" class="form-control kt-selectpicker">
                                                        <option value="Esnek">Esnek</option>
                                                        <option value="Yarı Esnek">Yarı Esnek</option>
                                                        <option value="Katı">Katı</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Step 4-->
                    <!--begin: Form Actions -->
                    <div class="kt-form__actions">
                        <div class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-prev">
                            ÖNCEKİ
                        </div>
                        <button onclick="return saveImage()" type="submit" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-submit">
                            KAYDET
                        </button>
                        <div class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-next">
                            SONRAKİ
                        </div>
                    </div>
                    <!--end: Form Actions -->
                </form>
                <!--end: Form Wizard Form-->
            </div>
        </div>
    </div>
</div>


@section HealthAdvertisementAddJs{
    <script>
        $(document).ready(function () {

            $('.datepickerFormat').datepicker({
                format: 'dd.mm.yyyy',
                language: 'tr'
            });

            $("#_tıbbi_merkez_id").change(function () {
                var id = $("#_tıbbi_merkez_id").val();
                $.ajax({
                    type: "POST",
                    url: "/HealthCompany/Panel/GetAllBrancPolyclinicName",
                    data: { id: id },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        var birim = $("#_birim_id");
                        birim.html("");
                        $.each(data, function (key, val) {
                            birim.append('<option value="' + val.Id + '">' + val.PolyclinicName + '</option>');
                        });
                        birim.selectpicker("refresh");
                        $("#_birim_id").trigger("change");
                    }
                })
            })
            $("#_tıbbi_merkez_id").trigger("change");

            $("#_birim_id").change(function () {
                var id = $("#_birim_id").val();
                $.ajax({
                    type: "POST",
                    url: "/HealthCompany/Panel/GetAllPolyclinicServiceName",
                    data: { id: id },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        var islem = $("#_islem_id");
                        islem.html("");
                        $.each(data, function (key, val) {
                            islem.append('<option value="' + val.Id + '">' + val.ServiceName + '</option>');
                        });
                        islem.selectpicker("refresh");
                    }
                })
            })
            $("#_birim_id").trigger("change");

            new KTAvatar("_image");


            $("#_date_option").inputFilter(function (value) {
                return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 11);
            });

            $("#_discount").inputFilter(function (value) {
                return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 100);
            });

            $("#_prepaid").inputFilter(function (value) {
                return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 100);
            });

        })

        function saveImage() {

            var extension = $("#_image_val").val().substring($("#_image_val").val().lastIndexOf('.') + 1).toLowerCase();
            switch (extension) {
                case 'jpg': case 'jpeg': case 'gif': case 'png': case "":
                    $("#_coverImageName").val(uploadImage("_image_val"))
                    return true;
                    break;
                case "":
                    return true;
                    break;
                default:
                    alertFail("Resim kaydedilemedi", "Yüklemek istediğiniz resmin uzantısı 'jpeg, jpg, png, gif' olmalıdır. ")
                    return false;
            }
        }

        function uploadImage(inputName) {
            var image = "";
            try {
                if ($('#' + inputName)[0].files && $('#' + inputName)[0].files[0]) {
                    image = uploadImageToServer($('#' + inputName)[0].files[0]);
                } else {
                    var bg = $('#' + inputName).parent().parent().find("div").css('background-image');
                    bg = bg.replace('url(', '').replace(')', '').replace(/\"/gi, "");
                    var res = bg.split("Data/");
                    bg = res[1];

                    image = bg;
                    if (image == undefined) {
                        image = "";
                    }
                }
            } catch (ex) {
                image = "";
            }

            return image;
        }

        function uploadImageToServer(input) {
            var formData = new FormData();
            formData.append('file1', input);
            var savedFileName = "";
            $.ajax({
                type: 'POST',
                url: '/Business/ImageUploadHandler.ashx',
                data: formData,
                success: function (fileName) {
                    savedFileName = fileName;
                },
                processData: false,
                contentType: false,
                error: function (error) {
                    savedFileName = "";
                },
                async: false
            });
            return savedFileName;
        }

        (function ($) {
            $.fn.inputFilter = function (inputFilter) {
                return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
                    if (inputFilter(this.value)) {
                        this.oldValue = this.value;
                        this.oldSelectionStart = this.selectionStart;
                        this.oldSelectionEnd = this.selectionEnd;
                    }
                    else if (this.hasOwnProperty("oldValue")) {
                        this.value = this.oldValue;
                        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                    }
                    else {
                        this.value = "";
                    }
                });
            };
        }(jQuery));


        function moneyFormat(e) {
            e.value = e.value.split(/[^0-9,]/).join("");
            if (e.value.includes(",")) {
                if ((e.value.match(new RegExp(",", "g")) || []).length > 1) {
                    e.value = e.value.substring(0, e.value.length - 1)
                }
                e.value = e.value.substring(0, e.value.indexOf(",")) + e.value.substring(e.value.indexOf(","), e.value.indexOf(",") + 3)
            }
        }

    </script>
}