﻿@model tripallmed.Areas.HealthCompany.Models.DTO.MyProfileDTO
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Areas/HealthCompany/Views/Shared/_HealthLayout.cshtml";
}

<div class="kt-portlet">

    <div class="kt-portlet__body kt-portlet__body--fit">
        <div class="kt-grid  kt-wizard-v1 kt-wizard-v1--white" id="kt_contacts_add" data-ktwizard-state="step-first">
            <div class="kt-grid__item">
                <!--begin: Form Wizard Nav -->
                <div class="kt-wizard-v1__nav">
                    <div class="kt-wizard-v1__nav-items">
                        <!--doc: Replace A tag with SPAN tag to disable the step link click -->
                        <div class="kt-wizard-v1__nav-item" data-ktwizard-type="step" data-ktwizard-state="current">
                            <div class="kt-wizard-v1__nav-body">
                                <div class="kt-wizard-v1__nav-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--xl">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24" />
                                            <path d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                            <path d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                                        </g>
                                    </svg>
                                </div>
                                <div class="kt-wizard-v1__nav-label">
                                    1. Kurumsal Tanımlar
                                </div>
                            </div>
                        </div>
                        <div class="kt-wizard-v1__nav-item" data-ktwizard-type="step">
                            <div class="kt-wizard-v1__nav-body">
                                <div class="kt-wizard-v1__nav-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--xl">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path d="M4.875,20.75 C4.63541667,20.75 4.39583333,20.6541667 4.20416667,20.4625 L2.2875,18.5458333 C1.90416667,18.1625 1.90416667,17.5875 2.2875,17.2041667 C2.67083333,16.8208333 3.29375,16.8208333 3.62916667,17.2041667 L4.875,18.45 L8.0375,15.2875 C8.42083333,14.9041667 8.99583333,14.9041667 9.37916667,15.2875 C9.7625,15.6708333 9.7625,16.2458333 9.37916667,16.6291667 L5.54583333,20.4625 C5.35416667,20.6541667 5.11458333,20.75 4.875,20.75 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                            <path d="M12.9835977,18 C12.7263047,14.0909841 9.47412135,11 5.5,11 C4.98630124,11 4.48466491,11.0516454 4,11.1500272 L4,7 C4,5.8954305 4.8954305,5 6,5 L20,5 C21.1045695,5 22,5.8954305 22,7 L22,16 C22,17.1045695 21.1045695,18 20,18 L12.9835977,18 Z M19.1444251,6.83964668 L13,10.1481833 L6.85557487,6.83964668 C6.4908718,6.6432681 6.03602525,6.77972206 5.83964668,7.14442513 C5.6432681,7.5091282 5.77972206,7.96397475 6.14442513,8.16035332 L12.6444251,11.6603533 C12.8664074,11.7798822 13.1335926,11.7798822 13.3555749,11.6603533 L19.8555749,8.16035332 C20.2202779,7.96397475 20.3567319,7.5091282 20.1603533,7.14442513 C19.9639747,6.77972206 19.5091282,6.6432681 19.1444251,6.83964668 Z" fill="#000000" />
                                        </g>
                                    </svg>
                                </div>
                                <div class="kt-wizard-v1__nav-label">
                                    2. Tıbbi Bilgiler
                                </div>
                            </div>
                        </div>
                        <div class="kt-wizard-v1__nav-item" data-ktwizard-type="step">
                            <div class="kt-wizard-v1__nav-body">
                                <div class="kt-wizard-v1__nav-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--xl">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path d="M4.875,20.75 C4.63541667,20.75 4.39583333,20.6541667 4.20416667,20.4625 L2.2875,18.5458333 C1.90416667,18.1625 1.90416667,17.5875 2.2875,17.2041667 C2.67083333,16.8208333 3.29375,16.8208333 3.62916667,17.2041667 L4.875,18.45 L8.0375,15.2875 C8.42083333,14.9041667 8.99583333,14.9041667 9.37916667,15.2875 C9.7625,15.6708333 9.7625,16.2458333 9.37916667,16.6291667 L5.54583333,20.4625 C5.35416667,20.6541667 5.11458333,20.75 4.875,20.75 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                            <path d="M12.9835977,18 C12.7263047,14.0909841 9.47412135,11 5.5,11 C4.98630124,11 4.48466491,11.0516454 4,11.1500272 L4,7 C4,5.8954305 4.8954305,5 6,5 L20,5 C21.1045695,5 22,5.8954305 22,7 L22,16 C22,17.1045695 21.1045695,18 20,18 L12.9835977,18 Z M19.1444251,6.83964668 L13,10.1481833 L6.85557487,6.83964668 C6.4908718,6.6432681 6.03602525,6.77972206 5.83964668,7.14442513 C5.6432681,7.5091282 5.77972206,7.96397475 6.14442513,8.16035332 L12.6444251,11.6603533 C12.8664074,11.7798822 13.1335926,11.7798822 13.3555749,11.6603533 L19.8555749,8.16035332 C20.2202779,7.96397475 20.3567319,7.5091282 20.1603533,7.14442513 C19.9639747,6.77972206 19.5091282,6.6432681 19.1444251,6.83964668 Z" fill="#000000" />
                                        </g>
                                    </svg>
                                </div>
                                <div class="kt-wizard-v1__nav-label">
                                    3. Doktor Kayıt
                                </div>
                            </div>
                        </div>
                        <div class="kt-wizard-v1__nav-item" data-ktwizard-type="step">
                            <div class="kt-wizard-v1__nav-body">
                                <div class="kt-wizard-v1__nav-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--xl">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <rect fill="#000000" opacity="0.3" x="2" y="2" width="10" height="12" rx="2" />
                                            <path d="M4,6 L20,6 C21.1045695,6 22,6.8954305 22,8 L22,20 C22,21.1045695 21.1045695,22 20,22 L4,22 C2.8954305,22 2,21.1045695 2,20 L2,8 C2,6.8954305 2.8954305,6 4,6 Z M18,16 C19.1045695,16 20,15.1045695 20,14 C20,12.8954305 19.1045695,12 18,12 C16.8954305,12 16,12.8954305 16,14 C16,15.1045695 16.8954305,16 18,16 Z" fill="#000000" />
                                        </g>
                                    </svg>
                                </div>
                                <div class="kt-wizard-v1__nav-label">
                                    4. Konum Bilgileri
                                </div>
                            </div>
                        </div>
                        <div class="kt-wizard-v1__nav-item" data-ktwizard-type="step">
                            <div class="kt-wizard-v1__nav-body">
                                <div class="kt-wizard-v1__nav-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--xl">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path d="M13.2070325,4 C13.0721672,4.47683179 13,4.97998812 13,5.5 C13,8.53756612 15.4624339,11 18.5,11 C19.0200119,11 19.5231682,10.9278328 20,10.7929675 L20,17 C20,18.6568542 18.6568542,20 17,20 L7,20 C5.34314575,20 4,18.6568542 4,17 L4,7 C4,5.34314575 5.34314575,4 7,4 L13.2070325,4 Z" fill="#000000" />
                                            <circle fill="#000000" opacity="0.3" cx="18.5" cy="5.5" r="2.5" />
                                        </g>
                                    </svg>
                                </div>
                                <div class="kt-wizard-v1__nav-label">
                                    5. Fotoğraflar
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end: Form Wizard Nav -->
            </div>
            <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v1__wrapper">
                <!--begin: Form Wizard Form-->
                <form class="kt-form" id="kt_contacts_add_form">
                    <!--begin: Form Wizard Step 1-->
                    <div class="kt-wizard-v1__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                        <div class="kt-heading kt-heading--md">Kurumsal Tanımlar</div>
                        <div class="kt-section kt-section--first">
                            <div class="kt-wizard-v1__form">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="kt-section__body">
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Şirket Türü / Ünvanı</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    @Html.DropDownList("Company_Type", ViewBag.CompanyType as SelectList, "Seçiniz", new { @id = "_company_type_id", @onchange = "inputValid(this)", @class = "form-control kt-selectpicker validationCustom", @required = "true" })
                                                </div>
                                                <div class="col-lg-6 col-xl-6">
                                                    <input id="CompanyTitle" class="form-control validationCustom" maxlength="150" type="text" value="@Model.Title" onkeyup="inputValid(this)" required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Vergi Dairesi / No</label>
                                                <div class="col-lg-4 col-xl-4">
                                                    <input id="_tax_office" onkeyup="inputValid(this)" class="form-control validationCustom" maxlength="150" type="text" name="_tax_office" value="@Model.TaxAdministration">
                                                </div>
                                                <div class="col-lg-4 col-xl-4">
                                                    <input id="_tax_number" onkeyup="inputValid(this)" class="form-control validationCustom" maxlength="100" type="text" value="@Model.TaxNo">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Merkez Adı</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <input id="_center_name" onkeyup="inputValid(this)" class="form-control validationCustom" maxlength="200" type="text" value="@Model.CentralName">
                                                    <span class="form-text text-muted">Profilde görünecek isim Örnek: Acıbadem Hastanesi</span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Merkez Tipi / Statüsü</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    @Html.DropDownList("Central_Type", ViewBag.CentralType as SelectList, "Seçiniz", new { @id = "_center_type_id", @onchange = "inputValid(this)", @class = "form-control validationCustom kt-selectpicker" })
                                                </div>
                                                <div class="col-lg-3 col-xl-3">
                                                    @Html.DropDownList("Company_Status", ViewBag.CompanyStatus as SelectList, "Seçiniz", new { @id = "_company_status_id", @onchange = "inputValid(this)", @class = "form-control validationCustom kt-selectpicker" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Kuruluş / Renovasyon Tarihi</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    <div class="input-group date">
                                                        <input type="text" onchange="inputValid(this)" class="form-control validationCustom dateFormat" value="@(Model.EstablishmentDate==null?"":Model.EstablishmentDate.Value.ToShortDateString())" readonly placeholder="Tarih seçin" id="kurulus_Tarihi" />
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="la la-calendar-check-o"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-xl-3">
                                                    <div class="input-group date">
                                                        <input type="text" onchange="inputValid(this)" class="form-control validationCustom dateFormat" value="@(Model.RenovationDate==null?"":Model.RenovationDate.Value.ToShortDateString())" readonly placeholder="Tarih seçin" id="renovasyon_Tarihi" />
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="la la-calendar-check-o"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">M2 Alan / Yatak Kapasite</label>
                                                <div class="col-lg-4 col-xl-4">
                                                    <input id="_area" onkeyup="inputValid(this)" class="form-control validationCustom" type="text" value="@Model.AreaM2">
                                                </div>
                                                <div class="col-lg-4 col-xl-4">
                                                    <input id="_capacity" onkeyup="inputValid(this)" class="form-control validationCustom" type="text" value="@Model.BedCapacity">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-lg-3 col-sm-12">Personel Sayısı</label>
                                                <div class="col-lg-9 col-md-9 col-sm-12">
                                                    <input id="_personnel_count" onkeyup="inputValid(this)" class="form-control validationCustom" type="text" value="@Model.PersonCount" min="0">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-lg-3 col-sm-12">Geçerli Diller</label>
                                                <div class="col-lg-9 col-md-9 col-sm-12">
                                                    @Html.DropDownList("UsesLanguage", ViewBag.UsesLanguage as SelectList, new { @id = "_LanguagePreferences_id", @onchange = "inputValid(this)", @class = "form-control validationCustom kt-selectpicker", @multiple = "True", @title = "Seçiniz" })
                                                    <span class="form-text text-muted">Hastaneler farklı dillerde hizmet verebiliyor birkaç dil seçilebilir</span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="exampleTextarea">Türkçe Açıklama</label>
                                                <textarea onkeyup="inputValid(this)" id="_detail" class="form-control validationCustom" maxlength="1500" rows="3" value="">@Model.DescriptionTurkish</textarea>
                                            </div>

                                            <div class="form-group row">
                                                <label for="exampleTextarea">İngilizce Açıklama</label>
                                                <textarea id="_detail_eng" class="form-control validationCustom" maxlength="1500" rows="3" value="">@Model.DescriptionEnglish</textarea>
                                            </div>

                                            <div class="form-group row">
                                                <label for="exampleTextarea">Arapça Açıklama</label>
                                                <textarea id="_detail_other" class="form-control validationCustom" maxlength="1500" rows="3" value="">@Model.DescriptionArabic</textarea>
                                            </div>


                                            <div class="form-group row mt-5">
                                                <button id="btnCorporateInformation" type="button" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u mr-3">
                                                    Kaydet
                                                </button>
                                                <div onclick="formNext()" class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                                                    İlerle
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Step 1-->
                    <!--begin: Form Wizard Step 2-->
                    <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                        <div class="kt-section kt-section--first">
                            <div class="kt-wizard-v1__form">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="kt-section__body">
                                            <div class="form-group row">
                                                <label class="col-form-label col-lg-3 col-sm-12">Poliklinikler</label>
                                                <div class="col-lg-9 col-md-9 col-sm-12">
                                                    @Html.DropDownList("SelectPolyclinic", ViewBag.SelectPolyclinic as SelectList, new { @id = "_poliklinikler", @class = "form-control validationCustom kt-selectpicker", @data_live_search = "true", @multiple = "true", @onchange = "inputValid(this)", @title = "Seçiniz" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-lg-3 col-sm-12">Anlaşmalı Kurumlar</label>
                                                <div class="col-lg-9 col-md-9 col-sm-12">
                                                    @Html.DropDownList("ContractedInstitution", ViewBag.ContractedInstitution as SelectList, new { @id = "_anlasmali_kurumlar", @class = "form-control validationCustom kt-selectpicker", @onchange = "inputValid(this)", @data_live_search = "true", @multiple = "true", @title = "Seçiniz" })
                                                </div>
                                            </div>
                                            <div class="form-group row mt-5">
                                                <button id="polyclinicbtn" type="button" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u mr-3">
                                                    Kaydet
                                                </button>
                                                <div onclick="formNext()" class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                                                    İlerle
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Step 2-->
                    <!--begin: Form Wizard Step 3-->
                    <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                        <div class="kt-section kt-section--first">
                            <div class="kt-wizard-v1__form">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="kt-section__body">

                                            <div class="form-group row">
                                                <label class="col-xl-2 col-lg-2 col-form-label">Doktor Ekle</label>
                                                <div class="col-lg-2 col-xl-2">
                                                    @Html.DropDownList("DoctorTitle", (SelectList)ViewBag.DoctorTitle, "Seçiniz", new { @id = "_doktor_title", @onchange = "inputValid(this)", @class = "form-control kt-selectpicker" })
                                                </div>
                                                <div class="col-lg-2 col-xl-2">
                                                    <input onkeyup="inputValid(this)" id="_doktor_name" class="form-control" type="text" maxlength="50" value="" placeholder="Adı">
                                                </div>
                                                <div class="col-lg-2 col-xl-2">
                                                    <input onkeyup="inputValid(this)" id="_doktor_surname" class="form-control" maxlength="50" type="text" value="" placeholder="Soyadı">
                                                </div>
                                                <div class="col-lg-3 col-xl-3">
                                                    @Html.DropDownList("Select_DoctorPolyclinic", ViewBag.SelectDoctorPolyclinic as SelectList, "Seçiniz", new { @id = "_doktor_poliklinikler", @class = "form-control validationCustom kt-selectpicker", @onchange = "inputValid(this)", @data_live_search = "true" })
                                                </div>
                                                <div class="col-lg-1 col-xl-1">
                                                    <button id="_btn_doctor" type="button" class="btn btn-label-brand btn-bold btn-sm kt-margin-t-5 kt-margin-b-5">Ekle</button>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="kt-portlet kt-portlet--mobile">
                                            <div class="kt-portlet__head kt-portlet__head--lg">
                                                <div class="kt-portlet__head-label">
                                                    <span class="kt-portlet__head-icon">
                                                        <i class="kt-font-brand flaticon2-line-chart"></i>
                                                    </span>
                                                    <h3 class="kt-portlet__head-title">
                                                        Doktor Listesi
                                                    </h3>
                                                </div>
                                                <div class="kt-portlet__head-toolbar">
                                                    <div class="kt-portlet__head-wrapper">
                                                        <div class="kt-portlet__head-actions">
                                                            <div class="dropdown dropdown-inline">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="kt-portlet__body">

                                                <!--begin: Datatable -->
                                                <table id="table_doctor" class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Ünvan</th>
                                                            <th>Ad Soyad</th>
                                                            <th>Poliklinik</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="table_body_doctor">
                                                    </tbody>
                                                </table>
                                                <!--end: Datatable -->
                                            </div>
                                        </div>
                                    </div>
                                    <div onclick="formNext()" class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                                        İlerle
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Step 3-->
                    <!--begin: Form Wizard Step 4-->
                    <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                        <div class="kt-heading kt-heading--md">Konum Bilgileri</div>
                        <div class="kt-form__section kt-form__section--first">
                            <div class="kt-wizard-v1__form">
                                <div class="row">
                                    <div class="col-xl-3">
                                        <div class="form-group">
                                            <label>Ülke:</label>
                                            @Html.DropDownList("Select_Country", (SelectList)ViewBag.SelectCountry, "Seçiniz", new { @id = "_country_id", @onchange = "inputValid(this)", @class = "form-control validationCustom kt-selectpicker", @data_live_search = "true" })
                                        </div>
                                    </div>
                                    <div class="col-xl-3">
                                        <div class="form-group">
                                            <label>Şehir</label>
                                            @Html.DropDownList("Select_Cities", (SelectList)ViewBag.SelectCities, "Seçiniz", new { @id = "_city_id", @onchange = "inputValid(this)", @class = "form-control validationCustom kt-selectpicker", @data_live_search = "true" })
                                        </div>
                                    </div>
                                    <div class="col-xl-3">
                                        <div class="form-group">
                                            <label>İlçe</label>
                                            @Html.DropDownList("Select_Towns", (SelectList)ViewBag.SelectTowns, "Seçiniz", new { @id = "_town_id", @onchange = "inputValid(this)", @class = "form-control validationCustom kt-selectpicker", @data_live_search = "true" })
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xl-9">
                                        <div class="form-group">
                                            <label>Adres</label>
                                            <input onkeyup="inputValid(this)" id="_address" type="text" class="form-control" maxlength="200" name="address" placeholder="Mahalle, sokak, kapı no" value="@Model.Address">
                                            <span class="form-text text-muted">Açık adresinizi giriniz.</span>
                                        </div>
                                    </div>
                                    <div class="col-xl-3">
                                        <div class="form-group">
                                            <label>Posta Kodu</label>
                                            <input onkeyup="inputValid(this)" id="_zip_code" type="text" class="form-control" maxlength="50" name="postcode" placeholder="" value="@Model.ZipCode">
                                            <span class="form-text text-muted">km olarak giriniz</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            <label>Havalimanına Mesafesi</label>
                                            <input onkeyup="inputValid(this)" id="_distance_airplane" class="form-control" name="havaalani" type="text" value="@Model.AirportDistance" min="0">
                                            <span class="form-text text-muted">km olarak giriniz</span>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            <label>Şehir Merkezi Mesafesi</label>
                                            <input onkeyup="inputValid(this)" id="_distance_center" class="form-control" name="sehirmerkezi" type="text" value="@Model.CityCenterDistance" min="0">
                                            <span class="form-text text-muted">Lütfen şehir merkezine km olarak uzaklığınızı giriniz</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <input id="latitude" type="hidden" />
                                    <input id="longitude" type="hidden" />
                                    <div class="col-xl-9">
                                        <div class="form-group">
                                            <label>Konum</label>
                                            <div id="map" class="form-control" style="height:300px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mt-5">
                                    <button id="Location" type="button" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u mr-3">
                                        Kaydet
                                    </button>
                                    <div onclick="formNext()" class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                                        İlerle
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Step 4-->
                    <!--begin: Form Wizard Step 5-->
                    <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                        <div class="kt-heading kt-heading--md">Fotoğraflar</div>
                        <div class="kt-section kt-section--first">
                            <div class="kt-wizard-v1__form">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="kt-section__body">
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Logo</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    <div class="kt-avatar kt-avatar--outline" id="_logo">
                                                        <div class="kt-avatar__holder"></div>
                                                        <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-i18n="[data-original-title]FORM_PRODUCTINSERT_image1">
                                                            <i class="fa fa-pen"></i>
                                                            <input id="_logo_val" type="file" name="profile_avatar">
                                                        </label>
                                                        <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel">
                                                            <i class="fa fa-times"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <label class="col-xl-3 col-lg-3 col-form-label">
                                                    <p class="m-0">Tesis Dış Cephe</p>
                                                    <small>Zorunlu</small>
                                                </label>
                                                <div class="col-lg-3 col-xl-3">
                                                    <div class="kt-avatar kt-avatar--outline" id="_image">
                                                        <div class="kt-avatar__holder"></div>
                                                        <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-i18n="[data-original-title]FORM_PRODUCTINSERT_image1">
                                                            <i class="fa fa-pen"></i>
                                                            <input id="_image_val" type="file" name="profile_avatar">
                                                        </label>
                                                        <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel">
                                                            <i class="fa fa-times"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row  mt-5">
                                                <button type="button" onclick="saveImage()" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u mr-3">
                                                    Kaydet
                                                </button>
                                            </div>

                                            <div class="kt-separator kt-separator--border-dashed kt-separator--portlet-fit kt-separator--space-lg"></div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Galeriye Fotoğraf Ekle</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    <div class="kt-avatar kt-avatar--outline" id="_galeri">
                                                        <div class="kt-avatar__holder"></div>
                                                        <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-i18n="[data-original-title]FORM_PRODUCTINSERT_image1">
                                                            <i class="fa fa-pen"></i>
                                                            <input id="_galeri_val" type="file" name="profile_avatar">
                                                        </label>
                                                        <span class="kt-avatar__cancel" id="galleyPictureCancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel">
                                                            <i class="fa fa-times"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-xl-3">
                                                    <button type="button" onclick="saveGalleryImage()" class="btn btn-label-brand btn-bold btn-sm kt-margin-t-5 kt-margin-b-5">Galeriye Ekle</button>
                                                </div>
                                            </div>
                                            <div id="galleyItems" class="row">
                                                @if(Model.PictureGalleries.Count() > 0)
                                                {
                                                    <span id="galleryValidation" style="display:none" class="text-danger">Galeride resim bulunmamaktadır. Galeriye en az bir adet resim yüklemelisiniz.</span>


                                                    foreach(var pictureGallery in Model.PictureGalleries)
                                                    {
                                                        <div class="d-inline imageItem mr-2 mb-2" style="position:relative">
                                                            <img src="/Data/@pictureGallery.Name" alt="@pictureGallery.Name" class="img-thumbnail" style="width:120px;height:120px">
                                                            <span class="badge badge-danger" onclick="deleteGalleryImage(@pictureGallery.Id, this)" style="position:absolute; top:7px; right:7px; cursor:pointer">X</span>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <span id="galleryValidation" class="text-danger">Galeride resim bulunmamaktadır. Galeriye en az bir adet resim yüklemelisiniz.</span>

                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Step 5-->
                    <!--begin: Form Actions -->
                    <div class="kt-form__actions d-none">
                        <div class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-prev">
                            ÖNCEKİ
                        </div>

                        <div class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-next">
                            SONRAKİ
                        </div>
                    </div>
                    <!--end: Form Actions -->
                </form>
                <!--end: Form Wizard Form-->
            </div>
        </div>
    </div>
</div>


@section HealthProfileJs{
    <script>

        $(document).ready(function () {


            $('.dateFormat').datepicker({
                format: 'dd.mm.yyyy',
                language: 'fr'
            });

            $("#btnCorporateInformation").click(function () {
                var CorporateInformation = {
                    Title: $("#CompanyTitle").val(),
                    CompanyTypeId: $("#_company_type_id").val(),
                    TaxAdministration: $("#_tax_office").val(),
                    TaxNo: $("#_tax_number").val(),
                    CentralName: $("#_center_name").val(),
                    HealthCenterTypeId: $("#_center_type_id").val(),
                    HealthStatusId: $("#_company_status_id").val(),
                    EstablishmentDate: $("#kurulus_Tarihi").val(),
                    RenovationDate: $("#renovasyon_Tarihi").val(),
                    AreaM2: $("#_area").val(),
                    BedCapacity: $("#_capacity").val(),
                    PersonCount: $("#_personnel_count").val(),
                    ValidLanguagesIds: $("#_LanguagePreferences_id").val(),
                    DescriptionTurkish: $("#_detail").val(),
                    DescriptionEnglish: $("#_detail_eng").val(),
                    DescriptionArabic: $("#_detail_other").val(),
                }

                $.ajax({
                    type: "POST",
                    url: "/HealthCompany/Panel/CorporateInformationUpdate",
                    data: CorporateInformation,
                    dataType: "json",
                    success: function (data) {
                        $("[data-id='_company_type_id']").removeClass("border border-danger");
                        $("#CompanyTitle").removeClass("border border-danger");
                        $("#_tax_office").removeClass("border border-danger");
                        $("#_tax_number").removeClass("border border-danger");
                        $("#_center_name").removeClass("border border-danger");
                        $("[data-id='_center_type_id']").removeClass("border border-danger");
                        $("[data-id='_company_status_id']").removeClass("border border-danger");
                        $("#kurulus_Tarihi").removeClass("border border-danger");
                        $("#renovasyon_Tarihi").removeClass("border border-danger");
                        $("#_area").removeClass("border border-danger");
                        $("#_capacity").removeClass("border border-danger");
                        $("#_personnel_count").removeClass("border border-danger");
                        $("#_detail").removeClass("border border-danger");
                        $("#_detail_eng").removeClass("border border-danger");
                        $("#_detail_other").removeClass("border border-danger");
                        $("[data-id='_LanguagePreferences_id']").removeClass("border border-danger");
                        if (data == "Kaydedildi") {
                            alertSuccess("Kaydedildi","")
                        }
                        else {
                            alertFail("Kaydedilemedi", data.Message)
                            $.each(data.Keys, function (key, value) {
                                if (value == "CompanyTypeId") { $("[data-id='_company_type_id']").addClass("border border-danger") }
                                if (value == "Title") { $("#CompanyTitle").addClass("border border-danger") }
                                if (value == "TaxAdministration") { $("#_tax_office").addClass("border border-danger") }
                                if (value == "TaxNo") { $("#_tax_number").addClass("border border-danger") }
                                if (value == "CentralName") { $("#_center_name").addClass("border border-danger") }
                                if (value == "HealthCenterTypeId") { $("[data-id='_center_type_id']").addClass("border border-danger") }
                                if (value == "HealthStatusId") { $("[data-id='_company_status_id']").addClass("border border-danger") }
                                if (value == "EstablishmentDate") { $("#kurulus_Tarihi").addClass("border border-danger") }
                                if (value == "RenovationDate") { $("#renovasyon_Tarihi").addClass("border border-danger") }
                                if (value == "AreaM2") { $("#_area").addClass("border border-danger") }
                                if (value == "BedCapacity") { $("#_capacity").addClass("border border-danger") }
                                if (value == "PersonCount") { $("#_personnel_count").addClass("border border-danger") }
                                if (value == "DescriptionTurkish") { $("#_detail").addClass("border border-danger") }
                                if (value == "DescriptionEnglish") { $("#_detail_eng").addClass("border border-danger") }
                                if (value == "DescriptionArabic") { $("#_detail_other").addClass("border border-danger") }
                                if (value == "ValidLanguagesIds") { $("[data-id='_LanguagePreferences_id']").addClass("border border-danger") }
                            })
                        }
                    }
                });
            })

            $("#polyclinicbtn").click(function () {
                var polyclinic = {
                    PolyclinicIds: $("#_poliklinikler").val(),
                    ContractedInstitutionIds: $("#_anlasmali_kurumlar").val()
                }
                $.ajax({
                    type: "POST",
                    url: "/HealthCompany/Panel/PolyclinickUpdate",
                    data: polyclinic,
                    async: false,
                    dataType: "json",
                    success: function (data) {
                        $("[data-id='_poliklinikler']").removeClass("border border-danger");
                        $("[data-id='_anlasmali_kurumlar']").removeClass("border border-danger");
                        if (data == "Kaydedildi") {
                            alertSuccess("Kaydedildi", "");
                        }
                        else {
                            alertFail("Kaydedilemedi", data.Message)
                            $.each(data.Keys, function (key, value) {
                                if (value == "PolyclinicIds") { $("[data-id='_poliklinikler']").addClass("border border-danger") }
                                if (value == "ContractedInstitutionIds") { $("[data-id='_anlasmali_kurumlar']").addClass("border border-danger") }
                            })
                        }
                    }
                })
            })

            $("#_btn_doctor").click(function (e) {
                if (doctorValidation()) {
                    e.preventDefault();
                    addDoctor();
                }
            });

            LoadPageDocdor();

            $("#_country_id").change(function () {
                var id = $("#_country_id").val();
                $.ajax({
                    type: "POST",
                    url: "/HealthCompany/Panel/GetAllCountryCities",
                    data: { id: id },
                    dataType: "json",
                    success: function (data) {
                        var city = $("#_city_id");
                        city.html("");
                        city.append('<option selected value="">Seçiniz</option>');
                        $.each(data, function (key, val) {
                            city.append('<option value="' + val.Id + '">' + val.CityName + '</option>');
                        });
                        $("#_city_id").trigger("change");
                        city.selectpicker("refresh");
                    }
                })
            })

            $("#_city_id").change(function () {
                var id = $("#_city_id").val();
                $.ajax({
                    type: "POST",
                    url: "/HealthCompany/Panel/GetAllCityesTown",
                    data: { id: id },
                    dataType: "json",
                    success: function (data) {
                        var town = $("#_town_id");
                        town.html("");
                        town.append('<option selected value="">Seçiniz</option>');
                        $.each(data, function (key, val) {
                            town.append('<option value="' + val.Id + '">' + val.TownName + '</option>');
                        });
                        town.selectpicker("refresh");
                    },
                    error: function () {
                        var town = $("#_town_id");
                        town.html("");
                        town.append('<option selected value="">Seçiniz</option>');
                        town.selectpicker("refresh");
                    }
                })
            })

            $("#Location").click(function () {
                var location = {
                    CountryId: $("#_country_id").val(),
                    CityId: $("#_city_id").val(),
                    TownId: $("#_town_id").val(),
                    Address: $("#_address").val(),
                    ZipCode: $("#_zip_code").val(),
                    AirportDistance: $("#_distance_airplane").val(),
                    CityCenterDistance: $("#_distance_center").val(),
                    Latitude:$("#latitude").val(),
                    Longitude:$("#longitude").val(),
                }

                $.ajax({
                    type: "POST",
                    url: "/HealthCompany/Panel/LocationUpdate",
                    data: location,
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        $("[data-id ='_country_id']").removeClass("border border-danger");
                        $("[data-id ='_city_id']").removeClass("border border-danger");
                        $("[data-id ='_town_id']").removeClass("border border-danger");
                        $("#_address").removeClass("border border-danger");
                        $("#_zip_code").removeClass("border border-danger");
                        $("#_distance_airplane").removeClass("border border-danger");
                        $("#_distance_center").removeClass("border border-danger");
                        if (data == "Kaydedildi") {
                            alertSuccess("Kaydedildi", "")
                        }
                        else {
                            alertFail("Kaydedilemedi", data.Message)
                            $.each(data.Keys, function (key, value) {
                                if (value == "CountryId") { $("[data-id ='_country_id']").addClass("border border-danger") }
                                if (value == "CityId") { $("[data-id ='_city_id']").addClass("border border-danger") }
                                if (value == "TownId") { $("[data-id ='_town_id']").addClass("border border-danger") }
                                if (value == "Address") { $("#_address").addClass("border border-danger") }
                                if (value == "ZipCode") { $("#_zip_code").addClass("border border-danger") }
                                if (value == "AirportDistance") { $("#_distance_airplane").addClass("border border-danger") }
                                if (value == "CityCenterDistance") { $("#_distance_center").addClass("border border-danger") }
                            })
                        }
                    }
                })
            })

            @if(Model.Logo!=null)
            {
             <text>   setImageSrc("_logo_val", "/Data/" + "@Model.Logo");</text>
            }
            @if(Model.CoverImage!=null)
            {
               <text> setImageSrc("_image_val", "/Data/" + "@Model.CoverImage");</text>
            }


            new KTAvatar("_logo");
            new KTAvatar("_image");
            new KTAvatar("_galeri");

            $("#_tax_number").inputFilter(function(value) {
                return /^-?\d*$/.test(value);
            });

            $("#_area").inputFilter(function(value) {
                return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 30000);
            });

            $("#_capacity").inputFilter(function(value) {
                return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 30000);
            });

            $("#_personnel_count").inputFilter(function(value) {
                return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 30000);
            });

            $("#_zip_code").inputFilter(function(value) {
                return /^-?\d*$/.test(value);
            });

            $("#_distance_airplane").inputFilter(function (value) {
                return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 30000);
            });

            $("#_distance_center").inputFilter(function (value) {
                return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 30000);
            });

        })

        var doctorList = [];

        function LoadPageDocdor() {
            $.ajax({
                type: "POST",
                url: "/HealthCompany/Panel/GetAllCompanyDoctors",
                dataType: "json",
                async: false,
                success: function (data) {
                    $.each(data, function (key, value) {
                        var doctor = {
                            doctor_id: value.id,
                            doktor_type_name: value.doktorType,
                            Name: value.doctorName,
                            Surname: value.doctorSurname,
                            poliklinik_name: value.polyclinicName
                        }
                        doctorList.push(doctor);
                    })
                    loadDoctors()
                }
            })
        }

        function doctorValidation() {
            var e = true
            $("[data-id='_doktor_title']").removeClass("border border-danger")
            $("#_doktor_name").removeClass("border border-danger")
            $("#_doktor_surname").removeClass("border border-danger")
            $("[data-id='_doktor_poliklinikler']").removeClass("border border-danger")
            if ($("#_doktor_title").val() == "") { $("[data-id='_doktor_title']").addClass("border border-danger") }
            if ($("#_doktor_name").val() == "") { $("#_doktor_name").addClass("border border-danger") }
            if ($("#_doktor_surname").val() == "") { $("#_doktor_surname").addClass("border border-danger") }
            if ($("#_doktor_poliklinikler").val() == "") { $("[data-id='_doktor_poliklinikler']").addClass("border border-danger") }
            if ($("#_doktor_title").val() == "" || $("#_doktor_name").val() == "" || $("#_doktor_surname").val() == "" || $("#_doktor_poliklinikler").val() == "") {
                alertFail("Kaydedilemedi","Lütfen gerekli alanları doldurun.")
                e = false
            }
            return e
        }

        function addDoctor() {
            var doktor_type_id = $("#_doktor_title").val();
            var doktor_type_name = $("#_doktor_title option:selected").text();
            var name = $("#_doktor_name").val();
            var surname = $("#_doktor_surname").val();
            var poliklinik_id = $("#_doktor_poliklinikler").val();
            var poliklinik_name = $("#_doktor_poliklinikler option:selected").text();

            var doctor = {
                set id(id) {
                  this.doctor_id = id
                },
                doctor_id: "",
                DoctorTitleid: doktor_type_id,
                doktor_type_name: doktor_type_name,
                Name: name,
                Surname: surname,
                PolyclinicId: poliklinik_id,
                poliklinik_name: poliklinik_name
            }

            $.ajax({
                type: "POST",
                url: "/HealthCompany/Panel/DoktorAddOrUpdate",
                data: doctor,
                dataType: "json",
                success: function (data) {
                    if (data[0] == "Kaydedildi") {
                        alertSuccess("Kaydedildi","")
                        doctor.id = data[1];
                        doctorList.push(doctor);
                        loadDoctors();
                        $("#_doktor_name").val("");
                        $("#_doktor_surname").val("");
                    }
                    else {
                        alertFail("Kaydedilemedi", data.Message)
                        $.each(data.Keys, function (key, value) {
                            if (value == "Name") { $("#_doktor_name").addClass("border border-danger") }
                            if (value == "Surname") { $("#_doktor_surname").addClass("border border-danger") }
                        })
                    }
                }
            })
        }

        function loadDoctors() {
            $('#table_body_doctor').empty();
            for (var i = 0; i < doctorList.length; i++) {
                var line =
                    `<tr>
                        <td>` + (i + 1) + `</td>
                        <td>` + doctorList[i].doktor_type_name + `</td>
                        <td>` + doctorList[i].Name + " " + doctorList[i].Surname + `</td>
                        <td>` + doctorList[i].poliklinik_name + `</td>
                        <td><button class="btn-delete" onclick="deleteDoctor(` + doctorList[i].doctor_id + `, this)" type="button">Sil</button></td>
                      </tr>`;
                $('#table_body_doctor').append(line);
            }
        }

        function deleteDoctor(id, btn) {
            var btnDelete = btn;
            $.ajax({
            type: "POST",
            url: "/HealthCompany/Panel/CompanyDeleteDoctor/" + id,
                success: function (data) {
                    if (data=="Silindi") {
                        var order = $($((btnDelete).closest('tr')).find('td')[0]).text();
                        doctorList.splice((order - 1), 1);
                        loadDoctors();
                    }
                }
            })
        }

        function saveGalleryImage() {

            var extension = $("#_galeri_val").val().substring($("#_galeri_val").val().lastIndexOf('.') + 1).toLowerCase();

            switch(extension) {
                case 'jpg': case 'jpeg': case 'gif': case 'png':
                    var model = {
                        galleryImage: uploadImage("_galeri_val"),
                    }

                    $.ajax({
                        type: 'POST',
                        url: "/HealthCompany/Panel/GalleyImageSave",
                        data: model,
                        success: function (data) {
                            if (data.Value == "Kaydedildi") {
                                alertSuccess("Kaydedildi", "");
                                $("#galleyPictureCancel").trigger("click")
                                addGalleryItem(model.galleryImage, data.Key)
                            }
                            else {
                                alertFail("Kaydedilemdi",data)
                            }
                        },
                    });
                    break;
                case "":
                    alertFail("Resim seçilmedi", "Lütfen resim seçiniz.")
                    break;
                default:
                    alertFail("Resim kaydedilemedi","Yüklemek istediğiniz resmin uzantısı 'jpeg, jpg, png, gif' olmalıdır. ")
            }
        }

        function deleteGalleryImage(Id,e) {
            var model = {
                Id: Id,
            }

            $.ajax({
                type: 'POST',
                url: "/HealthCompany/Panel/GalleyImageDelete",
                data: model,
                success: function (data) {
                    if (data == "Silindi") {
                        alertSuccess("Silindi", "");
                        $(e).parent().remove();
                        galleyValid();
                    }
                    else {
                        alertFail("Hata",data)
                    }
                },

            })
        };

        function addGalleryItem(imageName, id) {
            $("#galleyItems").append("<div class='d-inline imageItem mr-2 mb-2' style='position:relative'><img src='/Data/" + imageName + "' alt='" + imageName + "' class='img-thumbnail' style='width:120px;height:120px'><span class='badge badge-danger' onclick='deleteGalleryImage(" + id + ", this)' style='position:absolute; top:7px; right:7px; cursor:pointer'>X</span>")
            galleyValid();
        }

        function showImages(logo, image) {
            setImageSrc("_logo_val", "/Data/" + logo);
            setImageSrc("_image_val", "/Data/" + image);
        }

        function setImageSrc(input, src) {
            //$('#' + input).attr("src", src);
            $('#' + input).parent().parent().find("div").css("background-image", 'url("' + src + '")');
            $('#' + input).parent().next().css("display", "flex");
        }

        function saveImage() {
            var model = {
                construtor(logo, coverImage) {
                    this.logo = logo;
                    this.coverImage = coverImage;
                }
            }

            var message = "";

            var extensionLogo = $("#_logo_val").val().substring($("#_logo_val").val().lastIndexOf('.') + 1).toLowerCase();
            switch(extensionLogo) {
                case 'jpg': case 'jpeg': case 'gif': case 'png':
                    var logoCheck = $('#_logo_val').parent().parent().find("div").css("background-image").indexOf("@(Model.Logo==null?" ":Model.Logo)") > -1;
                    if (!logoCheck) {
                        model.logo = uploadImage("_logo_val");
                    }
                    message += "Logo kaydedildi. ";
                    break;
                case "":
                    break;
                default:
                    message += "Yüklemek istediğiniz logo resmin uzantısı 'jpeg, jpg, png, gif' olmalıdır. ";
            }

            var extensionCoverImage = $("#_image_val").val().substring($("#_image_val").val().lastIndexOf('.') + 1).toLowerCase();
            switch(extensionCoverImage) {
                case 'jpg': case 'jpeg': case 'gif': case 'png':
                    var coverImage = $('#_image_val').parent().parent().find("div").css("background-image").indexOf("@(Model.CoverImage==null?" ":Model.CoverImage)") > -1;
                    if (!coverImage) {
                        model.coverImage = uploadImage("_image_val");
                    }
                    message += "Tesis dış cephe resmi kaydedildi. ";
                    break;
                case "":
                    break;
                default:
                    message += "Yüklemek istediğiniz tesis dış cephe resmin uzantısı 'jpeg, jpg, png, gif' olmalıdır. ";
            }


            if (message != "") {
                Swal.fire("", message, "info");
            }

            if (model.logo != undefined || model.coverImage!=undefined) {
                $.ajax({
                    type: 'POST',
                    url: "/HealthCompany/Panel/ImageSave",
                    data: model,
                    success: function (data) {
                        if (data == "Kaydedildi") {
                            //alertSuccess("Kaydedildi", "");
                        }
                        else {
                            //alertFail("Kaydedilemedi", data)
                        }
                    },
                });
            }
        }

        function uploadImage(inputName) {
            var image = "";
            try {
                if ($('#' + inputName)[0].files && $('#' + inputName)[0].files[0]) {
                    image = uploadImageToServer($('#' + inputName)[0].files[0]);
                }
                else {
                    var bg = $('#' + inputName).parent().parent().find("div").css('background-image');
                    bg = bg.replace('url(', '').replace(')', '').replace(/\"/gi, "");
                    var res = bg.split("Data/");
                    bg = res[1];

                    image = bg;
                    if (image == undefined) {
                        image = "";
                    }
                }
            } catch (ex) {
                image = "";
            }

            return image;
        }

        function uploadImageToServer(input) {
            var formData = new FormData();
            formData.append('file1', input);
            var savedFileName = "";
            $.ajax({
                type: 'POST',
                url: '/Business/ImageUploadHandler.ashx',
                data: formData,
                success: function (fileName) {
                    savedFileName = fileName;
                },
                processData: false,
                contentType: false,
                error: function (error) {
                    savedFileName = "";
                },
                async: false
            });
            return savedFileName;
        }

        (function ($) {
              $.fn.inputFilter = function(inputFilter) {
                    return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
                          if (inputFilter(this.value)) {
                            this.oldValue = this.value;
                            this.oldSelectionStart = this.selectionStart;
                            this.oldSelectionEnd = this.selectionEnd;
                          }
                          else if (this.hasOwnProperty("oldValue")) {
                            this.value = this.oldValue;
                            this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                          }
                          else {
                            this.value = "";
                          }
                    });
              };
        }(jQuery));

        function formNext() {
            $("[data-ktwizard-type='action-next']").trigger("click");
        }


        function galleyValid() {
            var count = $(".imageItem").length
            $("#galleryValidation").removeAttr("style");
            if (count > 0) {
                $("#galleryValidation").css("display", "none");
            }
            else {
                $("#galleryValidation").css("display", "block");

            }
        }


        function inputValid(e) {
            var t = $(e).next().attr("type")
            if (t == "button") {
                var val = $(e).val();
                if (val == "") {
                    $(e).next().addClass("border border-danger");
                }
                else {
                    $(e).next().removeClass("border border-danger");
                }
            }
            else {
                var val = $(e).val();
                if (val == "") {
                    $(e).addClass("border border-danger");
                }
                else {
                    $(e).removeClass("border border-danger");
                }
            }
        }


    </script>




    <script>

        function initMap() {

            @if(Model.Latitude==null)
            {
                <text>

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 6.5,
                    center: { lat: 38.984387, lng: 34.334213 }
                    });

                var pt = new google.maps.LatLng(38.984387, 34.334213);
                map.setCenter(38.984387, 34.334213);

                var marker = new google.maps.Marker({
                    map: map,
                    position: pt,
                    draggable: true

                });

                google.maps.event.addListener(marker, 'dragend', function () {

                document.getElementById('latitude').value = marker.getPosition().lat();
                document.getElementById('longitude').value = marker.getPosition().lng();

                });

                </text>
            }
            else
            {                             
                <text>

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 12,
                    center: { lat: @Model.Latitude, lng: @Model.Longitude }
                    });

                var pt = new google.maps.LatLng(@Model.Latitude, @Model.Longitude);
                map.setCenter(@Model.Latitude, @Model.Longitude);

                var marker = new google.maps.Marker({
                    map: map,
                    position: pt,
                    draggable: true

                });

                google.maps.event.addListener(marker, 'dragend', function () {

                    document.getElementById('latitude').value = marker.getPosition().lat();
                    document.getElementById('longitude').value = marker.getPosition().lng();

                });

                </text>
            }

            var geocoder = new google.maps.Geocoder();
            // Event Listener (İlçe select değiştiğinde harita değişiyor)
            document.getElementById('_town_id').addEventListener('change', function () {
                var address = document.getElementById('_city_id').options[document.getElementById('_city_id').selectedIndex].text + "," + document.getElementById('_town_id').options[document.getElementById('_town_id').selectedIndex].text
                geocodeAddress(geocoder, map, address);
            });

        }


        function geocodeAddress(geocoder, resultsMap, address) {



            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status === 'OK') {
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 12
                    });

                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location,
                        draggable: true

                    });



                    // Add dragging event listeners.
                    google.maps.event.addListener(marker, 'dragend', function () {

                        document.getElementById('latitude').value = marker.getPosition().lat();
                        document.getElementById('longitude').value = marker.getPosition().lng();

                    });




                } else {
                    alert('Harita oluşmadı: ' + status);
                }
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTO41MtgDHhc5n5c5Ors50kElMkeYwLAQ&callback=initMap"></script>
}

