﻿<!-- Adres -->
<div class="card border-0">
    <div class="card-body bg-gray-100">
        <div class="card-baslik d-flex justify-content-md-between">
            <h6 class="text-uppercase text-gray-700 font-weight-medium letter-spacing-0_06 mb-2 small">Adres</h6>
            <h6 class="small">Türkiye <i class="fa fa-angle-down"></i></h6>
        </div>
        @Html.DropDownList("City", ViewBag.City as SelectList, "İl Seçiniz", new { @id = "_city_id", @class = "custom-select custom-select-sm mb-2", @aria_invalid = "false" })
        <select id="_town_id" class="custom-select custom-select-sm" aria-invalid="false">
            <option selected value="">İlçe Seçiniz</option>
        </select>
    </div>
</div>
<!-- Adres Sonu -->
<!-- Merkezler -->
<div class="card border-0">
    <div class="card-body bg-gray-100">
        <div class="card-baslik d-flex justify-content-md-between">
            <h6 class="text-uppercase text-gray-700 font-weight-medium letter-spacing-0_06 mb-2 small">Merkezler</h6>
            <h6 class="small">Tümü <i class="fa fa-angle-down"></i></h6>
        </div>
        @Html.DropDownList("Center", ViewBag.Center as SelectList, new { @class = "custom-select custom-select-sm mb-2", @aria_invalid = "false" })
    </div>
</div>
<!-- Merkezler Sonu -->
<!-- Fiyat -->
<div class="card border-0">
    <div class="card-body bg-gray-100">
        <div class="card-baslik">
            <h6 class="text-uppercase text-gray-700 font-weight-medium letter-spacing-0_06 mb-2 small">Fiyat</h6>
        </div>
        <div class="para-birimleri">
            <div class="custom-control custom-radio custom-control-inline form-selector">
                <input type="radio" id="para_tr" name="para_birimi" class="custom-control-input form-selector__input">
                <label class="custom-control-label form-selector__label" for="para_tr">TL</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline form-selector">
                <input type="radio" id="para_usd" name="para_birimi" class="custom-control-input form-selector__input">
                <label class="custom-control-label form-selector__label" for="para_usd">USD</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline form-selector mr-0">
                <input type="radio" id="para_eur" name="para_birimi" class="custom-control-input form-selector__input">
                <label class="custom-control-label form-selector__label" for="para_eur">EUR</label>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control form-control-sm" placeholder="Min.">
            </div>
            <div class="col">
                <input type="text" class="form-control form-control-sm" placeholder="Max.">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-block btn-primary btn-xs mt-4"><span class="fa fa-search mr-2"></span> ARA</button>
            </div>
        </div>
    </div>
</div>
<!-- Fiyat Sonu -->