﻿<div class="col-lg-3 order-lg-1">
    <div class="card-baslik d-flex justify-content-md-between">
        <h6 class="text-uppercase text-gray-700 font-weight-medium letter-spacing-0_06 mb-2 small"><i class="fas fa-bed"></i> Konaklama</h6>
    </div>
    <!-- Konaklama -->
    <form action="/Home/TourismFilterSearch" method="get">
        <div class="card border-0 mb-5">
            <div class="card-body bg-warning">

                <input id="searchText" value="@(ViewBag.SearchDTO==null?"":ViewBag.SearchDTO.Text)" name="Text" maxlength="100" type="text" autocomplete="off" class="form-control form-control-sm mb-2" placeholder="Bölge, Şehir/Tesis Adı">

                <!-- CheckIn -->
                <div id="konaklamaCheckIn" class="u-datepicker input-group mb-2">
                    <div class="input-group-prepend">
                        <div id="calendarFromLabel" class="input-group-text">
                            <i class="svg-icon svg-icon-xs text-muted">
                                <svg viewBox="0 0 24 24" width="24" height="24" class="stroke-gray-200" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                    <line x1="16" y1="2" x2="16" y2="6"></line>
                                    <line x1="8" y1="2" x2="8" y2="6"></line>
                                    <line x1="3" y1="10" x2="21" y2="10"></line>
                                </svg>
                            </i>
                        </div>
                    </div>

                    <input name="CheckIn" value="@(ViewBag.SearchDTO==null?"":ViewBag.SearchDTO.CheckIn)" autocomplete="off" class="js-range-datepicker form-control bg-white text-muted" id="_check_in" type="text" placeholder="Check In" aria-label="From" aria-describedby="calendarFromLabel" data-rp-wrapper="#konaklamaCheckIn" data-rp-date-format="D, M, Y">
                </div>
                <!-- CheckIn Sonu -->
                <!-- CheckOut -->
                <div id="konaklamaCheckOut" class="u-datepicker input-group mb-2">
                    <div class="input-group-prepend">
                        <div id="calendarToLabel" class="input-group-text">
                            <i class="svg-icon svg-icon-xs text-muted">
                                <svg viewBox="0 0 24 24" width="24" height="24" class="stroke-gray-200" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                    <line x1="16" y1="2" x2="16" y2="6"></line>
                                    <line x1="8" y1="2" x2="8" y2="6"></line>
                                    <line x1="3" y1="10" x2="21" y2="10"></line>
                                </svg>
                            </i>
                        </div>
                    </div>

                    <input name="CheckOut" value="@(ViewBag.SearchDTO==null?"":ViewBag.SearchDTO.CheckOut)" autocomplete="off" class="js-range-datepicker form-control bg-white text-muted" type="text" id="_check_out" placeholder="Check Out" aria-label="To" aria-describedby="calendarToLabel" data-rp-wrapper="#konaklamaCheckOut" data-rp-date-format="D, M d">
                </div>
                <!-- CheckOut Sonu -->
                <select name="AdultCount" class="custom-select custom-select-sm mb-2" aria-invalid="false">
                    <option value="1">1 Yetişkin</option>
                    <option value="2">2 Yetişkin</option>
                    <option value="3">3 Yetişkin</option>
                    <option value="4">4 Yetişkin</option>
                    <option value="5">5 Yetişkin</option>
                    <option value="6">6 Yetişkin</option>
                    <option value="7">7 Yetişkin</option>
                    <option value="8">8 Yetişkin</option>
                    <option value="9">9 Yetişkin</option>
                    <option value="10">10 Yetişkin</option>
                    <option value="11">11 Yetişkin</option>
                    <option value="12">12 Yetişkin</option>
                    <option value="13">13 Yetişkin</option>
                    <option value="14">14 Yetişkin</option>
                    <option value="15">15 Yetişkin</option>
                    <option value="16">16 Yetişkin</option>
                    <option value="17">17 Yetişkin</option>
                    <option value="18">18 Yetişkin</option>
                    <option value="19">19 Yetişkin</option>
                    <option value="20">20 Yetişkin</option>
                    <option value="21">21 Yetişkin</option>
                    <option value="22">22 Yetişkin</option>
                    <option value="23">23 Yetişkin</option>
                    <option value="24">24 Yetişkin</option>
                    <option value="25">25 Yetişkin</option>
                    <option value="26">26 Yetişkin</option>
                    <option value="27">27 Yetişkin</option>
                    <option value="28">28 Yetişkin</option>
                    <option value="29">29 Yetişkin</option>
                    <option value="30">30 Yetişkin</option>
                </select>
                <div class="form-row">
                    <div class="col">
                        <select name="ChildCount" id="childSelect" onchange="childChange()" class="custom-select custom-select-sm mb-2" aria-invalid="false">
                            <option value="0">Çocuk Yok</option>
                            <option value="1">1 Çocuk</option>
                            <option value="2">2 Çocuk</option>
                            <option value="3">3 Çocuk</option>
                            <option value="4">4 Çocuk</option>
                            <option value="5">5 Çocuk</option>
                            <option value="6">6 Çocuk</option>
                            <option value="7">7 Çocuk</option>
                            <option value="8">8 Çocuk</option>
                            <option value="9">9 Çocuk</option>
                            <option value="10">10 Çocuk</option>
                        </select>
                    </div>
                    <div class="col">
                        <select name="RoomCount" class="custom-select custom-select-sm mb-2" aria-invalid="false">
                            <option value="1">1 Oda</option>
                            <option value="2">2 Oda</option>
                            <option value="3">3 Oda</option>
                            <option value="4">4 Oda</option>
                            <option value="5">5 Oda</option>
                            <option value="6">6 Oda</option>
                            <option value="7">7 Oda</option>
                            <option value="8">8 Oda</option>
                            <option value="9">9 Oda</option>
                            <option value="10">10 Oda</option>
                            <option value="11">11 Oda</option>
                            <option value="12">12 Oda</option>
                            <option value="13">13 Oda</option>
                            <option value="14">14 Oda</option>
                            <option value="15">15 Oda</option>
                            <option value="16">16 Oda</option>
                            <option value="17">17 Oda</option>
                            <option value="18">18 Oda</option>
                            <option value="19">19 Oda</option>
                            <option value="20">20 Oda</option>
                            <option value="21">21 Oda</option>
                            <option value="22">22 Oda</option>
                            <option value="23">23 Oda</option>
                            <option value="24">24 Oda</option>
                            <option value="25">25 Oda</option>
                            <option value="26">26 Oda</option>
                            <option value="27">27 Oda</option>
                            <option value="28">28 Oda</option>
                            <option value="29">29 Oda</option>
                            <option value="30">30 Oda</option>
                        </select>
                    </div>
                </div>
                <div id="childOld" class="form-row">
                </div>
                <div class="form-row">
                    <div class="col-12">
                        <button type="submit" onclick="return searchSubmit()" class="btn btn-block btn-secondary btn-xs mt-2"><span class="fa fa-search mr-2"></span> ARA</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Konaklama Sonu -->
    <div class="card-baslik d-flex justify-content-md-between">
        <h6 class="text-uppercase text-gray-700 font-weight-medium letter-spacing-0_06 mb-2 small"><i class="fas fa-filter"></i> Filtrele</h6>
    </div>
    <!-- Gecelik Fiyat -->
    <div class="card border-0">
        <div class="card-body bg-gray-100">
            <div class="card-baslik">
                <h6 class="text-uppercase text-gray-700 font-weight-medium letter-spacing-0_06 mb-2 small">Gecelik Fiyat</h6>
            </div>
            <div class="para-birimleri">
                <div class="custom-control custom-radio custom-control-inline form-selector">
                    <input type="radio" id="para_tr" name="para_birimi" class="custom-control-input form-selector__input">
                    <label class="custom-control-label form-selector__label" for="para_tr">TL</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline form-selector">
                    <input type="radio" id="para_usd" name="para_birimi" class="custom-control-input form-selector__input">
                    <label class="custom-control-label form-selector__label" for="para_usd">USD</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline form-selector mr-0">
                    <input type="radio" id="para_eur" name="para_birimi" class="custom-control-input form-selector__input">
                    <label class="custom-control-label form-selector__label" for="para_eur">EUR</label>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control form-control-sm" placeholder="Min.">
                </div>
                <div class="col">
                    <input type="text" class="form-control form-control-sm" placeholder="Max.">
                </div>
            </div>
        </div>
    </div>
    <!-- Gecelik Fiyat Sonu -->
    <!-- Filtreler -->
    <div id="filtreler-1" class="kategori-birimler my-5">
        <!-- Filtre-1 -->
        <div class="card border-0 mb-0">
            <div class="card-header card-collapse__header">
                <h5 class="mb-0">
                    <button class="btn btn-link btn-block font-weight-medium d-flex justify-content-between card-collapse__btn collapsed" data-toggle="collapse" data-target="#secenekler-1" aria-expanded="false" aria-controls="secenekler-1">
                        Misafir Puanı
                        <span class="card-collapse__btn-arrow">
                            <span class="fa fa-arrow-right small"></span>
                        </span>
                    </button>
                </h5>
            </div>
            <div id="secenekler-1" class="collapse" data-parent="#filtreler-1">
                <div class="card-body card-collapse__body px-0">
                    <ul class="birim-linkler filtre-linkler">
                        <li>
                            <div class="filtre-sol">
                                <div class="form-check">
                                    <input class="form-check-input position-static mr-2" type="checkbox" value="1"> 9,5 + Mükemmel
                                </div>
                            </div>
                            <div class="filtre-sag">217</div>
                        </li>
                        <li>
                            <div class="filtre-sol">
                                <div class="form-check">
                                    <input class="form-check-input position-static mr-2" type="checkbox" value="1"> 8,5 - 9,5 Çok İyi
                                </div>
                            </div>
                            <div class="filtre-sag">49</div>
                        </li>
                        <li>
                            <div class="filtre-sol">
                                <div class="form-check">
                                    <input class="form-check-input position-static mr-2" type="checkbox" value="1"> 7,5 - 8,5 İyi
                                </div>
                            </div>
                            <div class="filtre-sag">2</div>
                        </li>
                        <li>
                            <div class="filtre-sol">
                                <div class="form-check">
                                    <input class="form-check-input position-static mr-2" type="checkbox" value="1"> 6,5 - 7,5 Fena Değil
                                </div>
                            </div>
                            <div class="filtre-sag">63</div>
                        </li>
                        <li>
                            <div class="filtre-sol">
                                <div class="form-check">
                                    <input class="form-check-input position-static mr-2" type="checkbox" value="1"> 5,5 - 6,5 Vasat
                                </div>
                            </div>
                            <div class="filtre-sag">105</div>
                        </li>
                        <li>
                            <div class="filtre-sol">
                                <div class="form-check">
                                    <input class="form-check-input position-static mr-2" type="checkbox" value="1"> Diğer
                                </div>
                            </div>
                            <div class="filtre-sag">112</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Filtre-1 -->
        <!-- Filtre-2 -->
        <div class="card border-0 mb-0">
            <div class="card-header card-collapse__header">
                <h5 class="mb-0">
                    <button class="btn btn-link btn-block font-weight-medium d-flex justify-content-between card-collapse__btn collapsed" data-toggle="collapse" data-target="#secenekler-2" aria-expanded="false" aria-controls="secenekler-2">
                        Tesis Tipi
                        <span class="card-collapse__btn-arrow">
                            <span class="fa fa-arrow-right small"></span>
                        </span>
                    </button>
                </h5>
            </div>
            <div id="secenekler-2" class="collapse" data-parent="#filtreler-1">
                <div class="card-body card-collapse__body px-0">
                    <ul class="birim-linkler filtre-linkler">
                        @foreach(var Facility in ViewBag.FacilityType as List<FilterDTO>)
                        {
                            <li>
                                <div class="filtre-sol">
                                    <div class="form-check">
                                        <input class="form-check-input position-static mr-2" type="checkbox" value="1"> @Facility.Name
                                    </div>
                                </div>
                                <div class="filtre-sag">@Facility.Count</div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!-- Filtre-2 -->
        <!-- Filtre-3 -->
        <div class="card border-0 mb-0">
            <div class="card-header card-collapse__header">
                <h5 class="mb-0">
                    <button class="btn btn-link btn-block font-weight-medium d-flex justify-content-between card-collapse__btn collapsed" data-toggle="collapse" data-target="#secenekler-3" aria-expanded="false" aria-controls="secenekler-3">
                        Öğün
                        <span class="card-collapse__btn-arrow">
                            <span class="fa fa-arrow-right small"></span>
                        </span>
                    </button>
                </h5>
            </div>
            <div id="secenekler-3" class="collapse" data-parent="#filtreler-1">
                <div class="card-body card-collapse__body px-0">
                    <ul class="birim-linkler filtre-linkler">
                        @foreach(var Facility in ViewBag.MealType as List<FilterDTO>)
                        {
                            <li>
                                <div class="filtre-sol">
                                    <div class="form-check">
                                        <input class="form-check-input position-static mr-2" type="checkbox" value="1"> @Facility.Name
                                    </div>
                                </div>
                                <div class="filtre-sag">@Facility.Count</div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!-- Filtre-3 -->
        <!-- Filtre-4 -->
        <div class="card border-0 mb-0">
            <div class="card-header card-collapse__header">
                <h5 class="mb-0">
                    <button class="btn btn-link btn-block font-weight-medium d-flex justify-content-between card-collapse__btn collapsed" data-toggle="collapse" data-target="#secenekler-4" aria-expanded="false" aria-controls="secenekler-4">
                        İptal Politikası
                        <span class="card-collapse__btn-arrow">
                            <span class="fa fa-arrow-right small"></span>
                        </span>
                    </button>
                </h5>
            </div>
            <div id="secenekler-4" class="collapse" data-parent="#filtreler-1">
                <div class="card-body card-collapse__body px-0">
                    <ul class="birim-linkler filtre-linkler">
                        @foreach(var Facility in ViewBag.CancellationPolicy as List<FilterDTO>)
                        {
                            <li>
                                <div class="filtre-sol">
                                    <div class="form-check">
                                        <input class="form-check-input position-static mr-2" type="checkbox" value="1"> @Facility.Name
                                    </div>
                                </div>
                                <div class="filtre-sag">@Facility.Count</div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!-- Filtre-4 -->
        <!-- Filtre-5 -->
        <div class="card border-0 mb-0">
            <div class="card-header card-collapse__header">
                <h5 class="mb-0">
                    <button class="btn btn-link btn-block font-weight-medium d-flex justify-content-between card-collapse__btn collapsed" data-toggle="collapse" data-target="#secenekler-5" aria-expanded="false" aria-controls="secenekler-5">
                        Tema
                        <span class="card-collapse__btn-arrow">
                            <span class="fa fa-arrow-right small"></span>
                        </span>
                    </button>
                </h5>
            </div>
            <div id="secenekler-5" class="collapse" data-parent="#filtreler-1">
                <div class="card-body card-collapse__body px-0">
                    <ul class="birim-linkler filtre-linkler">
                        @foreach(var Facility in ViewBag.Thema as List<FilterDTO>)
                        {
                            <li>
                                <div class="filtre-sol">
                                    <div class="form-check">
                                        <input class="form-check-input position-static mr-2" type="checkbox" value="1"> @Facility.Name
                                    </div>
                                </div>
                                <div class="filtre-sag">@Facility.Count</div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!-- Filtre-5 -->
        <!-- Filtre-6 -->
        <div class="card border-0 mb-0">
            <div class="card-header card-collapse__header">
                <h5 class="mb-0">
                    <button class="btn btn-link btn-block font-weight-medium d-flex justify-content-between card-collapse__btn collapsed" data-toggle="collapse" data-target="#secenekler-6" aria-expanded="false" aria-controls="secenekler-6">
                        Olanaklar
                        <span class="card-collapse__btn-arrow">
                            <span class="fa fa-arrow-right small"></span>
                        </span>
                    </button>
                </h5>
            </div>
            <div id="secenekler-6" class="collapse" data-parent="#filtreler-1">
                <div class="card-body card-collapse__body px-0">
                    <ul class="birim-linkler filtre-linkler">
                        @foreach(var Facility in ViewBag.Scopes as List<FilterDTO>)
                        {
                            <li>
                                <div class="filtre-sol">
                                    <div class="form-check">
                                        <input class="form-check-input position-static mr-2" type="checkbox" value="1"> @Facility.Name
                                    </div>
                                </div>
                                <div class="filtre-sag">@Facility.Count</div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!-- Filtre-6 -->
    </div>
    <!-- Filtreler Sonu -->
    <!-- İlgili Kategoriler -->
    <h6 class="kategori-baslik text-uppercase">
        <i class="fas fa-tasks mr-2"></i> İlgili Kategoriler
    </h6>
    <a href="!#" role="button" class="btn btn-sm btn-outline-secondary btn-block text-left"><span class="fas fa-car mr-3 text-warning"></span> Araç Kiralama</a>
    <a href="!#" role="button" class="btn btn-sm btn-outline-secondary btn-block text-left"><span class="fas fa-language mr-3 text-warning"></span> Çevirmen &amp; Rehber</a>
    <a href="!#" role="button" class="btn btn-sm btn-outline-secondary btn-block text-left"><span class="fas fa-map-marked-alt mr-3 text-warning"></span> Gezilecek Yerler</a>
    <a href="!#" role="button" class="btn btn-sm btn-outline-secondary btn-block text-left"><span class="fas fa-utensils mr-3 text-warning"></span> Yeme İçme</a>
    <a href="!#" role="button" class="btn btn-sm btn-outline-secondary btn-block text-left"><span class="fas fa-tags mr-3 text-warning"></span> Alış Veriş</a>
    <a href="!#" role="button" class="btn btn-sm btn-outline-secondary btn-block text-left"><span class="far fa-gem mr-3 text-warning"></span> VIP Hizmetler</a>
    <!-- İlgili Kategoriler Sonu -->
</div>

<script>
    function childChange() {
        var e = parseInt($("#childSelect").val());
        $("#childOld").html("");
        for (var i = 0; i < e; i++) {
            $("#childOld").append("<div class='col-12'><select name='ChildAge_" + (i + 1) + "' class='custom-select custom-select-sm mb-2' aria-invalid='false'><option value='1'>1 Yaşında</option><option value='2'>2 Yaşında</option><option value='3'>3 Yaşında</option><option value='4'>4 Yaşında</option><option value='5'>5 Yaşında</option><option value='6'>6 Yaşında</option><option value='7'>7 Yaşında</option><option value='8'>8 Yaşında</option><option value='9'>9 Yaşında</option><option value='10'>10 Yaşında</option><option value='11'>11 Yaşında</option><option value='12'>12 Yaşında</option><option value='13'>13 Yaşında</option><option value='14'>14 Yaşında</option><option value='15'>15 Yaşında</option><option value='16'>16 Yaşında</option><option value='17'>17 Yaşında</option></select></div>");
        }
    }

    function searchSubmit() {
        var start = $("#_check_in").datepicker("getDate");
        var end = $("#_check_out").datepicker("getDate");
        days = (end - start) / (1000 * 60 * 60 * 24);
        totalDays = Math.round(days);
        var message = "";
        if ($("#searchText").val().trim() == "") {
            message += "'Bölgei Şehir/Tesis Adı' yazın. "
        }
        if (totalDays < 1) {
            message += "'CheckIn' ve 'CheckOut' tarihlerini kontrol edin."
        }
        if (message != "") {
            alertFail("", message)
            return false;
        }
        else {
            return true;
        }
    }

@if (ViewBag.SearchDTO!=null) {
    <text>
    window.onload = function() {
        document.getElementsByName("AdultCount")[0].value = @(ViewBag.SearchDTO==null?"":ViewBag.SearchDTO.AdultCount);
        document.getElementsByName("ChildCount")[0].value = @(ViewBag.SearchDTO==null?"":ViewBag.SearchDTO.ChildCount);
        document.getElementsByName("RoomCount")[0].value = @(ViewBag.SearchDTO==null?"":ViewBag.SearchDTO.RoomCount);
        childChange();
        @if(ViewBag.SearchDTO.ChildAge_1 != null)
        {
        <text>
        document.getElementsByName("ChildAge_1")[0].value = @(ViewBag.SearchDTO.ChildAge_1);
        </text>
        }
        @if(ViewBag.SearchDTO.ChildAge_2 != null)
        {
        <text>
        document.getElementsByName("ChildAge_2")[0].value = @(ViewBag.SearchDTO.ChildAge_2);
        </text>
        }
        @if(ViewBag.SearchDTO.ChildAge_3 != null)
        {
        <text>
        document.getElementsByName("ChildAge_3")[0].value = @(ViewBag.SearchDTO.ChildAge_3);
        </text>
        }
        @if(ViewBag.SearchDTO.ChildAge_4 != null)
        {
        <text>
        document.getElementsByName("ChildAge_4")[0].value = @(ViewBag.SearchDTO.ChildAge_4);
        </text>
        }
        @if(ViewBag.SearchDTO.ChildAge_5 != null)
        {
        <text>
        document.getElementsByName("ChildAge_5")[0].value = @(ViewBag.SearchDTO.ChildAge_5);
        </text>
        }
        @if(ViewBag.SearchDTO.ChildAge_6 != null)
        {
        <text>
        document.getElementsByName("ChildAge_6")[0].value = @(ViewBag.SearchDTO.ChildAge_6);
        </text>
        }
        @if(ViewBag.SearchDTO.ChildAge_7 != null)
        {
        <text>
        document.getElementsByName("ChildAge_7")[0].value = @(ViewBag.SearchDTO.ChildAge_7);
        </text>
        }
        @if(ViewBag.SearchDTO.ChildAge_8 != null)
        {
        <text>
        document.getElementsByName("ChildAge_8")[0].value = @(ViewBag.SearchDTO.ChildAge_8);
        </text>
        }
        @if(ViewBag.SearchDTO.ChildAge_9 != null)
        {
        <text>
        document.getElementsByName("ChildAge_9")[0].value = @(ViewBag.SearchDTO.ChildAge_9);
        </text>
        }
        @if(ViewBag.SearchDTO.ChildAge_10 != null)
        {
        <text>
        document.getElementsByName("ChildAge_10")[0].value = @(ViewBag.SearchDTO.ChildAge_10);
        </text>
        }
    };
    </text>
}

</script>
