﻿@model tripallmed.Entity.HealthAdvertisement
@{
    ViewBag.Title = "HealthDetail";
    Layout = "~/Views/Shared/_HealthHomeLayout.cshtml";
}

<div class="container-fluid space-2">
    <div class="row d-flex align-items-baseline">
        <div class="col-lg-3">
            <h3 class="h3 koyu-yesil">@ViewBag.Category.PolyclinicName</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 order-lg-2 mb-9 mb-lg-0">
            <!-- Hastane -->
            <div class="row">
                <div class="col">
                    <div class="card-frame mb-5 hastane-card">
                        <div class="row">
                            <!-- SOL SÜTUN -->
                            <div class="col-md-6 d-lg-8">
                                <div class="hastane-foto-bilgi">
                                    <!-- Hastane Resim -->
                                    <div class="hastane-card__img" style="background-image: url('/Data/@Model.CoverImage');"></div>
                                    <!-- Hastane Resim -->
                                    <!-- Hastane Bilgiler -->
                                    <div class="hastane-card__bilgiler p-2 w-100">
                                        <h1 class="hastane-adi ml-2">@Model.HealthcareCompany.Title</h1>
                                        <h2 class="h6 mb-0">
                                            <a href="#">
                                                <i class="svg-icon svg-icon-sm text-primary">
                                                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <g id="Stockholm-icons-/-Map-/-Marker#2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                                                            <path d="M9.82829464,16.6565893 C7.02541569,15.7427556 5,13.1079084 5,10 C5,6.13400675 8.13400675,3 12,3 C15.8659932,3 19,6.13400675 19,10 C19,13.1079084 16.9745843,15.7427556 14.1717054,16.6565893 L12,21 L9.82829464,16.6565893 Z M12,12 C13.1045695,12 14,11.1045695 14,10 C14,8.8954305 13.1045695,8 12,8 C10.8954305,8 10,8.8954305 10,10 C10,11.1045695 10.8954305,12 12,12 Z" id="Combined-Shape" fill="#000000"></path>
                                                        </g>
                                                    </svg>
                                                </i>
                                                @(Model.HealthcareCompany.Town == null ? "" : Model.HealthcareCompany.Town.TownName) /  @(Model.HealthcareCompany.City == null ? "" : Model.HealthcareCompany.City.CityName)
                                            </a>

                                        </h2>
                                        <div class="bilgi-item justify-content-between">
                                            <div class="bilgi-item__text">
                                                <p>@(Model.HealthcareCompany.HealthStatus == null ? "" : Model.HealthcareCompany.HealthStatus.Status)</p>
                                            </div>
                                            <div class="bilgi-item__ok"><i class="fa fa-angle-down"></i></div>
                                        </div>
                                        <div class="bilgi-item">
                                            <div class="badge badge-success mr-3">7.8</div>
                                            <div class="bilgi-item__text">
                                                <p class="d-none d-sm-block">Puan</p>
                                                <p>192 değerlendirme</p>
                                            </div>
                                            <div class="bilgi-item__ok ml-auto"><i class="fa fa-angle-down"></i></div>
                                        </div>
                                    </div>
                                    <!-- Hastane Bilgiler -->
                                </div>
                                <div class="sira px-3 pt-3 pb-2 border-bottom">
                                    <h2 class="h6"><strong>@Model.AdvertTitle</strong></h2>
                                    <div class="d-flex justify-content-between mt-2">
                                        <h6>FİYAT</h6>
                                        <div class="fiyat text-bold text-primary h5"><strong>@Model.ProcessingFee TL</strong></div>
                                    </div>
                                </div>
                                <div class="sira px-3 pt-3 pb-2 border-bottom">
                                    <h6 class="text-success">Bu fiyat neleri kapsıyor?</h6>
                                    <div class="row">
                                        @foreach(var includedPrice in Model.IncludedPrice)
                                        {
                                            <div class="col-sm-6"><small>@includedPrice.Service</small></div>

                                        }


                                    </div>
                                </div>
                                <div class="sira px-3 pt-3 pb-2 border-bottom">
                                    <h6 class="text-success d-inline-block mr-4">İptal ve İade Politikası</h6>
                                    <span>@Model.CancellationPolicy</span>
                                    <span class="mx-2">
                                        <a href="#" class="text-dark" tabindex="0" data-toggle="popover" data-trigger="focus" title="" data-content="Buraya bilgilendirme yazısı gelecek!" data-original-title="Esnek Fiyat">
                                            <i class="fas fa-info-circle"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="sira px-3 pt-3 pb-2 border-bottom">
                                    <h6 class="text-success d-inline-block mr-4">İşlem Tarih Opsiyonu</h6>
                                    <span>@Model.OperationOption Gün</span>
                                    <span class="mx-2">
                                        <a href="#" class="text-dark" tabindex="0" data-toggle="popover" data-trigger="focus" title="" data-content="Buraya bilgilendirme yazısı gelecek!" data-original-title="Esnek Fiyat">
                                            <i class="fas fa-info-circle"></i>
                                        </a>
                                    </span>
                                    <div class="form-inline">
                                        <input type="text" class="form-control my-1 mr-sm-2 form-control-sm ince-select datepickerFormat" value="@DateTime.Now.ToShortDateString()" readonly>
                                        <button type="submit" class="btn btn-primary my-1 btn-sm">Tarih Seç</button>
                                    </div>
                                </div>
                                <div class="sira px-3 pt-3 pb-2">
                                    <h6 class="text-success d-inline-block mr-4">Ön Ödeme (Avans) Oranı</h6>
                                    <span>%20</span>
                                    <div class="d-flex justify-content-between mt-2">
                                        <h6>Ön Ödeme (Avans) Tutarı</h6>
                                        <div class="fiyat text-bold text-primary h5"><strong>650 TL</strong></div>
                                    </div>
                                    <button class="btn btn-sm btn-warning mr-2">Sepete At <i class="fas fa-shopping-cart ml-2"></i></button>
                                    <button class="btn btn-sm btn-success">Hemen Öde <i class="fas fa-credit-card ml-2"></i></button>
                                    <div class="text-right text-muted font-size-13 pt-3">İlan No: 0712</div>
                                </div>

                                <hr class="d-block d-md-none">

                            </div>
                            <!-- SAĞ SÜTUN -->
                            <div class="col-md-6 d-lg-4 border-left pt-3 px-sm-5">
                                <!-- İslem Bilgileri -->
                                <div class="row justify-content-between">
                                    <div class="col"><h4 class="h6 text-uppercase">İşlem Bilgisi</h4></div>
                                    <div class="col text-right">
                                        <div class="pr-4">
                                            <small>Favori:</small> <a href="#"><i class="fas fa-heart text-danger"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h6 class="text-success">
                                            Hazırlık
                                        </h6>
                                        <p class="small pb-2">
                                            @Model.Preparation
                                        </p>
                                        <hr>
                                        <h6 class="text-success">
                                            Süre
                                        </h6>
                                        <p class="small pb-2">
                                            @Model.Time
                                        </p>
                                        <hr>
                                        <h6 class="text-success">
                                            Sonrası
                                        </h6>
                                        <p class="small pb-2">
                                            @Model.Post
                                        </p>
                                        <hr>
                                        <h6 class="text-danger">
                                            Dikkat Edilmesi Gerekenler
                                        </h6>
                                        <p class="small pb-2">
                                            Bu inceleme için hastanın ön muayene ve bulgularının genel kabul gören bir tıp merkezinde tamamlanmış, inceleme istek raporunun yazılı olarak alınmış olması gerekmektedir. Uzman doktorlarımızın belgelerinizi kontrol etme ve muayeneyi tekrar etme hakkı saklıdır. Hastanemiz doktorları tarafından onaylanmayan incelemeler hiçbir suretle yapılmayacaktır. İptal edilen işlem ücretleri için iade politikasını inceleyin.
                                        </p>
                                        <hr>
                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col">
                                        <h2 class="h6 text-bold text-uppercase">@Model.HealthcareCompany.Title <a href="#" class="text-success text-bold small">Tüm İlanları</a></h2>
                                    </div>
                                </div>
                                <!-- İslem Bilgileri -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hastane -->
            <!-- İlgili İlanlar -->
            <div class="ilanlar-wrapper">
                <div class="row">
                    <div class="col-12 mb-3">
                        <h1 class="hastane-adi">Acıbadem Hastanesi <span class="text-muted">yakınındaki oteller</span></h1>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-5">
                        <!-- Property -->
                        <article class="card border-0 shadow-sm h-100 mb-3">
                            <a href="#"><img class="card-img-top" src="./assets/img/sac-ekimi.jpg" alt="Saç Ekimi"></a>
                            <div class="card-body pb-0">
                                <h6 class="tedavi-baslik">
                                    Saç
                                    Trasplantasyonu
                                </h6>
                                <h3 class="h6">
                                    <a href="#">Medicana Hastanesi</a>
                                </h3>
                            </div>
                        </article>
                        <!-- End Property -->
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3 mb-5">
                        <!-- Property -->
                        <article class="card border-0 shadow-sm h-100 mb-3">
                            <a href="#"><img class="card-img-top" src="./assets/img/rinoplasti.jpg" alt="Rinoplasti"></a>
                            <div class="card-body pb-0">
                                <h6 class="tedavi-baslik">Rinoplasti</h6>
                                <h3 class="h6">
                                    <a href="#">Amerikan Hastanesi</a>
                                </h3>
                            </div>
                        </article>
                        <!-- End Property -->
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3 mb-5">
                        <!-- Property -->
                        <article class="card border-0 shadow-sm h-100 mb-3">
                            <a href="#"><img class="card-img-top" src="./assets/img/tup-bebek.jpg" alt="Tüp Bebek"></a>
                            <div class="card-body pb-0">
                                <h6 class="tedavi-baslik">Tüp Bebek</h6>
                                <h3 class="h6">
                                    <a href="#">Yurt Hastanesi</a>
                                </h3>
                            </div>
                        </article>
                        <!-- End Property -->
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3 mb-5">
                        <!-- Property -->
                        <article class="card border-0 shadow-sm h-100 mb-3">
                            <a href="#"><img class="card-img-top" src="./assets/img/kalp.jpg" alt="Kalp Cerrahisi"></a>
                            <div class="card-body pb-0">
                                <h6 class="tedavi-baslik">
                                    Kalp Cerrahisi
                                </h6>
                                <h3 class="h6">
                                    <a href="#">Medical Park</a>
                                </h3>
                            </div>
                        </article>
                        <!-- End Property -->
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3 mb-5">
                        <!-- Property -->
                        <article class="card border-0 shadow-sm h-100 mb-3">
                            <a href="#"><img class="card-img-top" src="./assets/img/liposuction.jpg" alt="Image Description"></a>
                            <div class="card-body pb-0">
                                <h6 class="tedavi-baslik">Liposuction</h6>
                                <h3 class="h6">
                                    <a href="#">Yaşar Hastanesi</a>
                                </h3>
                            </div>
                        </article>
                        <!-- End Property -->
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3 mb-5">
                        <!-- Property -->
                        <article class="card border-0 shadow-sm h-100 mb-3">
                            <a href="#"><img class="card-img-top" src="./assets/img/spa.jpg" alt="Spa &amp; Masaj"></a>
                            <div class="card-body pb-0">
                                <h6 class="tedavi-baslik">Spa Seansı</h6>
                                <h3 class="h6">
                                    <a href="#">Saygı Hastanesi</a>
                                </h3>
                            </div>
                        </article>
                        <!-- End Property -->
                    </div>
                </div>
            </div>
            <!-- İlgili İlanlar -->


        </div>

        <div class="col-lg-3 order-lg-1">

            <!-- Birim Kategori -->
            <div class="mb-4">
                <div class="card card-shadow">
                    <div class="card-body p-3" data-simplebar="init" data-simplebar-auto-hide="false" style="max-height: 180px;">
                        <div class="simplebar-wrapper" style="margin: -16px;">
                            <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                    <div class="simplebar-content-wrapper" style="height: auto; overflow: hidden scroll;">
                                        <div class="simplebar-content" style="padding: 16px;">
                                            <ul class="birim-liste">
                                                @foreach(var service in ViewBag.Category.PolyclinicServices)
                                                {
                                                    <li><a href="/Home/HealthCategory/@ViewBag.Category.Id?serviceid=@service.Id">@service.ServiceName</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="simplebar-placeholder" style="width: auto; height: 588px;"></div>
                        </div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar simplebar-visible" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar simplebar-visible" style="height: 55px; transform: translate3d(0px, 30px, 0px); display: block;"></div></div>
                    </div>
                </div>
            </div>
            <!-- Birim Kategori Sonu -->
            @Html.Action("_HealthFilter", "Home")
        </div>
    </div>
</div>


@section HealthDetailJs{
    <script>
        $(function () {
            $('.datepickerFormat').datepicker({
                format: 'dd.mm.yyyy',
                language: 'tr'
            });
        })
    </script>
}