﻿@model List<tripallmed.Entity.BranchHospital>
@{
    ViewBag.Title = "Health";
    Layout = "~/Views/Shared/_HealthHomeLayout.cshtml";
}

<div class="container-fluid space-2">
    <div class="row">
        <div class="col">
            @foreach(var branchHospital in Model)
            {
                <div class="alt-baslik">
                    <h4 class="text-lh-xs mb-4 text-muted">@branchHospital.BranchName</h4>
                </div>
                <div class="row">
                    @foreach(var polyclinic in branchHospital.Polyclinics)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-5">
                            <!-- Property -->
                            <article class="card border-0 shadow-sm h-100 mb-3">
                                <a href="/Home/HealthCategory/@polyclinic.Id">
                                    <img class="card-img-top" src="/Data/@polyclinic.PictureName"
                                         alt="@polyclinic.PolyclinicName">
                                </a>
                                <div class="card-body pb-0">
                                    <h3 class="h6">
                                        <a href="/Home/HealthCategory/@polyclinic.Id">@polyclinic.PolyclinicName</a>
                                    </h3>

                                </div>

                            </article>
                            <!-- End Property -->
                        </div>

                    }
                </div>
            }
            <div class="mb-9"></div>
        </div>
    </div>
</div>


