﻿@model tripallmed.Models.VM.HealthCategoryVM
@{
    ViewBag.Title = "HealthCategory";
    Layout = "~/Views/Shared/_HealthHomeLayout.cshtml";
}


<div class="container-fluid space-2">


    <div class="row d-flex align-items-baseline">
        <div class="col-lg-3">
            <h3 class="h3 koyu-yesil">@Model.Polyclinic.PolyclinicName</h3>
        </div>
        <div class="col-lg-9">
            <div class="position-relative float-right">
                <a id="filtreleme" class="u-unfold-wrapper d-block" href="javascript:;" role="button" aria-controls="filtre-dropdown" aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-target="#filtre-dropdown" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300" data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp" data-unfold-animation-out="fadeOut">
                    <i class="fa fa-list mr-2"></i> Gelişmiş Seçenekler
                    <span class="fa fa-angle-down u-unfold__icon-pointer"></span>
                </a>

                <div id="filtre-dropdown" class="u-unfold list-group list-group-flush list-group-borderless mt-2 u-unfold--css-animation u-unfold--hidden fadeOut" aria-labelledby="filtreleme" style="animation-duration: 300ms;">
                    <a class="list-group-item list-group-item-action" href="#">Seçenek 1</a>
                    <a class="list-group-item list-group-item-action" href="#">Seçenek 2</a>
                    <a class="list-group-item list-group-item-action" href="#">Seçenek 3</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 order-lg-2 mb-9 mb-lg-0">
            <!-- Hastane -->

            @foreach(var healthAdvertisement in Model.HealthAdvertisements)
            {
                <div class="row">
                    <div class="col">
                        <div class="card-frame mb-5 hastane-card">
                            <div class="row">
                                <div class="col-md-7 d-lg-8 d-flex">
                                    <!-- Hastane Resim -->
                                    <div class="hastane-card__img" style="background-image: url('/Data/@healthAdvertisement.HealthcareCompany.Logo');">
                                    </div>
                                    <!-- Hastane Resim -->
                                    <!-- Hastane Bilgiler -->
                                    <div class="hastane-card__bilgiler p-2 w-100">
                                        <h1 class="hastane-adi ml-2">@healthAdvertisement.HealthcareCompany.Title</h1>
                                        <div onclick="about('@healthAdvertisement.Id')" class="bilgi-item justify-content-between">
                                            <div class="bilgi-item__text">
                                                <p>@(healthAdvertisement.HealthcareCompany.HealthStatus == null ? "" : healthAdvertisement.HealthcareCompany.HealthStatus.Status)</p>
                                            </div>
                                            <div class="bilgi-item__ok"><i class="fa fa-angle-down"></i></div>
                                        </div>
                                        <div onclick="comment('@healthAdvertisement.Id')" class="bilgi-item">
                                            <div class="badge badge-success mr-3">7.8</div>
                                            <div class="bilgi-item__text">
                                                <p class="d-none d-sm-block">Puan</p>
                                                <p>192 değerlendirme</p>
                                            </div>
                                            <div class="bilgi-item__ok ml-auto"><i class="fa fa-angle-down"></i></div>
                                        </div>
                                    </div>
                                    <!-- Hastane Bilgiler -->
                                </div>
                                <div class="col-md-5 d-lg-4 d-flex justify-content-center align-items-center">
                                    <div class="row w-100">
                                        <!-- Hastane Konum -->
                                        <div class="col-md-4 d-none d-md-block border-sol">
                                            <div class="hastane-konum p-2">
                                                <div class="hastane-konum__sehir">@(healthAdvertisement.HealthcareCompany.City == null ? "" : healthAdvertisement.HealthcareCompany.City.CityName)</div>
                                                <div class="hastane-konum__ilce">@(healthAdvertisement.HealthcareCompany.Town == null ? "" : healthAdvertisement.HealthcareCompany.Town.TownName)</div>
                                                <div onclick="initMap(@healthAdvertisement.HealthcareCompany.Latitude, @healthAdvertisement.HealthcareCompany.Longitude)" style="cursor:pointer" data-toggle="modal" data-target="#exampleModalCenter"><img src="/Content/assets/img/haritada-goster.jpg" class="img-fluid haritada-goster"></div>
                                            </div>
                                        </div>
                                        <!-- Hastane Konum -->
                                        <!-- Hastane Fiyat -->
                                        <div class="col-md-8 col-sm-12 border-sol">
                                            <div class="hastane-fiyat p-2">
                                                <div class="hastane-fiyat__blok">
                                                    <div class="hastane-fiyat__baslik order-md-2">@healthAdvertisement.AdvertTitle</div>
                                                    <div class="hastane-fiyat__tutar text-primary order-md-1">@healthAdvertisement.ProcessingFee ₺</div>
                                                </div>

                                                <a href="/Home/HealthDetail/@healthAdvertisement.Id" class="btn btn-success btn-xs btn-sm">İlanı Göster</a>
                                            </div>
                                        </div>
                                        <!-- Hastane Fiyat -->
                                    </div>
                                </div>
                            </div>
                            <!-- Tab Göster/Gizle -->
                            <div class="row adverHideShow">
                                <div class="col">
                                    <!-- Tablar -->
                                    <div class="nav nav-tabs tab-modern border-top mb-4 tab-linkleri" role="tablist" aria-orientation="vertical">
                                        <a class="nav-link h6 small active tab-modern__nav-link mb-0" id="genel-@healthAdvertisement.Id-tab" data-toggle="pill" href="#genel-@healthAdvertisement.Id" role="tab" aria-controls="genel-@healthAdvertisement.Id" aria-selected="true">Genel Bakış</a>
                                        <a class="nav-link h6 small tab-modern__nav-link mb-0" id="fotograflar-@healthAdvertisement.Id-tab" data-toggle="pill" href="#fotograflar-@healthAdvertisement.Id" role="tab" aria-controls="fotograflar-@healthAdvertisement.Id" aria-selected="false">Fotoğraflar</a>
                                        <a class="nav-link h6 small tab-modern__nav-link mb-0" id="yorumlar-@healthAdvertisement.Id-tab" data-toggle="pill" href="#yorumlar-@healthAdvertisement.Id" role="tab" aria-controls="yorumlar-@healthAdvertisement.Id" aria-selected="false">Yorumlar</a>
                                        <a class="nav-link h6 small tab-modern__nav-link mb-0" id="tum-ilanlar-@healthAdvertisement.Id-tab" data-toggle="pill" href="#tum-ilanlar-@healthAdvertisement.Id" role="tab" aria-controls="tum-ilanlar-@healthAdvertisement.Id" aria-selected="false">Tüm İlanları</a>
                                        <button onclick="AdvetTabHide(this)" class="nav-link h6 small tab-modern__nav-link mb-0" style="position: absolute;right: 15px;">X</button>
                                    </div>
                                    <!-- Tablar Sonu -->
                                    <!-- Tab İçerikler -->
                                    <div class="tab-content">

                                        <div class="tab-pane fade show active pr-4 pb-4 pl-4" id="genel-@healthAdvertisement.Id" role="tabpanel" aria-labelledby="genel-@healthAdvertisement.Id-tab">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <h6 class="text-success">
                                                                Kuruluş Tarihi
                                                            </h6>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <p class="small mb-0">: @(healthAdvertisement.HealthcareCompany.EstablishmentDate == null ? 0 : healthAdvertisement.HealthcareCompany.EstablishmentDate.Value.Year)</p>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h6 class="text-success">
                                                                m<sup>2</sup> alan
                                                            </h6>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <p class="small mb-0">: @healthAdvertisement.HealthcareCompany.AreaM2</p>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h6 class="text-success">
                                                                Yatak Kapasitesi
                                                            </h6>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <p class="small mb-0">: @healthAdvertisement.HealthcareCompany.BedCapacity</p>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h6 class="text-success">
                                                                Mesafe
                                                            </h6>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <p class="small mb-0">: Şehir merkezine @healthAdvertisement.HealthcareCompany.CityCenterDistance km</p>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="row mb-4">
                                                        <div class="col">
                                                            <h6 class="text-success">
                                                                Lisan
                                                            </h6>
                                                            <p class="small mb-0 pb-2">
                                                                <span>
                                                                    @foreach(var languagePreference in healthAdvertisement.HealthcareCompany.ValidLanguages)
                                                                    {
                                                                        <span>@languagePreference.LanguageName, </span>
                                                                    }
                                                                </span>
                                                            </p>

                                                            <hr>
                                                            <h6 class="text-success">
                                                                Anlaşmalı Kurumlar
                                                            </h6>
                                                            <p class="small mb-0 pb-2">
                                                                <span>
                                                                    @foreach(var item in healthAdvertisement.HealthcareCompany.ContractedInstitutions)
                                                                    {
                                                                        <span>@item.Institution, </span>
                                                                    }
                                                                </span>
                                                            </p>

                                                            <hr>
                                                            <h6 class="text-success">
                                                                Poliklinikler
                                                            </h6>
                                                            <p class="small mb-0 pb-2">
                                                                @foreach(var polyclinic in healthAdvertisement.HealthcareCompany.Polyclinics)
                                                                {
                                                                    if(polyclinic.BranchHospitalId != 2)
                                                                    {
                                                                        <span>@polyclinic.PolyclinicName </span>
                                                                    }
                                                                }
                                                            </p>
                                                            <hr>
                                                            @if(healthAdvertisement.HealthcareCompany.Polyclinics.Any(x => x.BranchHospitalId == 2))
                                                            {
                                                                <h6 class="text-success">
                                                                    Cerrahi Birimler
                                                                </h6>
                                                                <p class="small mb-0 pb-2">
                                                                    @foreach(var polyclinic in healthAdvertisement.HealthcareCompany.Polyclinics)
                                                                    {
                                                                        if(polyclinic.BranchHospitalId == 2)
                                                                        {
                                                                            <span>@polyclinic.PolyclinicName </span>
                                                                        }
                                                                    }
                                                                </p>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 border-left">
                                                    <div class="row">
                                                        <div class="col">


                                                            <h6 class="text-success">
                                                                Doktorlar
                                                            </h6>
                                                            <div class="doktorlar-table border p-2" style="height: 516px;">
                                                                <div class="d-table">
                                                                    @foreach(var doctor in healthAdvertisement.HealthcareCompany.Doctors)
                                                                    {
                                                                        <div class="d-table-row">
                                                                            <div class="d-table-cell">
                                                                                <p class="small mb-0 yesil">@doctor.Polyclinic.PolyclinicName</p>
                                                                            </div>
                                                                            <div class="d-table-cell">
                                                                                <p class="small mb-0">@doctor.DoctorTitle.Title</p>
                                                                            </div>
                                                                            <div class="d-table-cell">
                                                                                <p class="small mb-0">@doctor.Name @doctor.Surname</p>
                                                                            </div>
                                                                        </div>

                                                                    }
                                                                </div>
                                                            </div>




                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="fotograflar-@healthAdvertisement.Id" role="tabpanel" aria-labelledby="fotograflar-@healthAdvertisement.Id-tab">
                                            <div class="fotograf-wrapper p-3">
                                                <div class="row">
                                                    @foreach(var pictureGallery in healthAdvertisement.HealthcareCompany.PictureGalleries)
                                                    {
                                                        <div class="col-md-3 mb-3">
                                                            <a href="/Data/@pictureGallery.Name" data-fancybox="foto-galeri-1" data-caption="Hastane Fotoğrafı">
                                                                <img src="/Data/@pictureGallery.Name" class="img-fluid">
                                                            </a>
                                                        </div>

                                                    }
                                                </div>
                                            </div>

                                        </div>

                                        <div class="tab-pane fade" id="yorumlar-@healthAdvertisement.Id" role="tabpanel" aria-labelledby="yorumlar-@healthAdvertisement.Id-tab">
                                            <div class="yorumlar-wrapper p-3">
                                                <div class="row">
                                                    <div class="col">

                                                        <div class="card mb-3">
                                                            <div class="media card-body">
                                                                <img class="u-lg-avatar rounded-circle mr-4" src="/Content/assets/img/100x100/img1.jpg" alt="Yorum">
                                                                <div class="media-body">
                                                                    <h4 class="h6">Sevim Güler <span class="yorum-tarih text-success ml-3">04 Ekim 2019</span></h4>
                                                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates atque amet corrupti explicabo magni nihil, odit quo quos? Perspiciatis a cum, molestiae aperiam ea assumenda voluptatum quasi quis unde modi.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card mb-3">
                                                            <div class="media card-body">
                                                                <img class="u-lg-avatar rounded-circle mr-4" src="/Content/assets/img/100x100/img2.jpg" alt="Yorum">
                                                                <div class="media-body">
                                                                    <h4 class="h6">Nalan Kapmaz <span class="yorum-tarih text-success ml-3">04 Ekim 2019</span></h4>
                                                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, recusandae asperiores. Assumenda cumque veritatis magnam, saepe quisquam quod vero doloremque, dicta vel id in mollitia dolorem recusandae quaerat aliquid officia.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card mb-3">
                                                            <div class="media card-body">
                                                                <img class="u-lg-avatar rounded-circle mr-4" src="/Content/assets/img/100x100/img3.jpg" alt="Yorum">
                                                                <div class="media-body">
                                                                    <h4 class="h6">Deniz Sancak <span class="yorum-tarih text-success ml-3">04 Ekim 2019</span></h4>
                                                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure pariatur cupiditate aspernatur mollitia consequatur totam dignissimos quae cumque nihil possimus nisi atque molestiae similique qui, itaque corrupti magni libero quidem.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card mb-3">
                                                            <div class="media card-body">
                                                                <img class="u-lg-avatar rounded-circle mr-4" src="/Content/assets/img/100x100/img4.jpg" alt="Yorum">
                                                                <div class="media-body">
                                                                    <h4 class="h6">Mehmet Kaplan <span class="yorum-tarih text-success ml-3">04 Ekim 2019</span></h4>
                                                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates atque amet corrupti explicabo magni nihil, odit quo quos? Perspiciatis a cum, molestiae aperiam ea assumenda voluptatum quasi quis unde modi.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card mb-3">
                                                            <div class="media card-body">
                                                                <img class="u-lg-avatar rounded-circle mr-4" src="/Content/assets/img/100x100/img2.jpg" alt="Yorum">
                                                                <div class="media-body">
                                                                    <h4 class="h6">Çiğdem Uzuner <span class="yorum-tarih text-success ml-3">04 Ekim 2019</span></h4>
                                                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates atque amet corrupti explicabo magni nihil, odit quo quos? Perspiciatis a cum, molestiae aperiam ea assumenda voluptatum quasi quis unde modi.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card mb-3">
                                                            <div class="media card-body">
                                                                <img class="u-lg-avatar rounded-circle mr-4" src="/Content/assets/img/100x100/img1.jpg" alt="Yorum">
                                                                <div class="media-body">
                                                                    <h4 class="h6">Meliha Dirlik <span class="yorum-tarih text-success ml-3">04 Ekim 2019</span></h4>
                                                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates atque amet corrupti explicabo magni nihil, odit quo quos? Perspiciatis a cum, molestiae aperiam ea assumenda voluptatum quasi quis unde modi.</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="tab-pane fade" id="tum-ilanlar-@healthAdvertisement.Id" role="tabpanel" aria-labelledby="tum-ilanlar-@healthAdvertisement.Id-tab">
                                            <div class="ilanlar-wrapper p-3">
                                                <div class="row">
                                                    @foreach(var itemm in healthAdvertisement.HealthcareCompany.HealthAdvertisements)
                                                    {
                                                        <div class="col-sm-6 col-md-4 col-lg-3 mb-5">
                                                            <!-- Property -->
                                                            <article class="card border-0 shadow-sm h-100 mb-3">
                                                                <a href="/Home/HealthDetail/@itemm.Id"><img class="card-img-top" src="/Data/@itemm.CoverImage" alt="Saç Ekimi"></a>
                                                                <div class="card-body pb-0">
                                                                    <h6 class="tedavi-baslik">
                                                                        @itemm.AdvertTitle
                                                                    </h6>
                                                                </div>
                                                            </article>
                                                            <!-- End Property -->
                                                        </div>

                                                    }
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- Tab İçerikler Sonu -->
                                </div>
                            </div>
                            <!-- Tab Göster/Gizle -->
                        </div>
                    </div>
                </div>

            }


        </div>

        <div class="col-lg-3 order-lg-1">

            <!-- Birim Kategori -->
            <div class="mb-4">
                <div class="card card-shadow">
                    <div class="card-body p-3" data-simplebar="init" data-simplebar-auto-hide="false" style="max-height: 180px;">
                        <div class="simplebar-wrapper" style="margin: -16px;">
                            <div class="simplebar-height-auto-observer-wrapper">
                                <div class="simplebar-height-auto-observer">
                                </div>
                            </div><div class="simplebar-mask">
                                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                    <div class="simplebar-content-wrapper" style="height: auto; overflow: hidden scroll;">
                                        <div class="simplebar-content" style="padding: 16px;">
                                            <ul class="birim-liste">

                                                @foreach(var polyclinicService in Model.Polyclinic.PolyclinicServices)
                                                {
                                                    <li><a href="/Home/HealthCategory/@Model.Polyclinic.Id?serviceid=@polyclinicService.Id">@polyclinicService.ServiceName</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="simplebar-placeholder" style="width: auto; height: 588px;"></div>
                        </div>
                        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                            <div class="simplebar-scrollbar simplebar-visible" style="width: 0px; display: none;"></div>
                        </div>
                        <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                            <div class="simplebar-scrollbar simplebar-visible" style="height: 55px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Birim Kategori Sonu -->
            @Html.Action("_HealthFilter", "Home")
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Konum</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 32px;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <div id="map" class="form-control" style="height:300px">
                            </div>
                        </div>
                    </div>
                </div>

                <script>

                    function initMap(lat, lng) {
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 12,
                            center: { lat: lat, lng: lng }
                        });

                        var pt = new google.maps.LatLng(lat, lng);

                        var marker = new google.maps.Marker({
                            map: map,
                            position: pt,
                            draggable: true

                        });

                    }
                </script>
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTO41MtgDHhc5n5c5Ors50kElMkeYwLAQ&callback=initMap"></script>

            </div>
        </div>
    </div>
</div>



@section HealthCategoryJs{
    <script>
        $(document).ready(function () {
            $(".adverHideShow").hide()
        })

        function about(id) {
            $("#genel-" + id + "-tab").parents(".adverHideShow").fadeIn();
            $("#genel-" + id + "-tab").trigger("click")
        }

        function comment(id) {
            $("#yorumlar-" + id + "-tab").parents(".adverHideShow").fadeIn();
            $("#yorumlar-" + id + "-tab").trigger("click")
        }

        function AdvetTabHide(e) {
            $(e).parents(".adverHideShow").fadeOut();
        }


    </script>
}