﻿
@{
    ViewBag.Title = "Index";
}


<!-- Hero Section -->
<div class="position-relative gradient-overlay-half-dark-v2 bg-img-hero" style="background-image: url(/Content/assets/img/yarim-foto.jpg);">
    <!-- Title -->
    <div class="d-lg-flex align-items-lg-center height-100vh--lg">
        <div class="container text-center space-2 space-0--lg">
            <h1 class="display-3 font-size-48--md-down text-white mb-4">
                <strong class="u-text-animation u-text-animation--typing"></strong>
                hizmetleri<br> arıyorum
            </h1>

            <div class="w-md-75 w-lg-60 mx-md-auto">
                <p class="lead text-white">Seyahat nedeniniz ne olursa olsun tüm imkanlarımızla hizmete hazırız.</p>

                <div class="btn-group shadow" role="group" aria-label="secenek">
                    <a href="/Home/Health" class="btn btn-primary btn-wide">Sağlık</a>
                    <a href="/Home/Tourism" class="btn btn-warning btn-wide">Turizm</a>
                </div>
            </div>

        </div>
    </div>
    <!-- End Title -->

    <div class="asagi-ok" id="yan-hizmetler">
        <a href="#yan-hizmetler" class="tongue tongue-bottom">
            <i class="fa fa-angle-down"></i>
        </a>
    </div>
</div>
<!-- End Hero Section -->
<!-- Hero Slick Paging -->
<div class="container position-relative">
    <div id="slickPaging" class="u-slick__paging-v1"></div>
</div>
<!-- End Hero Slick Paging -->
<!-- End Hero Section -->
<!-- How it works -->
<div class="space-1 space-2--lg gradient-overlay-quarter-light-v1">
    <div class="container">
        <!-- Title -->
        <div class="w-md-80 w-lg-60 mx-md-auto text-md-center mb-6">
            <h6 class="text-uppercase text-gray-700 font-weight-medium letter-spacing-0_06 mb-3">Süreç NAsıl İşliyor?</h6>
            <h2 class="text-lh-xs mb-0">3 basit adımda seyahatinizi planlayın</h2>
        </div>
        <!-- End Title -->
        <!-- Wizard -->
        <div class="js-wizard wizard"
             data-wizard-steps="#wizardSteps"
             data-wizard-content="#wizardContent">
            <!-- Wizard Steps -->
            <div id="wizardSteps" class="wizard-steps w-lg-80 mx-auto mb-5">
                <div class="wizard-steps-item cursor-pointer"
                     data-next-step="#selectStepOne">
                    <div class="wizard-steps-num-wrapper text-muted">
                        <div class="wizard-steps-num shadow">
                            <div class="wizard-steps-num-inner">1</div>
                        </div>
                    </div>
                    <h5 class="wizard-steps-title d-none d-sm-block">Seyahat Tipinizi Seçin</h5>
                </div>

                <div class="wizard-steps-item cursor-pointer"
                     data-next-step="#selectStepTwo">
                    <div class="wizard-steps-num-wrapper text-muted">
                        <div class="wizard-steps-num shadow">
                            <div class="wizard-steps-num-inner">2</div>
                        </div>
                    </div>
                    <h5 class="wizard-steps-title d-none d-sm-block">Tercihlerinizi Onaylayın</h5>
                </div>

                <div class="wizard-steps-item cursor-pointer"
                     data-next-step="#selectStepThree">
                    <div class="wizard-steps-num-wrapper text-muted">
                        <div class="wizard-steps-num shadow">
                            <div class="wizard-steps-num-inner">3</div>
                        </div>
                    </div>
                    <h5 class="wizard-steps-title d-none d-sm-block">Seyahatinize Başlayın</h5>
                </div>
            </div>
            <!-- End Wizard Steps -->
            <!-- Wizard Content -->
            <div id="wizardContent">
                <div id="selectStepOne" class="row align-items-lg-center active">
                    <div class="col-md-4 mb-4 mb-md-0">
                        <img class="img-fluid w-100 rounded" src="/Content/assets/img/plan1.jpg">
                    </div>

                    <div class="col-md-8 pl-lg-9">
                        <h2 class="text-lh-xs mb-4">Bize seyahat sebebinizi söyleyin<br class="d-none d-lg-inline-block"> size uygun seyahati sunalım</h2>
                        <p class="mb-7">Seyahatinizi sağlık veya turizm seçimleri arasından seçin, sizin için ideal koşullarda ve imkanlarla oluşturulmuş seyahat seçeneklerinizi listeleyelim.</p>
                        <a class="btn btn-sm btn-outline-primary border-1" href="javascript:;"
                           data-next-step="#selectStepTwo">
                            Sonraki Adım &rarr;
                        </a>
                    </div>
                </div>

                <div id="selectStepTwo" class="row align-items-center" style="display: none;">
                    <div class="col-md-4 mb-4 mb-md-0">
                        <img class="img-fluid w-100 rounded" src="/Content/assets/img/plan2.jpg" alt="Image Description">
                    </div>

                    <div class="col-md-8 pl-lg-9">
                        <h2 class="text-lh-xs mb-4">Tercihlerinizi Onaylayın</h2>
                        <p class="mb-7">Satın almak istediğiniz hizmetleri inceleyin, tercihlerinizi belirleyerek rezervasyon talebinizi onaylayın.</p>
                        <a class="btn btn-sm btn-outline-primary border-1" href="javascript:;"
                           data-next-step="#selectStepThree">
                            Sonraki Adım &rarr;
                        </a>
                    </div>
                </div>

                <div id="selectStepThree" class="row align-items-center" style="display: none;">
                    <div class="col-md-4 mb-4 mb-md-0">
                        <img class="img-fluid w-100 rounded" src="/Content/assets/img/plan3.jpg" alt="Image Description">
                    </div>

                    <div class="col-md-8 pl-lg-9">
                        <h2 class="text-lh-xs mb-4">Şimdi yola çıkma zamanı</h2>
                        <p class="mb-7">Teklifiniz işleme alınıp sonuçlandığında seyahat tarihleri ve ulaşımla ilgili detayları sizinle paylaşacağız. Şimdi yola çıkma zamanı.</p>
                        <a class="btn btn-sm btn-primary mr-3" href="#">Yola Çıkın</a>
                    </div>
                </div>
            </div>
            <!-- End Wizard Content -->
        </div>
        <!-- End Wizard -->
    </div>
</div>
<!-- End How it works -->
