﻿
@{
    ViewBag.Title = "Room";
    Layout = "~/Views/Shared/_TourismHomeLayout.cshtml";
}

<div class="container-fluid space-2">
    <div class="row">
        <!-- GOVDE -->
        <div class="col-lg-9 order-lg-2 mb-6 mb-lg-0">
            <h3 class="h5 koyu-yesil">İletişim ve Fatura Bilgileri</h3>
            <div class="row">
                <div class="col-12 mb-5">
                    <p class="font-size-14">Seyahat sebebiniz nedir?</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">İş</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Sağlık</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">Diğer</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="font-size-14">Kayıtlı bilgilerinizle rezervasyon yapmak için <a href="#">giriş</a> yapın veya rezervasyonlarınızı yönetebilmek için <a href="#">kaydolun</a>.</p>
                </div>
                <div class="col-md-2">
                    <div class="mb-6">
                        <label class="h6 small d-block text-uppercase">
                            Unvan
                        </label>

                        <select class="custom-select">
                            <option selected="">Bay</option>
                            <option value="bayan">Bayan</option>
                            <option value="-">-</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="js-form-message mb-6">
                        <label class="h6 small d-block text-uppercase">
                            Adı
                            <span class="text-danger">*</span>
                        </label>

                        <div class="js-focus-state input-group form">
                            <input class="form-control form__input" type="text" name="firstName">
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="js-form-message mb-6">
                        <label class="h6 small d-block text-uppercase">
                            Soyadı
                            <span class="text-danger">*</span>
                        </label>

                        <div class="js-focus-state input-group form">
                            <input class="form-control form__input" type="text" name="lastName">
                        </div>
                    </div>
                </div>

                <div class="w-100"></div>

                <div class="col-md-6">
                    <div class="js-form-message mb-6">
                        <label class="h6 small d-block text-uppercase">
                            E-Posta Adresi
                            <span class="text-danger">*</span>
                        </label>

                        <div class="js-focus-state input-group form">
                            <input class="form-control form__input" type="email" name="email">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="js-form-message mb-6">
                        <label class="h6 small d-block text-uppercase">
                            GSM
                            <span class="text-danger">*</span>
                        </label>

                        <div class="js-focus-state input-group form">
                            <input class="form-control form__input" name="phone" type="text">
                        </div>
                    </div>
                </div>

                <div class="w-100"></div>

                <div class="col-md-4">
                    <div class="js-form-message mb-small-6">
                        <label class="h6 small d-block text-uppercase">
                            Ülke
                            <span class="text-danger">*</span>
                        </label>

                        <div class="js-focus-state input-group form">
                            <input class="form-control form__input" type="text" name="streetAddress">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="js-form-message mb-small-6">
                        <label class="h6 small d-block text-uppercase">
                            Şehir
                            <span class="text-danger">*</span>
                        </label>

                        <div class="js-focus-state input-group form">
                            <input class="form-control form__input" type="text" name="streetAddress">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="js-form-message mb-small-6">
                        <label class="h6 small d-block text-uppercase">
                            Semt
                            <span class="text-danger">*</span>
                        </label>

                        <div class="js-focus-state input-group form">
                            <input class="form-control form__input" name="apartment" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-6">
                    <a href="#">Fatura bilgilerimi değiştirmek istiyorum (Şahıs - Şirket)</a>
                </div>

            </div>
            <h3 class="h5 koyu-yesil">Misafir Bilgileri (Oda 1)</h3>
            <div class="row">
                <div class="col-md-2">
                    <div class="mb-6">
                        <label class="h6 small d-block text-uppercase">
                            1 Yetişkin
                        </label>

                        <select class="custom-select">
                            <option selected="">Bay</option>
                            <option value="bayan">Bayan</option>
                            <option value="-">-</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="js-form-message mb-6">
                        <label class="h6 small d-block text-uppercase">
                            &nbsp;
                        </label>

                        <div class="js-focus-state input-group form">
                            <input class="form-control form__input" type="text" name="firstName">
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="js-form-message mb-6">
                        <label class="h6 small d-block text-uppercase">
                            &nbsp;
                        </label>

                        <div class="js-focus-state input-group form">
                            <input class="form-control form__input" type="text" name="lastName">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="mb-6">
                        <label class="h6 small d-block text-uppercase">
                            2 Yetişkin
                        </label>

                        <select class="custom-select">
                            <option selected="">Bay</option>
                            <option value="bayan">Bayan</option>
                            <option value="-">-</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="js-form-message mb-6">
                        <label class="h6 small d-block text-uppercase">
                            &nbsp;
                        </label>

                        <div class="js-focus-state input-group form">
                            <input class="form-control form__input" type="text" name="firstName">
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="js-form-message mb-6">
                        <label class="h6 small d-block text-uppercase">
                            &nbsp;
                        </label>

                        <div class="js-focus-state input-group form">
                            <input class="form-control form__input" type="text" name="lastName">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="mb-6">
                        <label class="h6 small d-block text-uppercase">
                            1 Çocuk
                        </label>

                        <select class="custom-select">
                            <option selected="">Bay</option>
                            <option value="bayan">Bayan</option>
                            <option value="-">-</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="js-form-message mb-6">
                        <label class="h6 small d-block text-uppercase">
                            &nbsp;
                        </label>

                        <div class="js-focus-state input-group form">
                            <input class="form-control form__input" type="text" name="firstName">
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="js-form-message mb-6">
                        <label class="h6 small d-block text-uppercase">
                            &nbsp;
                        </label>

                        <div class="js-focus-state input-group form">
                            <input class="form-control form__input" type="text" name="lastName">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="mb-6">
                        <label class="h6 small d-block text-uppercase">
                            2 Yetişkin
                        </label>

                        <select class="custom-select">
                            <option selected="">Bay</option>
                            <option value="bayan">Bayan</option>
                            <option value="-">-</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="js-form-message mb-6">
                        <label class="h6 small d-block text-uppercase">
                            &nbsp;
                        </label>

                        <div class="js-focus-state input-group form">
                            <input class="form-control form__input" type="text" name="firstName">
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="js-form-message mb-6">
                        <label class="h6 small d-block text-uppercase">
                            &nbsp;
                        </label>

                        <div class="js-focus-state input-group form">
                            <input class="form-control form__input" type="text" name="lastName">
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="h5 koyu-yesil">Misafir Bilgileri (Oda 2)</h3>
            <div class="row">
                <div class="col-md-2">
                    <div class="mb-6">
                        <label class="h6 small d-block text-uppercase">
                            1 Yetişkin
                        </label>

                        <select class="custom-select">
                            <option selected="">Bay</option>
                            <option value="bayan">Bayan</option>
                            <option value="-">-</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="js-form-message mb-6">
                        <label class="h6 small d-block text-uppercase">
                            &nbsp;
                        </label>

                        <div class="js-focus-state input-group form">
                            <input class="form-control form__input" type="text" name="firstName">
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="js-form-message mb-6">
                        <label class="h6 small d-block text-uppercase">
                            &nbsp;
                        </label>

                        <div class="js-focus-state input-group form">
                            <input class="form-control form__input" type="text" name="lastName">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="mb-6">
                        <label class="h6 small d-block text-uppercase">
                            2 Yetişkin
                        </label>

                        <select class="custom-select">
                            <option selected="">Bay</option>
                            <option value="bayan">Bayan</option>
                            <option value="-">-</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="js-form-message mb-6">
                        <label class="h6 small d-block text-uppercase">
                            &nbsp;
                        </label>

                        <div class="js-focus-state input-group form">
                            <input class="form-control form__input" type="text" name="firstName">
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="js-form-message mb-6">
                        <label class="h6 small d-block text-uppercase">
                            &nbsp;
                        </label>

                        <div class="js-focus-state input-group form">
                            <input class="form-control form__input" type="text" name="lastName">
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="h5 koyu-yesil">Ödeme Bilgileri</h3>
            <p class="font-size-14 mb-6">
                Bu tesise <span class="koyu-yesil">%20</span> Ön Ödeme ile rezervasyon yapabilirsiniz. Ödemenize Tripallmed aracılık edecektir. Bakiye tutarı check in sırasında tesiste ödeyeceksiniz. Rezervasyonunuzu <span class="koyu-yesil">15 Kasım 2019 / 23:59</span> tarihine kadar ücretsiz iptal edebilirsiniz. Bu tarihe kadar yapacağınız iptallerde ödemeleriniz herhangi bir kesinti yapılmadan tarafınıza iade edilecektir.
            </p>

            <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                <div>
                    <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                        <h4 class="koyu-yesil mb-0">Rezervasyon Toplam Tutarı</h4>
                        <h4 class="koyu-yesil mb-0">: 1.900 TL</h4>
                    </div>
                    <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                        <h4 class="turuncu">Ön Ödeme Tutarı</h4>
                        <h4 class="turuncu">: 380 TL</h4>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" data-next-step="#shippingStep">Ödemeyi Tamamla</button>
            </div>

        </div>
        <!-- GOVDE -->
        <!-- SIDEBAR -->
        <div class="col-lg-3 order-lg-1">
            <h3 class="h5 koyu-yesil">Rezervasyon Bilgileriniz</h3>
            <div class="bg-gray-100 border rounded p-5">
                <h2 class="h5 mb-0">Point Hotel</h2>
                <h6 class="text-gray-700">Gayrettepe / İstanbul</h6>

                <hr class="my-2">

                <!-- Checkin Tarihi -->
                <div class="media mb-4">
                    <div class="media-body">
                        <h4 class="h6 mb-0 koyu-yesil">Check-in Tarihi</h4>
                        <small class="d-block text-secondary strong">26 Kasım 2019 Perşembe</small>
                        <small class="d-block text-secondary">Saat 14:00'dan itibaren</small>
                    </div>
                </div>
                <!-- Checkin Tarihi -->
                <!--Chectout Tarihi -->
                <div class="media mb-4">
                    <div class="media-body">
                        <h4 class="h6 mb-0 koyu-yesil">Check-out Tarihi</h4>
                        <small class="d-block text-secondary strong">01 Aralık 2019 Salı</small>
                        <small class="d-block text-secondary">5 Gece Konaklama</small>
                    </div>
                </div>
                <!--Chectout Tarihi -->
                <!--Konuklar -->
                <div class="media mb-4">
                    <div class="media-body">
                        <h4 class="h6 mb-0 koyu-yesil">Konuklar</h4>
                        <small class="d-block text-secondary strong">2 Yetişkin, 2 Çocuk</small>
                        <small class="d-block text-secondary">(12, 9))</small>
                    </div>
                </div>
                <!--Konuklar -->


                <hr class="my-2">

                <!-- Oda -->
                <div class="mb-3">
                    <h4 class="h6 mb-0">King Deluxe Aile Odası</h4>
                    <small class="d-block text-secondary">1 Yatak Odası</small>
                    <small class="d-block text-secondary">1 Oturma Odası</small>
                    <small class="d-block text-secondary">1 Banyo (ortak kullanım)</small>
                    <small class="d-block text-secondary">Toplam 44 m<sup>2</sup></small>
                </div>
                <!-- Oda -->
                <!-- Oda -->
                <div class="mb-3">
                    <h4 class="h6 mb-0">Kim nerede yatacak?</h4>
                    <small class="d-block text-secondary">1 Yatak Odası <img src="assets/img/svg/002-bed.svg" class="otel-icon"> <img src="assets/img/svg/004-sigle-bed.svg" class="otel-icon"></small>
                    <small class="d-block text-secondary">1 Oturma Odası <img src="assets/img/svg/003-sofa.svg" class="otel-icon"></small>
                </div>
                <!-- Oda -->


                <hr class="my-2">

                <!-- Total -->
                <h3 class="h5 koyu-yesil">Fiyat Özetiniz</h3>
                <div class="media align-items-center">
                    <div class="mr-3">
                        <h4 class="h6 text-muted font-weight-normal mb-0">Oda Ücreti</h4>
                    </div>
                    <div class="media-body text-right">
                        <span>1.650 TL</span>
                    </div>
                </div>
                <div class="media align-items-center">
                    <div class="mr-3">
                        <h4 class="h6 text-muted font-weight-normal mb-0">Şehir Vergisi</h4>
                    </div>
                    <div class="media-body text-right">
                        <span>50 TL</span>
                    </div>
                </div>
                <div class="media align-items-center">
                    <div class="mr-3">
                        <h4 class="h6 text-muted font-weight-normal mb-0">K.D.V. %9</h4>
                    </div>
                    <div class="media-body text-right">
                        <span>200 TL</span>
                    </div>
                </div>
                <!-- End Total -->

                <hr class="my-4">

                <!-- Total -->
                <div class="media align-items-center">
                    <div class="mr-3">
                        <p class="text-muted font-size-13">
                            Bu fiyat size TL cinsinden ortalama bedeli göstermek için dönüştürülmüştür. Ödemenizi € cinsinden yapacaksınız. Ödeme sırasında kur değişebilir.
                        </p>
                    </div>
                </div>
                <!-- End Total -->
            </div>

        </div>
    </div>
</div>

