﻿@model List<tripallmed.Models.DTO.TourismCompanyDTO>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_TourismHomeLayout.cshtml";
}

<div class="container-fluid space-2">
    <div class="row d-flex align-items-baseline">
        <div class="col-lg-3">
            <h3 class="h5 koyu-yesil">Konaklama Yerleri</h3>
        </div>
        <div class="col-lg-9">
            <div class="position-relative">
                <h6 class="text-muted"><span class="koyu-yesil">@(((SeacrhDTO)TempData["SeachTDO"]).AdultCount) Yetişkin @(((SeacrhDTO)TempData["SeachTDO"]).ChildCount > 0 ? ((SeacrhDTO)TempData["SeachTDO"]).ChildCount + " Çocuk" : "")</span> için <span class="koyu-yesil">(@(((SeacrhDTO)TempData["SeachTDO"]).CheckIn)) - (@(((SeacrhDTO)TempData["SeachTDO"]).CheckIn))</span> tarihleri arasında <span class="koyu-yesil">@Model.Count</span> konaklama tesisi bulundu</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 order-lg-2 mb-9 mb-lg-0">
            @foreach(var tourismmCompany in Model)
            {
                <div class="row">
                    <div class="col">
                        <div class="card-frame mb-5 hastane-card">
                            <div class="row adverHeader">
                                <div class="col-md-7 d-lg-8 d-flex">
                                    <!-- Hastane Resim -->
                                    <div class="hastane-card__img" style="background-image: url('/Data/@tourismmCompany.CoverImage');">
                                    </div>
                                    <!-- Hastane Resim -->
                                    <!-- Hastane Bilgiler -->
                                    <div class="hastane-card__bilgiler p-2 w-100">
                                        <div class="ilan-no">İlan No: 1712</div>
                                        <h1 class="hastane-adi ml-2">@tourismmCompany.Title</h1>
                                        <div onclick="about('@tourismmCompany.Id')" class="bilgi-item justify-content-between">
                                            <div class="bilgi-item__text">
                                                <p>
                                                    <span class="mr-2">Otel</span>
                                                    <span class="yildizlar turuncu">
                                                        @for(int i = 1; i < 6; i++)
                                                        {
                                                            if(tourismmCompany.TourismStatusId >= i)
                                                            {
                                                                <i class="fas fa-star"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="far fa-star"></i>
                                                            }
                                                        }
                                                    </span>
                                                </p>
                                            </div>
                                            <div class="bilgi-item__ok"><i class="fa fa-angle-down"></i></div>
                                        </div>
                                        <div onclick="about('@tourismmCompany.Id')" class="bilgi-item justify-content-between">
                                            <div class="bilgi-item__text">
                                                <p><span class="text-primary">En Yakın Havalimanı: </span>@tourismmCompany.AirportDistance km</p>
                                                <p><span class="text-primary">Şehir Merkezi: </span>@tourismmCompany.CityCenterDistance km</p>
                                            </div>
                                            <div class="bilgi-item__ok"><i class="fa fa-angle-down"></i></div>
                                        </div>
                                        <div onclick="comment('@tourismmCompany.Id')" class="bilgi-item">
                                            <div class="badge badge-success mr-3">8.1</div>
                                            <div class="bilgi-item__text">
                                                <p class="d-none d-sm-block">Puan</p>
                                                <p>128 değerlendirme</p>
                                            </div>
                                            <div class="bilgi-item__ok ml-auto"><i class="fa fa-angle-down"></i></div>
                                        </div>
                                    </div>
                                    <!-- Hastane Bilgiler -->
                                </div>
                                <div class="col-md-5 d-lg-4 d-flex justify-content-center align-items-center">
                                    <div class="row w-100">
                                        <!-- Hastane Konum -->
                                        <div class="col-md-4 d-none d-md-block border-sol">
                                            <div class="hastane-konum p-2">
                                                <div class="hastane-konum__sehir">@(tourismmCompany.City != null ? tourismmCompany.City.CityName : "")</div>
                                                <div class="hastane-konum__ilce">@(tourismmCompany.Town != null ? tourismmCompany.Town.TownName : "")</div>

                                                <i class="svg-icon svg-icon-sm text-primary">
                                                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <g id="Stockholm-icons-/-Map-/-Marker#2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                                                            <path d="M9.82829464,16.6565893 C7.02541569,15.7427556 5,13.1079084 5,10 C5,6.13400675 8.13400675,3 12,3 C15.8659932,3 19,6.13400675 19,10 C19,13.1079084 16.9745843,15.7427556 14.1717054,16.6565893 L12,21 L9.82829464,16.6565893 Z M12,12 C13.1045695,12 14,11.1045695 14,10 C14,8.8954305 13.1045695,8 12,8 C10.8954305,8 10,8.8954305 10,10 C10,11.1045695 10.8954305,12 12,12 Z" id="Combined-Shape" fill="#000000"></path>
                                                        </g>
                                                    </svg>
                                                </i>
                                                <div onclick="initMap(@tourismmCompany.Latitude, @tourismmCompany.Longitude)" style="cursor:pointer" data-toggle="modal" data-target="#exampleModalCenter"><img src="/Content/assets/img/haritada-goster.jpg" class="img-fluid haritada-goster"></div>
                                            </div>
                                        </div>
                                        <!-- Hastane Konum -->
                                        <!-- Hastane Fiyat -->
                                        <div class="col-md-8 col-sm-12 border-sol">
                                            <div class="hastane-fiyat p-2">
                                                <div class="hastane-fiyat__blok">
                                                    @{
                                                        var list = new List<KeyValuePair<int, decimal>>();
                                                        foreach(var tourismAdvertisement in tourismmCompany.TourismAdvertisements)
                                                        {
                                                            if(tourismAdvertisement.TourismPriceTypeId == 1)
                                                            {
                                                                var kisi = tourismAdvertisement.TourismAdvertisedPersonPrices.FirstOrDefault(x => x.Key == ((SeacrhDTO)TempData["SeachTDO"]).AdultCount + ((SeacrhDTO)TempData["SeachTDO"]).ChildCount).Price;
                                                                list.Add(new KeyValuePair<int, decimal>(tourismAdvertisement.Id, kisi ?? 0));
                                                            }
                                                            else
                                                            {
                                                                var gece = tourismAdvertisement.NightPrice;
                                                                list.Add(new KeyValuePair<int, decimal>(tourismAdvertisement.Id, gece ?? 0));
                                                            }
                                                        }
                                                        var birinci = list.OrderBy(x => x.Value).FirstOrDefault();
                                                    }
                                                    <div class="hastane-fiyat__baslik order-md-2">@tourismmCompany.TourismAdvertisements.FirstOrDefault(x => x.Id == birinci.Key).AdvertTitle</div>
                                                    <p class="small mb-0">@tourismmCompany.TourismAdvertisements.FirstOrDefault(x => x.Id == birinci.Key).TourismMealType.Type</p>
                                                    <p class="small text-success">
                                                        @(birinci.Value / ((SeacrhDTO)TempData["SeachTDO"]).Day)
                                                    </p>
                                                    <p class="small mb-1">@(((SeacrhDTO)TempData["SeachTDO"]).Day) Gece Fiyatı</p>
                                                    <div class="hastane-fiyat__tutar text-primary">@(birinci.Value)</div>
                                                </div>

                                                <button onclick="makeReservation('@tourismmCompany.Id')" class="btn btn-success btn-xs btn-sm">Yer Seç</button>

                                            </div>
                                        </div>
                                        <!-- Hastane Fiyat -->
                                    </div>
                                </div>
                            </div>
                            <!-- Tab Göster/Gizle -->
                            <div class="row adverHideShow">
                                <div class="col">
                                    <!-- Tablar -->
                                    <div class="nav nav-tabs tab-modern border-top mb-4 tab-linkleri" role="tablist" aria-orientation="vertical">
                                        <a class="nav-link h6 small tab-modern__nav-link mb-0 active" id="hakkinda-@tourismmCompany.Id-tab" data-toggle="pill" href="#genel-@tourismmCompany.Id" role="tab" aria-controls="genel-1" aria-selected="true">Hakkında</a>
                                        <a class="nav-link h6 small tab-modern__nav-link mb-0" id="fotograflar-@tourismmCompany.Id-tab" data-toggle="pill" href="#fotograflar-@tourismmCompany.Id" role="tab" aria-controls="fotograflar-1" aria-selected="false">Fotoğraflar</a>
                                        <a class="nav-link h6 small tab-modern__nav-link mb-0" id="kurallar-@tourismmCompany.Id-tab" data-toggle="pill" href="#kurallar-@tourismmCompany.Id" role="tab" aria-controls="kurallar-1" aria-selected="false">Kurallar</a>
                                        <a class="nav-link h6 small tab-modern__nav-link mb-0" id="yer-secimi-@tourismmCompany.Id-tab" data-toggle="pill" href="#yer-secimi-@tourismmCompany.Id" role="tab" aria-controls="yer-secimi-1" aria-selected="false">Yer Seçimi</a>
                                        <a class="nav-link h6 small tab-modern__nav-link mb-0" id="yorumlar-@tourismmCompany.Id-tab" data-toggle="pill" href="#yorumlar-@tourismmCompany.Id" role="tab" aria-controls="yorumlar-@tourismmCompany.Id" aria-selected="false">Yorumlar</a>
                                        <button onclick="AdvetTabHide(this)" class="nav-link h6 small tab-modern__nav-link mb-0" style="position: absolute;right: 15px;">X</button>
                                    </div>
                                    <!-- Tablar Sonu -->
                                    <!-- Tab İçerikler -->
                                    <div class="tab-content">
                                        <div class="tab-pane fade pr-4 pb-4 pl-4 active show" id="genel-@tourismmCompany.Id" role="tabpanel" aria-labelledby="hakkinda-@tourismmCompany.Id-tab">
                                            <div class="row mb-4">
                                                <div class="col-md-4 border-right">
                                                    <div class="row pt-3">
                                                        <div class="col-sm-7">
                                                            <h6 class="text-success">
                                                                Kuruluş Tarihi
                                                            </h6>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <p class="small mb-0">: @(tourismmCompany.EstablishmentDate != null ? tourismmCompany.EstablishmentDate.Value.Year.ToString() : "")</p>
                                                        </div>
                                                        <div class="col-sm-7">
                                                            <h6 class="text-success">
                                                                Renovasyon Tarihi
                                                            </h6>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <p class="small mb-0">: @(tourismmCompany.RenovationDate != null ? tourismmCompany.RenovationDate.Value.Year.ToString() : "")</p>
                                                        </div>
                                                        <div class="col-sm-7">
                                                            <h6 class="text-success">
                                                                Tema
                                                            </h6>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <p class="small mb-0">: @(tourismmCompany.TourismThema == null ? "" : tourismmCompany.TourismThema.ThemeName)</p>
                                                        </div>
                                                        <div class="col-sm-7">
                                                            <h6 class="text-success">
                                                                m<sup>2</sup> alan
                                                            </h6>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <p class="small mb-0">: @tourismmCompany.AreaM2</p>
                                                        </div>

                                                        <div class="col-sm-7">
                                                            <h6 class="text-success">
                                                                Oda Sayısı
                                                            </h6>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <p class="small mb-0">: @tourismmCompany.RoomCapacity</p>
                                                        </div>

                                                        <div class="col-sm-7">
                                                            <h6 class="text-success">
                                                                Yatak Kapasitesi
                                                            </h6>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <p class="small mb-0">: @tourismmCompany.BedCapacity</p>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="row">
                                                        @foreach(var scopes in tourismmCompany.TourismScopes)
                                                        {
                                                            <div class="col-md-6">
                                                                <div class="d-table text-gray-700 font-size-14">
                                                                    <div class="d-table-row">
                                                                        <div class="d-table-cell">@scopes.Scopes</div>
                                                                        <div class="d-table-cell" style="width: 70px;">: Var</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <h6 class="koyu-yesil">Açıklamalar</h6>
                                                    <p class="small">
                                                        @tourismmCompany.DescriptionTurkish
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="fotograflar-@tourismmCompany.Id" role="tabpanel" aria-labelledby="fotograflar-1-tab">
                                            <div class="fotograf-wrapper hotel-wrapper p-3">
                                                <div class="row">
                                                    @foreach(var pictureGallery in tourismmCompany.PictureGalleries)
                                                    {
                                                        <div class="col-md-2 col-sm-4 mb-3">
                                                            <a href="/Data/@pictureGallery.Name" data-fancybox="foto-galeri-1">
                                                                <img src="/Data/@pictureGallery.Name" class="img-fluid">
                                                            </a>
                                                        </div>

                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="kurallar-@tourismmCompany.Id" role="tabpanel" aria-labelledby="kurallar-@tourismmCompany.Id-tab">
                                            <div class="row p-3 font-size-14 text-gray-700">
                                                <div class="col-md-4 border-md-right">
                                                    <div class="d-table">
                                                        <div class="d-table-row">
                                                            <div class="d-table-cell">Tesis Giriş</div>
                                                            <div class="d-table-cell" style="width: 50px;">: @tourismmCompany.CheckInTime</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 border-md-right">
                                                    <div class="d-table">
                                                        <div class="d-table-row">
                                                            <div class="d-table-cell">Tesis Çıkış</div>
                                                            <div class="d-table-cell" style="width: 50px;">: @tourismmCompany.CheckOutTime</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @{int j = 1;}
                                                @foreach(var rule in (List<TourismRule>)ViewBag.Rules)
                                                {
                                                    if(j % 3 == 1)
                                                    {
                                                        <div class="col-md-4">
                                                            <div class="d-table">
                                                                <div class="d-table-row">
                                                                    <div class="d-table-cell">@rule.Name</div>
                                                                    @if(tourismmCompany.TourismRules.Contains(rule))
                                                                    {
                                                                        <div class="d-table-cell" style="width: 50px;">: Evet</div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="d-table-cell" style="width: 50px;">: Hayır</div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-md-4 border-md-right">
                                                            <div class="d-table">
                                                                <div class="d-table-row">
                                                                    <div class="d-table-cell">@rule.Name</div>
                                                                    @if(tourismmCompany.TourismRules.Contains(rule))
                                                                    {
                                                                        <div class="d-table-cell" style="width: 50px;">: Evet</div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="d-table-cell" style="width: 50px;">: Hayır</div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    j++;
                                                }
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="yer-secimi-@tourismmCompany.Id" role="tabpanel" aria-labelledby="yer-secimi-@tourismmCompany.Id-tab">
                                            <div class="yer-secimi-wrapper p-3">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <p class="font-size-14 text-gray-700">
                                                            Tesiste 09 - 14 Aralık 2019 tarihleri arasında grubunuza uygun odalar
                                                        </p>
                                                        <h6 class="koyu-yesil">Kişi &amp; Grup <i class="fas fa-users koyu-yesil ml-2"></i></h6>

                                                        <div class="tablo">
                                                            <table class="table table-sm table-bordered text-center align-middle">
                                                                <thead>
                                                                    <tr class="bg-secondary text-white">
                                                                        <th class="text-left">Yer</th>
                                                                        <th>Öğün</th>
                                                                        <th>Oda Sayısı</th>
                                                                        <th>Yatak</th>
                                                                        <th>Banyo</th>
                                                                        <th>İptal Durumu</th>
                                                                        <th>Kişi</th>
                                                                        <th>Fiyat</th>
                                                                        <th class="bg-yesil">Seç</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach(var advertisement in tourismmCompany.TourismAdvertisements)
                                                                    {
                                                                        <tr>
                                                                            <td class="text-left pt-2" style="max-width: 200px;">
                                                                                <p class="font-weight-bold text-success mb-0">@advertisement.AdvertTitle - @advertisement.TourismAdvertisedAccommodation.TourismAccommodationType.Type</p>
                                                                                <p class="font-weight-bold small">Toplam @advertisement.InstantReservation Adet</p>
                                                                                @if(advertisement.BabyDiscount)
                                                                                {
                                                                                    <p class="font-weight-bold text-danger m-0">0-6 Yaş Ücretsiz </p>
                                                                                }
                                                                                @if(advertisement.ChildDiscount)
                                                                                {
                                                                                    <p class="font-weight-bold text-danger m-0">7-12 Yaş %50 İndirim </p>
                                                                                }

                                                                                <p class="font-weight-bold mb-1">Kolaylıklar</p>
                                                                                <p>
                                                                                    @foreach(var amenities in advertisement.TourismAmenities)
                                                                                    {
                                                                                        <text>@amenities.Name, </text>
                                                                                    }
                                                                                </p>
                                                                                <p class="font-weight-bold mb-1">Güvenlik</p>
                                                                                <p>
                                                                                    @foreach(var security in advertisement.TourismSecurities)
                                                                                    {
                                                                                        <text>@security.Name, </text>
                                                                                    }
                                                                                </p>
                                                                            </td>
                                                                            <td class="align-middle pt-2 ">@advertisement.TourismMealType.Type</td>
                                                                            <td class="pt-2 align-middle">
                                                                                @advertisement.TourismAdvertisedAccommodation.TourismAdvertisedRoomProperties.Count()
                                                                            </td>
                                                                            <td class="pt-2 align-middle">
                                                                                @foreach(var tourismAdvertisedBeds in advertisement.TourismAdvertisedAccommodation.TourismAdvertisedRoomProperties.Select(x => x.TourismAdvertisedBed))
                                                                                {
                                                                                    foreach(var tourismAdvertisedBed in tourismAdvertisedBeds)
                                                                                    {
                                                                                        <p class="mb-0">
                                                                                            @tourismAdvertisedBed.Quantity @tourismAdvertisedBed.TourismBedType.Type <img src="/Content/assets/img/svg/@tourismAdvertisedBed.TourismBedType.Image" class="otel-icon">
                                                                                        </p>

                                                                                    }
                                                                                }
                                                                            </td>
                                                                            <td class="pt-2 align-middle">
                                                                                @{
                                                                                    var bathrooms = advertisement.Bathroom.Split(',');
                                                                                    int ozel = 0, ortak = 0;
                                                                                    foreach(var bathroom in bathrooms)
                                                                                    {
                                                                                        if(bathroom == "Özel")
                                                                                        {
                                                                                            ozel++;
                                                                                        }
                                                                                        else if(bathroom == "Ortak")
                                                                                        {
                                                                                            ortak++;
                                                                                        }
                                                                                    }
                                                                                    if(ozel > 0)
                                                                                    {
                                                                                        <p class="mb-0">
                                                                                            @ozel Özel
                                                                                        </p>
                                                                                    }
                                                                                    if(ortak > 0)
                                                                                    {
                                                                                        <p class="mb-0">
                                                                                            @ortak Ortak
                                                                                        </p>
                                                                                    }
                                                                                }
                                                                            </td>
                                                                            <td class="align-middle">
                                                                                @if(advertisement.CancellationPolicy == "Katı")
                                                                                {
                                                                                    <p class="mb-0">
                                                                                        İade Yapılmaz
                                                                                    </p>
                                                                                }
                                                                                else if(advertisement.CancellationPolicy == "Yarı Esnek")
                                                                                {
                                                                                    <p class="mb-0">
                                                                                        %50 Ücret İade
                                                                                    </p>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <p class="mb-0">
                                                                                        Ücretsiz İade
                                                                                    </p>
                                                                                }
                                                                            </td>
                                                                            <td class="align-middle">
                                                                                <table class="table table-sm table-borderless text-center m-0">
                                                                                    @if(advertisement.TourismPriceTypeId == 1)//gecelik kişi fiyatı
                                                                                    {
                                                                                        foreach(var prices in advertisement.TourismAdvertisedPersonPrices)
                                                                                        {
                                                                                            if(prices.Price != 0 && prices.Price != null)
                                                                                            {
                                                                                                <tr class="border-bottom">
                                                                                                    <td>
                                                                                                        @prices.Key
                                                                                                        X <i class="fas fa-user"></i>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <tr>
                                                                                            <td>
                                                                                                @advertisement.GuestCount
                                                                                                X <i class="fas fa-user"></i>
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                </table>
                                                                            </td>
                                                                            <td class="align-middle">
                                                                                <table class="table table-sm table-borderless m-0 text-center">
                                                                                    @if(advertisement.TourismPriceTypeId == 1)//gecelik kişi fiyatı
                                                                                    {
                                                                                        foreach(var prices in advertisement.TourismAdvertisedPersonPrices)
                                                                                        {
                                                                                            if(prices.Price != 0 && prices.Price != null)
                                                                                            {
                                                                                                <tr class="border-bottom">
                                                                                                    <td>
                                                                                                        @prices.Price
                                                                                                    </td>
                                                                                                </tr>
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <tr>
                                                                                            <td>
                                                                                                @advertisement.NightPrice
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                </table>
                                                                            </td>
                                                                            <td class=" align-middle">
                                                                                <table class="table table-sm table-borderless m-0 text-center">
                                                                                    @if(advertisement.TourismPriceTypeId == 1)//gecelik kişi fiyatı
                                                                                    {
                                                                                        <tr style="display: none;">
                                                                                            <td>
                                                                                                <input type="hidden" value="@advertisement.InstantReservation" />
                                                                                            </td>
                                                                                        </tr>

                                                                                        foreach(var prices in advertisement.TourismAdvertisedPersonPrices)
                                                                                        {
                                                                                            if(prices.Price != 0 && prices.Price != null)
                                                                                            {
                                                                                                <tr class="border-bottom">
                                                                                                    @if(advertisement.InstantReservation > 0)
                                                                                                    {
                                                                                                        <td class="p-0">
                                                                                                            <select onchange="roomChange(this)" class="tablo-select" style="height:23px">
                                                                                                                <option value="0" selected>0</option>
                                                                                                                @for(int i = 0; i < advertisement.InstantReservation;)
                                                                                                                {
                                                                                                                    <option value="@(++i)">@(i)</option>
                                                                                                                }
                                                                                                            </select>
                                                                                                        </td>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <td class="p-0">
                                                                                                            <a href="#">Yer Sor</a>
                                                                                                        </td>
                                                                                                    }
                                                                                                </tr>
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <tr>
                                                                                            @if(advertisement.InstantReservation > 0)
                                                                                            {
                                                                                                <td class="p-0">
                                                                                                    <select class="tablo-select" style="height:23px">
                                                                                                        <option value="0" selected>0</option>
                                                                                                        @for(int i = 0; i < advertisement.InstantReservation;)
                                                                                                        {
                                                                                                            <option value="@(++i)">@(i)</option>
                                                                                                        }
                                                                                                    </select>
                                                                                                </td>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <td class="p-0">
                                                                                                    <a href="#">Yer Sor</a>
                                                                                                </td>
                                                                                            }
                                                                                        </tr>
                                                                                    }
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>


                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="alert alert-secondary text-center" style="padding:9px" role="alert">
                                                                    <h6 class="text-muted m-0"><span class="koyu-yesil">@(((SeacrhDTO)TempData["SeachTDO"]).AdultCount) Yetişkin @(((SeacrhDTO)TempData["SeachTDO"]).ChildCount > 0 ? ((SeacrhDTO)TempData["SeachTDO"]).ChildCount + " Çocuk" : "")</span> için <span class="koyu-yesil">(@(((SeacrhDTO)TempData["SeachTDO"]).CheckIn)) - (@(((SeacrhDTO)TempData["SeachTDO"]).CheckIn))</span> tarihleri arasında</h6>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1 text-center">
                                                                <i class="fas fa-angle-double-right" style="font-size: 43px;"></i>
                                                            </div>
                                                            <div class="col-md-3 float-right">
                                                                <button class="btn btn-success btn-sm btn-block">Rezervasyon Yap</button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="tab-pane fade" id="yorumlar-@tourismmCompany.Id" role="tabpanel" aria-labelledby="yorumlar-@tourismmCompany.Id-tab">
                                            <div class="yorumlar-wrapper p-3">
                                                <div class="row">
                                                    <div class="col">

                                                        <div class="card mb-3">
                                                            <div class="media card-body">
                                                                <img class="u-lg-avatar rounded-circle mr-4" src="/Content/assets/img/100x100/img1.jpg" alt="Yorum">
                                                                <div class="media-body">
                                                                    <h4 class="h6">Sevim Güler <span class="yorum-tarih text-success ml-3">04 Ekim 2019</span></h4>
                                                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates atque amet corrupti explicabo magni nihil, odit quo quos? Perspiciatis a cum, molestiae aperiam ea assumenda voluptatum quasi quis unde modi.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card mb-3">
                                                            <div class="media card-body">
                                                                <img class="u-lg-avatar rounded-circle mr-4" src="/Content/assets/img/100x100/img2.jpg" alt="Yorum">
                                                                <div class="media-body">
                                                                    <h4 class="h6">Nalan Kapmaz <span class="yorum-tarih text-success ml-3">04 Ekim 2019</span></h4>
                                                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, recusandae asperiores. Assumenda cumque veritatis magnam, saepe quisquam quod vero doloremque, dicta vel id in mollitia dolorem recusandae quaerat aliquid officia.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card mb-3">
                                                            <div class="media card-body">
                                                                <img class="u-lg-avatar rounded-circle mr-4" src="/Content/assets/img/100x100/img3.jpg" alt="Yorum">
                                                                <div class="media-body">
                                                                    <h4 class="h6">Deniz Sancak <span class="yorum-tarih text-success ml-3">04 Ekim 2019</span></h4>
                                                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure pariatur cupiditate aspernatur mollitia consequatur totam dignissimos quae cumque nihil possimus nisi atque molestiae similique qui, itaque corrupti magni libero quidem.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card mb-3">
                                                            <div class="media card-body">
                                                                <img class="u-lg-avatar rounded-circle mr-4" src="/Content/assets/img/100x100/img4.jpg" alt="Yorum">
                                                                <div class="media-body">
                                                                    <h4 class="h6">Mehmet Kaplan <span class="yorum-tarih text-success ml-3">04 Ekim 2019</span></h4>
                                                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates atque amet corrupti explicabo magni nihil, odit quo quos? Perspiciatis a cum, molestiae aperiam ea assumenda voluptatum quasi quis unde modi.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card mb-3">
                                                            <div class="media card-body">
                                                                <img class="u-lg-avatar rounded-circle mr-4" src="/Content/assets/img/100x100/img2.jpg" alt="Yorum">
                                                                <div class="media-body">
                                                                    <h4 class="h6">Çiğdem Uzuner <span class="yorum-tarih text-success ml-3">04 Ekim 2019</span></h4>
                                                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates atque amet corrupti explicabo magni nihil, odit quo quos? Perspiciatis a cum, molestiae aperiam ea assumenda voluptatum quasi quis unde modi.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card mb-3">
                                                            <div class="media card-body">
                                                                <img class="u-lg-avatar rounded-circle mr-4" src="/Content/assets/img/100x100/img1.jpg" alt="Yorum">
                                                                <div class="media-body">
                                                                    <h4 class="h6">Meliha Dirlik <span class="yorum-tarih text-success ml-3">04 Ekim 2019</span></h4>
                                                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates atque amet corrupti explicabo magni nihil, odit quo quos? Perspiciatis a cum, molestiae aperiam ea assumenda voluptatum quasi quis unde modi.</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <!-- Tab İçerikler Sonu -->
                                </div>
                            </div>
                            <!-- Tab Göster/Gizle -->
                        </div>
                    </div>
                </div>

            }
        </div>
        <!-- SIDEBAR -->
        @Html.Action("_TourismFilter")
    </div>
</div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Konum</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 32px;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <div id="map" class="form-control" style="height:300px">
                            </div>
                        </div>
                    </div>
                </div>

                <script>

                    function initMap(lat, lng) {
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 12,
                            center: { lat: lat, lng: lng }
                        });

                        var pt = new google.maps.LatLng(lat, lng);

                        var marker = new google.maps.Marker({
                            map: map,
                            position: pt,
                            draggable: true

                        });

                    }
                </script>
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTO41MtgDHhc5n5c5Ors50kElMkeYwLAQ&callback=initMap"></script>

            </div>
        </div>
    </div>
</div>


@section tourismJs{
    <script>
        $(document).ready(function () {
            $("#_check_in").datepicker({
                format: "dd.mm.yyyy",
            });

            $("#_check_out").datepicker({
                format: "dd.mm.yyyy",
            });

            $(".datepickerFormat").datepicker({
                format: "dd.mm.yyyy",
            });

            $(document).ready(function () {
                $(".adverHideShow").hide()
            })

        });

        function makeReservation(id) {
            $("#yer-secimi-" + id + "-tab").parents(".adverHideShow").fadeIn();
            $("#yer-secimi-" + id + "-tab").trigger("click")
        }

        function about(id) {
            $("#hakkinda-" + id + "-tab").parents(".adverHideShow").fadeIn();
            $("#hakkinda-" + id + "-tab").trigger("click")
        }

        function comment(id) {
            $("#yorumlar-" + id + "-tab").parents(".adverHideShow").fadeIn();
            $("#yorumlar-" + id + "-tab").trigger("click")
        }

        function AdvetTabHide(e) {
            $(e).parents(".adverHideShow").fadeOut();
        }

        function roomChange(e) {
            var chanVal = $(e).parents("tbody").find("input[type=hidden]").val();
            var selects = $(e).parent().parent().parent().find("select");
            var total = 0;
            selects.each(function (key, val) {
                if (parseInt($(val).val()) > 0) {
                    total += parseInt($(val).val());
                }
            })
            var newRoomCount = chanVal - total + 1;
            selects.each(function (key, val) {
                var aaa = parseInt($(val).val());
                $(val).html("");
                $(val).append("<option value=" + 0 + ">" + 0 + "</option>")
                for (var i = 1; i < newRoomCount + aaa; i++) {
                    $(val).append("<option value=" + i + ">" + i + "</option>")
                }
                $(val).val(aaa);
            })
        }
    </script>
}